<div class="footer-wrapper">

    <footer id="footer" class="footer bg-gray-200" role="contentinfo">

        <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10">

            <p class="text-purple-900 pb-8 md:pb-0">
            
                <a href="/">{% if sfw %}{{ site.nameSfw }}{% else %}{{ site.name }}{% endif %}</a>
            
            </p>

            {#% include 'components/social-icons.njk' %#}

            <p>
                <a href="/contributors/">Contributors</a>
                &nbsp;
                <a href="/privacy/">Privacy Policy</a>
                &nbsp;
                <a href="/legal/">Legal Note</a>
            </p>

        </div>

        <div class="text-sm text-gray-500 flex justify-center py-6">
            <p>Proudly supported by <a class="text-gray-600 hover:text-pink-500" href="https://rocketloop.de/en" target="_blank">Rocketloop</a></p>
        </div>

    </footer>

</div>
