
//==========  Typography ==========//

// headings
h1, h2, h3 {
    @apply font-bold leading-tight mt-0 mb-6 text-purple-900;
}

.page-title {
	@apply text-4xl mb-4;

	@screen md {
		@apply text-6xl mb-6;
	}
}

.page-subtitle {
	@apply text-2xl mb-10 font-light text-gray-600;

	@screen md {
		@apply text-4xl;
	}
}

// content
.content {

	// paragraph
	p {
		@apply mb-8;
    }
}
