---
layout: default
meta_title: حركة لوقف جائحة كوفيد-19
meta_description: حكوماتنا لا تستطيع أن تفعل ذلك بمفردها، علينا أن نتحرك الآن! قم بدورك وابق في البيت!
body_class: home
title: '#اجلس_في_البيت'
lang: ar
---

<main dir="rtl" id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">حركة لوقف جائحة كوفيد-19</h2>

        <div class="content">

            <p class="text-xl">
                تقوم حكوماتنا ببطء بتنفيذ إجراءات للسيطرة على انتشار مرض السارس- CoV-2 واحتواء وباء كوفيد-19. ردود الفعل البطيئة، وسياسات التهدئة العامة، ودعوتهم لتحقيق الاستقرار في الاقتصاد، منعتهم من اتخاذ التدابير اللازمة لحماية الملايين من هذا المرض. ومع ذلك، فإنه ليس فقط عبء الحكومات لتحمله. لقد حان الوقت بالنسبة لنا، كمواطنين في هذه الأرض، أن نتحرك الآن ونقوم بدورنا في محاربة كوفيد-19.
                <br /><br />
                دعونا نقولها بصراحة: <strong>اجلس في البيت!</strong>
            </p>

            <h2 class="text-3xl">بيان الحجر الصحي الذاتي</h2>

            <p>
                مع عدم وجود علاج مدروس جيدًا ولقاح قابل للتطبيق لا يزال موجودًا لمدة عام آخر على الأقل، فإن الطريقة الفعالة الوحيدة للحد من وباء فيروس كورونا هو إعطاء الفيروس فرصًا أقل للانتشار. قائمة الإجراءات التالية، التي تم ترتيبها من الأسهل للتنفيذ إلى الأكثر فعالية في مكافحة الوباء، بمثابة مجموعة من المبادئ التوجيهية للأشخاص الذين يرغبون في الانضمام إلى الحركة واتخاذ الإجراءات التي يمكن أن تحدث فرقًا بالفعل.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">لا داعي للارتكاب، ولكن احترس.</li>
                <li class="pb-2">نظف يديك باستمرار ومارس النظافة الجيدة عند السعال والعطس.</li>
                <li class="pb-2">حاول عدم لمس وجهك قدر الإمكان، بما في ذلك فمك وأنفك وعينيك.</li>
                <li class="pb-2">تدرب على البعد الاجتماعي، لا عناق او قبلات، لا مصافح. إذا لزم الأمر، استخدم بدائل أكثر أمانًا.</li>
                <li class="pb-2">لا تحضر الحفلات الموسيقية أو المسرحيات أو الأحداث الرياضية أو أي أحداث ترفيهية أخرى.</li>
                <li class="pb-2">الامتناع عن زيارة المتاحف والمعارض ودور السينما والنوادي الليلية وأماكن الترفيه الأخرى.</li>
                <li class="pb-2">ابتعد عن التجمعات والفعاليات الاجتماعية ، مثل اجتماعات النادي والخدمات الدينية والحفلات الخاصة.</li>
                <li class="pb-2">قلل من السفر إلى الحد الأدنى. لا تسافر لمسافات طويلة إذا لم تكن ضرورية للغاية.</li>
                <li class="pb-2">لا تستخدم وسائل النقل العمومي إذا لم تكن ضرورية للغاية.</li>
                <li class="pb-2">إذا كنت تستطيع العمل من المنزل ، يمكنك العمل من المنزل. حث صاحب العمل على السماح بالعمل عن بعد إذا لزم الأمر.</li>
                <li class="pb-2">استبدل أكبر عدد ممكن من التفاعلات الاجتماعية ببدائل عن بعد مثل المكالمات الهاتفية أو محادثة الفيديو.</li>
                <li class="pb-2">لا تغادر منزلك إذا لم يكن ذلك ضروريًا للغاية.</li>
            </ol>

            <p class="text-xl">
                يرجى مراعاة أنه لا يوجد كم صحيح أو خاطئ من الإجراءات التي يجب اتخاذها. فقط اتخذ الإجراءات التي تشعر بالراحة معها والتي لا تعرض حياتك المعيشية للخطر. لا تترك عملك بسبب هذا! ومع ذلك، ضع في اعتبارك أن كل عمل يساعد.
            </p>

            <h2 class="text-3xl">لماذا هذا مهم جدا</h2>

            <p>
                سارس-(Cov-2) هو فيروس شديد العدوى ومميت، يسبب مرضًا تنفسيًا يسمى كوفيد-19. قد تعرفه تحت أحد أسماءه العديدة الأخرى، بما في ذلك 2019-nCoV، أو فيروس كورونا الجديد، كورونا "ووهان"، أنفلونزا الصين أو "ووهان"، أو ببساطة فيروس كورونا. كل هذا يشير إلى نفس الفيروس الذي تحاول هذه الحركة إيقافه.
            </p>

            <p>
                خلال الأشهر والأسابيع الماضية، تمت مقارنة الفيروس والمرض الناتج عنه مرارًا وتكرارًا بفيروس الإنفلونزا والإنفلونزا الموسمية. بسبب التداخل في الأعراض والخطورة التي تبدو متشابهة، تأتي هذه المقارنة بشكل طبيعي لكثير من الناس، ومع ذلك، بالنظر إلى ما نعرفه حتى الآن عن هذا الفيروس الجديد، فإن التهديد الذي يشكله للمجتمع لا يتم التخلص منه بسهولة.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>أكثر عدوى من الأنفلونزا</h3>
                    <p class="font-normal">
                        مع تقدير R0 (العدد المتوقع للحالات الناتجة مباشرة عن حالة واحدة في مجموعة سكانية حيث يكون جميع الأفراد عرضة للإصابة) بين 1.4 - 6.49 ومتوسط تقدير 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        يعد سارس-(CoV-2) أكثر عدوى و ينتشر بشكل أسرع بكثير من الأنفلونزا الموسمية، التي يبلغ متوسطها بتقدير R0 الى 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>أكثر فتكا من الانفلونزا</h3>
                    <p class="font-normal">
                        يقدر معدل الوفيات (CFR) لـسارس-(CoV-2) بحوالي %2<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>،
                         مما يعني أنه لسوء الحظ، فإن ما يقدر بـ %2 من الأشخاص الذين تم تشخيص إصابتهم بـكوفيد-19 سوف يستسلمون له. وبالمقارنة، فإن معدل الإنفلونزا الموسمية للأنفلونزا الموسمية يقدر بحوالي 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, هذا يعني أن سارس-(CoV-2) يقدر بنحو 20 مرة أكثر فتكًا من الأنفلونزا الموسمية.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>إمكانية الأعراض الشديدة</h3>
                    <p class="font-normal">
                        يعاني ما يقدر بـ %15&ndash;20 من الأفراد المصابين من أعراض شديدة تتطلب عناية طبية<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>، بما في ذلك الالتهاب الرئوي، ضيق التنفس وخفض تشبع الأكسجين في الدم.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>لا علاج، لا لقاح، لا مناعة</h3>
                    <p class="font-normal">
                        نظرًا لظهور سارس-(CoV-2) مؤخرًا فقط، لا يوجد علاج مدروس جيدًا لـكوفيد-19 وهناك حاجة إلى مزيد من البحث من أجل علاج المصابين بكفاءة. وبالمثل، لا يوجد لقاح لمرض السارس-(CoV-2) حتى الآن<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        و سيستغرق تطوير هذا اللقاح فترة زمنية طويلة. مع عدم وجود لقاحات وعدم وجود مناعة مسبقة وواسعة الانتشار، فإن أي شخص هو عرضة للإصابة. في حين أن معظم المصابين سيعانون فقط من أعراض خفيفة، فإن نقص مناعة القطيع يمكن أن يؤدي إلى مرض شديد عند عدد كبير من الأفراد المعرضين للخطر. 
                    </p>
                </li>
                <li class="pb-2">
                    <h3>النمو المتسارع</h3>
                    <p class="font-normal">
                        بسبب عدم وجود المناعة ضد هذا الفيروس الجديد، فإن جميع البشر هو الحد الأعلى للعدوى المحتملة. وعلى الرغم من أن النمو المتسارع يبدو دائمًا بطيئًا في البداية، إلا أنه يمكن أن يؤدي إلى أعداد كبيرة لا يمكن فهمها في وقت قصير إلى حد ما. مع تضاعف أعداد المصابين حاليًا في غضون بضعة أيام<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>، من المحتمل أن تصبح أنظمتنا الطبية مثقلة، مما سيؤدي إلى ارتفاع عدد الوفيات، بسبب عدم تلقي المصابين للرعاية التي يحتاجون إليها.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                من خلال الانضمام إلى الحركة وبالتالي الحد من احتمالات الإصابة بالعدوى الجديدة، فأنت لا تحمي نفسك فقط، ولكنك تساعد أيضًا في احتواء الانتشار و الحد منه لجميع الأشخاص الآخرين، خاصة أولئك الذين هم أكثر عرضة للمعاناة من عواقب وخيمة من هذا الفيروس.<br /><br />
                
                <strong>إذا كنت تهتم بهذه القضية، يرجى مشاركتها على وسائل التواصل الاجتماعي، عبر البريد الإلكتروني أو أخبر أصدقائك وعائلتك عنها. لكن من فضلك ، فقط #اجلس_في_بيتك.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="mr-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                لأي شخص يريد المساهمة في موقع وحركة #اجلس_في_بيتك، قمنا بفتح النسخة الاصلية للموقع، حتى يتمكن الجميع من المساهمة. يمكن العثور على المحتوى على GitHub هنا: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                إذا كان لديك أي مدخلات أخرى بخصوص محتوى الموقع، فيرجى مراسلتنا على <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                فقط ضع في اعتبارك أننا نتلقى حاليًا الكثير من رسائل البريد الإلكتروني ، لذلك قد لا نرد عليك مباشرةً.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>إخلاء المسؤولية:</strong> لا يشكل محتوى هذا الموقع نصائح طبية. تهدف المعلومات المقدمة أعلاه إلى أن تكون اقتراحًا للأفراد المعنيين باتباع مجموعة من المبادئ التوجيهية بناءً على أفضل الممارسات والأدلة القولية لحماية أنفسهم وأحبائهم. لا يوجد أي ضمان أو دليل علمي على أن اتباع الإرشادات المذكورة سيؤدي إلى تقليل الإصابات الجديدة أو حتى إيقاف وباء كوفيد-19. لا يوجد أي ضمان بأن اتباع هذه الإرشادات سيقلل من خطر الإصابة بالسارس-(CoV-2) أو أي عدوى فيروسية أو بكتيرية أخرى. يتم إعطاء جميع المعلومات المقدمة على هذا الموقع بأفضل نية وإرادة لتوفير معلومات واقعية. لا يتحمل مشغلو موقع الويب بأي حال من الأحوال المسؤولية عن أي مطالبة أو أضرار أو التزامات أخرى. إذا كان لديك مخاوف أو تعليقات حول المعلومات المقدمة على هذا الموقع ، يرجى الكتابة إلى <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


