---
layout: default
meta_title: Pokret za zaustavljanje COVID-19 pandemije
meta_description: Pridonesi borbi i spasi živote ne radeći nista! Jednostavno ostani jebeno kod kuće!
body_class: home
title: '#StayTheFuckHome'
lang: en
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Pokret za zaustavljanje COVID-19 pandemije</h2>

        <div class="content">

            <p class="text-xl">
                Odgovorne agencije i medicinsko osoblje daju sve od sebe kako bi stavili pod kontrolu širenje 
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                 virusa i ograničili <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19 pandemiju.</a>
				Nije vrijeme za sebičnost, i dužnost je svakog građanina na cijelom planetu da pridonese ovoj borbi.
                <br /><br />
                Ovog puta stvarno ne treba napraviti puno da bi potencijalno spasio nečiji zivot, i reći ću ovo jednostavno tako da svatko može razumjeti: <strong>Ostani jebeno kod kuće!</strong>
            </p>

            <h2 class="text-3xl">Manifesto kućne karantene (samoizolacije)</h2>

            <p>
                Bez dobro testiranih tretmana liječenja i vjerojatnosti da dobijemo djelotvorno cjepivo jos bar godinu dana, jedini djelotvoran način 
                da se ova pandemija obuzda je dati ovom virusu manje šanse za širenje. Sljedeća lista je najučinkovitiji način za borbu protiv pandemije, i ove jednostavne stvari stvarno mogu pomoći da promijenimo stvari.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Bez panike!</li>
                <li class="pb-2">Redovito perite ruke. Ako kašljete ili kišete, radite to u lakat ili u maramicu.</li>
                <li class="pb-2">Pokušajte dirati vlastito lice što je manje moguće, pogotovo oči, usta i nos.</li>
                <li class="pb-2">Prakticirajte socijalno udaljavanje bez zagrljaja, poljubaca, rukovanja.</li>
                <li class="pb-2">Ne prisustvujte masovnim okupljanjima. Svijet neće propasti ako koji tjedan ne prisustvujete koncertima, sportskim dogadajima...</li>
                <li class="pb-2">Suzdržite se od posjeta muzejima, izložbama, kazalištima, kinima, klubovima, bircevima....</li>
                <li class="pb-2">Suzdržite se od odlaska na vjerske ceremonije i okupljanja.</li>
                <li class="pb-2">Suzdržite se od putovanja koliko je to god moguće.</li>
                <li class="pb-2">Ne koristite javni prijevoz osim ako je to prijeko potrebno.</li>
                <li class="pb-2">Ako je moguće radite od kuće.</li>
                <li class="pb-2">Probajte što je više moguće socijalnik interakcija zamijeniti (video) pozivima.</li>
                <li class="pb-2">Ne napustajte vlastitu kuću osim ako je to prijeko potrebno.</li>
            </ol>

            <p class="text-xl">
            	Naravno da se ne morate pridržavati apsolutno svih navedenih stvari. Pridržavajte se samo stvari koje ne ugrožavaju vašu vlastitu sigurnost.
            	Imajate jedino na umu da svaka, pa i najmanja stvar pomaže.
            </p>

            <h2 class="text-3xl">Zašto je to sve ovo tako važno</h2>

            <p>
                SARS-CoV-2 je izrazito zarazan i potencijalno smrtan virus koji uzrokuje bolest dišnih puteva zvanu COVID-19, popularno zvanu Koronavirus.
            </p>

            <p>
            	U proteklih par tjedana i mjeseci su virus i bolest koju uzrokuje često bili uspoređivani s prehladom i gripom. 
            	Simptopmi su izrazito slični i ova usporedba je prirodna za većinu ljudi, ali ako uzmemo u obzir sve što znamo do sada, prijetnja koju ova zaraza ima na društvo bi mogla 
            	biti puno veća.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Zaraznije od gripe</h3>
                    <p class="font-normal">
                    	Virus SARS-CoV-2 ima R0 (procjena na koliko ljudi će jedna osoba prenijeti zarazu) izmedu 1.4 &ndash; 6.49, a večina zaraženih pojedinaca zarazi 3.28 zdravih ljudi<sup><a class="source-link"
                          href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>.
                        Obična gripa ima R0 od 1.28<sup>
                        <a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Smrtonosnije od gripe</h3>
                    <p class="font-normal">
                        Procijenjena smrtnost SARS-CoV-2 je oko 2%<sup>
                        <a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        što znaci da će nažalost, svaki pedeseti čovjek koji se zarazi s COVID-19 umrijeti. 
                        Usporedbe radi, obična gripa ima smrtnost od 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, 
                        što znaci da je SARS-CoV-2 oko 20 puta smrtonosniji od obične gripe.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Mogućnost ozbiljnijih simptoma</h3>
                    <p class="font-normal">
                        U prosjeku 15 &ndash; 20% zaraženih pojedinaca iskusi ozbiljne simptopme koji zahtijevaju medicinsku pomoć <sup>
                        <a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, 
                         a uključuju upalu pluća, kratak dah i sniženu zasičenost krvi kisikom.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Ne postoji lijek, Ne postoji cijepivo, Ne postoji imunitet</h3>
                    <p class="font-normal">
                        Kako se SARS-CoV-2 pojavio relativno nedavno, ne postoji dovoljno studija COVID-19 bolesti i potrebno je jako puno istraživanja kako bi se bolest mogla
                        efikasno liječiti.
                        Takoder, cijepivo za SARS-CoV-2 ne postoji<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                         i za razvoj cijepiva će trebati jako puno vremena. Obzirom da cijepivo ne postoji i da apsolutno nitko nije imun na bolest (pošto ju nitko nije ranije prebolovao), svi su podložni zarazi.
                        I dok će većina oboljelih imati jako blage do umjerene simptome, stari i bolesni su u jako velikom riziku, i odgovornost je svih da bolest do njih uopće ni ne dođe. 
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Exponencijalan rast</h3>
                    <p class="font-normal">
                        Obzirom da imunitet na ovaj virus ne postoji, cijela ljudska populacija je gornja granica broja zaraženih. Iako se eksponencijalni rast čini spor u pocetku, vodi do 
                        nezamislivo velikih brojeva jako brzo (priča o izumitelju šaha i nagradom od jednog zrna riže na prvom polju, i duplo više nego na prethodnom na svakom nakon toga...).
                        Trenutno se broj zaraženih poduplava svakih par dana <sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/"
                         target="_blank">[7]</a></sup>, i broj umrlih će (potencijalno) drastično rasti pošto medicinske službe jednostavno neće moći svima potrebitima dati odgovarajuću skrb.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
            	Podržavanjem ovog pokreta ograničavate vjerojatnost novih infekcija i širenja zaraze, i samim time ne samo da štitite sebe i svoje bližnje, nego doslovno smanjujete mogućnost da 
            	virus zarazi one od najvećeg rizika - stare i nemoćne.<br /><br />
                
                <strong>Ako vam je stalo do ovoga, i željeli bi podržati ovaj pokret, podijelite ovo na socijalnim medijima. I molim vas, koliko je god moguće #ostaniJebenoKodKuće (#StayTheFuckHome).</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Ja ću dati svoj doprinos u borbi protiv #COVID19. Molim vas da učinite isto!"
                 data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28"
                 width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Ako itko želi prodonijeti stranici, GitHub repository je ovdje: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Ako imate ikakav prijedlog u vezi sadržaja stranice, molim pišite na <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a> (engleski) ili na 
                <a href="mailto:ostanijebenodoma@gmail.com">ostanijebenodoma@gmail.com</a>. Trenutno dobivamo nezamislivo puno mailova pa vam možda nećemo odgovoriti direktno.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> Sadržaj ove stranice ni u kom smislu se ne bi trebao smatrati medicinskim savjetom. Informacije su dane u najboljoj namjeri da pomognu zabrinutim
                 pojedincima da zaštite sebe i svoje voljene. Autor ni u kojem smislu ne garantira da će se pridržavanjem danih uputa smanjiti epidemija COVID-19. 
                 Nema takoder nikakvih garancija da će pojedinac pridržavanjem danih uputa smanjiti rizik infekcije sa SARS-CoV-2, ali i bilo kojom drugom bakterijom ili virusom.
                 Ova stranica niti itko od autora ni u kojem obliku nije odgovornan za bilo kakve potencijale štete nastale zbog prakticiranja ili pridržavanja uputa danih na ovoj stranici.
                 U slučaju bilo kakvih pitanja, molimo pišite na <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a> (engleski) ili na <a href="mailto:ostanijebenodoma@gmail.com">ostanijebenodoma@gmail.com</a>
            </p>

        </div>

    </section>

</main>


