---
layout: default
meta_title: Pokret za zaustavljanje COVID-19 pandemije
meta_description: Naše vlade to ne mogu učiniti same, sada moramo poduzeti mjere! Uradi svoj dio i stay the fuck home!
body_class: home
title: '#StayTheFuckHome'
lang: en
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Pokret za zaustavljanje COVID-19 pandemije</h2>

        <div class="content">

            <p class="text-xl">
                naše vlade tek polako sprovode mjere za kontrolu širenja
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                i suzbijanja <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19 pandemije</a>.
                Spore reakcije, politika javnih smirivanja i njihov nagon za stabilizacijom ekonomije sprečili su ih da preduzmu
                mjere potrebne za zaštitu miliona od ove bolesti. Međutim, to nije samo teret vlade.
                Vrijeme je da mi, kao građani ove zemlje, sada poduzmemo nešto i učinimo svoj dio borbe protiv COVID-19.
                <br /><br />
                Da to naglasimo: <strong>Stay The Fuck Home!</strong>
            </p>

            <h2 class="text-3xl">Manifesto o samo karanteni</h2>

            <p>
                Bez dobro proučenog liječenja i bez održivih cjepiva dostupnih najmanje još godinu dana, jedan efikasan način usporavanja
                pandemije je da se pruži virusu manje šanse za širenje. Sljedeći popis akcija se mogu najefikasnije
                implementirati u borbi protiv pandemije. Treba služiti kao skup smjernica za ljude koji žele da pomognu svima.
                </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Ne paničite, ali budite oprezni</li>
                <li class="pb-2">Često perite ruke i vježbajte dobar etiket kašljanja i kihanja.</li>
                <li class="pb-2">Dodirujte svoje lice što je manje moguće, uključujući usta, nos i oči.</li>
                <li class="pb-2">Vježbajte društveno distanciranje, bez zagrljaja i poljubaca, bez rukovanja, bez high five. Ako morate, koristite sigurnije alternative.</li>
                <li class="pb-2">Ne prisustvujte koncertima, pozorišnim igrama, sportskim događajima ili bilo kojim drugim masovnim zabavnim događajima.</li>
                <li class="pb-2">Uzdržite se od posjeta muzejima, izložbama, kinima, noćnim klubovima i drugim mjestima za zabavu.</li>
                <li class="pb-2">Držite se podalje od društvenih okupljanja i događanja, poput klupskih sastanaka, vjerskih službi i privatnih zabava.</li>
                <li class="pb-2">Smanjite putovanje na minimum. Ne putujte na velike udaljenosti ako nije apsolutno neophodno.</li>
                <li class="pb-2">Ne koristite javni prevoz ako nije apsolutno neophodno.</li>
                <li class="pb-2">Ako možete raditi od kuće, radite od kuće. Potražite od svog poslodavca da omogući rad na daljinu.</li>
                <li class="pb-2">Zamijenite što više društvenih interakcija alternativama poput telefonskih poziva ili video chatova.</li>
                <li class="pb-2">Ne napuštajte kuću osim ako to nije apsolutno neophodno.</li>
            </ol>

            <p class="text-xl">
                Imajte na umu da nema ispravnog ili pogrešnog broja akcija. Poduzmite samo one radnje u kojima se osjećate ugodno i koji vam ne ugrožavaju život.<strong>Ne odustajte od posla zbog ovoga !</strong>
                Imajte na umu da svaka akcija pomaže.
            </p>

            <h2 class="text-3xl">Zašto je to tako važno</h2>

            <p>
                SARS-CoV-2 je visoko zarazan i potencijalno smrtonosan virus koji izaziva respiratornu bolest zvanu COVID-19.
                Možda ga znate pod nekim od njegovih mnogih drugih imena, uključujući 2019-nCoV, novi koronavirus, Wuhan koronavirus, Wuhan gripa, ili jednostavno koronavirus.
                Sve se ovo odnosi na isti virus koji ovaj pokret pokušava zaustaviti.
            </p>

            <p>
                U posljednjih nekoliko mjeseci i sedmica virus i odgovarajuća bolest uspoređivali su se s virusom gripe i sezonskom gripom.
                 Zbog preklapanja u simptomima i naizgled slične ozbiljnosti, ovo uspoređivanje dolazi kod mnogih ljudi,
                 međutim, gledajući ono što do sada znamo o ovom novom virusu, pretnja koju on predstavlja društvu nije lako ukloniti.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Zaraznije od gripe</h3>
                    <p class="font-normal">
                        Sa procjenjenim R0 (očekivani broj slučajeva direktno generiranih jednim slučajem u populaciji u kojoj su svi pojedinci osjetljivi na infekciju) između 1.4 &ndash; 6.49 i srednje procjene od 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        SARS-CoV-2 mnogo je zaraznije i širi se mnogo brže od sezonske gripe koji ima medijan R0 of 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Smrtonosniji od gripe</h3>
                    <p class="font-normal">
                        takozvana stopa smrtnosti za slučaj (CFR) of SARS-CoV-2 procjenjuje se da je oko 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        što znači da procijenjenih 2% ljudi koji se dijagnosticiraju sa COVID-19 će podleći. u poređenju CFR sezonske gripe 
                        je oko 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, što znači, po procjeni da je SARS-CoV-2 20 puta smrtonosniji od gripe.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Mogućnost jakih simptoma</h3>
                    <p class="font-normal">
                        Procjenjenih 15 &ndash; 20% zaraženih osoba pate od teških simptoma zbog kojih je potrebna medicinska pomoć<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, uključujući pneumoniju, nedostatak daha i smanjenom zasićenošću krvi kisikom.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Nema tretmana, nema vakcine, nema imuniteta</h3>
                    <p class="font-normal">
                        Kako se SARS-CoV-2 tek nedavno pojavio, ne postoji dobro proučen tretman za COVID-19 i potrebno je više istraživanja kako bi se efikasno liječilo zaražene ljude.
                        Isto tako, za sada ne postoji vakcina za SARS-CoV-2 <sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        a razvoj takve vakcine trajat će mnogo vremena. Bez vakcine i prethodno raširenog imuniteta, svi su osjetljiva meta infekcije.
                        While most infected people will only suffer from mild symptoms, this lack of herd-immunity can lead to severe illness in a significant number of at-risk individuals. 
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Eksponencijalni rast</h3>
                    <p class="font-normal">
                        Zbog nedostatka imuniteta prema ovom novom virusu, cijela ljudska populacija je na gornjoj granici mogućih infekcija. Iako se eksponencijalni rast u početku uvijek čini spor,
                        to može dovesti do neuobičajeno visokih brojeva u prilično kratkom vremenu. Broj zaraženih ljudi udvostručuje se u nekoliko 
                        dana<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, naši medicinski sistemi će potencijalno
                         biti preopterećeni, što će dovesti do većeg broja smrtnih slučajeva zbog ljudi koji ne primaju njegu koja im je potrebna.
              
              </p>
                </li>
            </ol>

            <p class="text-2xl">
                Uključivanjem u pokret i ograničavanjem mogućnosti novih infekcija ne samo da se zaštitite, nego također pomažete u suzbijanju i ograničavanju širenja za sve ostale,
                 posebno oni koji su izloženi većem riziku da pretrpe teške posljedice ovog virusa.<br /><br />
                
                <strong>Ako vam je stalo do ovog razloga, podijelite ga na društvenim mrežama, putem e-maila ili samo recite svojim prijateljima i porodici o tome. Ali molimo vas, samo#StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Za sve koji žele dati svoj doprinos #StayTheFuckHome pokretu, imamo web lokaciju s otvorenim izvorima tako da svi mogu dati svoj doprinos. The GitHub repository možete pronaći ovdje: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Ako imate bilo koje druge ideje ili prijedloge u vezi sa sadržajem veb stranice, pišite nam na <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Samo imajte na umu da trenutno primamo puno emaila, tako da se možda nećemo odmah direktno obratiti vama.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> Sadržaj ove web stranice ne predstavlja medicinski savjet. Gore navedene informacije znače samo kao prijedlog zabrinutim pojedincima i
                 zasnovane su na najboljim praksama i anegdotskim dokazima da zaštitite sebe i svoje najmilije. Nema garancija ili znanstvenih dokaza da će spomenute informacije dovesti do smanjenja
                novih infekcija ili čak zaustaviti COVID-19 epidemiju. Također ne postoji garancija da će slijeđenje ovih savjeta i prijedloga smanjiti rizik od zaraze SARS-CoV-2 ili bilo kojom drugom virusnom ili bakterijskom zarazom.
                Sve informacije na ovoj web stranici daju se s najboljom namjerom i voljom za pružanjem činjeničnih podataka. Ni u kojem slučaju operateri web stranica ne snose odgovornost za bilo kakve zahtjeve, štetu ili druge obaveze. Ako imate zabrinutosti ili komentar o podacima koji se pružaju na ovoj web stranici,
                kontaktirajte<a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>
