---
layout: default
meta_title: Our Contributors
meta_description: No movement exists without a great community behind it. You rock! ❤️
body_class: home
title: 'Our Contributors'
lang: en
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">No movement exists without a great community behind it</h2>

        <div class="content">

            <p class="text-xl">
                We want to thank all contributors that have helped and continue to help with the content and translated version of the #StayTheFuckHome website.
                <br />
                These are the awesome people that have made this movement happen (in no particular order):
            </p>

            <ul class="text-xl mb-12 list-disc pl-12 col-count-1 md:col-count-2">
                <li class="pb-2">SotirisBK</li>
                <li class="pb-2">Ellie X</li>
                <li class="pb-2">Elisavet R.</li>
                <li class="pb-2">Lihong Ma</li>
                <li class="pb-2">Raúl Pedro Fernandes Santos</li>
                <li class="pb-2">Afonso Homem de Matos</li>
                <li class="pb-2">Manuela Silva</li>
                <li class="pb-2">Anna Strzelecka</li>
                <li class="pb-2">Gniewomir Świechowski</li>
                <li class="pb-2">Kamil Gwóźdź</li>
                <li class="pb-2">Mikołaj Wróbel</li>
                <li class="pb-2">Marta Szymczyk</li>
                <li class="pb-2">Andrea Gaglione</li>
                <li class="pb-2">Anna Mityureva</li>
                <li class="pb-2">Caesar K</li>
                <li class="pb-2">Catharina Köhler</li>
                <li class="pb-2">Atiyeh Beckenbach</li>
                <li class="pb-2">Max Beckenbach</li>
                <li class="pb-2">Laurent Lieben</li>
                <li class="pb-2">Phuoc Pham</li>
                <li class="pb-2">Patricia Golianova</li>
                <li class="pb-2">Angelo Koutoumanos</li>
                <li class="pb-2">Espen Sae-Tang Ottersen</li>
                <li class="pb-2">Daniel Dybing</li>
                <li class="pb-2">Thomas Rognes</li>
                <li class="pb-2">Evgenia Papoulia</li>
                <li class="pb-2">Xenia Makri</li>
                <li class="pb-2">Madina Malahayati Chumaera</li>
                <li class="pb-2">Resi Respati</li>
                <li class="pb-2">Muhammad Rizki A</li>
                <li class="pb-2">Ratih Cahyani</li>
                <li class="pb-2">Irida Shyti</li>
                <li class="pb-2">Diya</li>
                <li class="pb-2">Arie Prasetyo</li>
                <li class="pb-2">Ярослав Концевий</li>
                <li class="pb-2">Вікторія Концева</li>
                <li class="pb-2">Ayse Tuncay</li>
                <li class="pb-2">TJ Yu</li>
                <li class="pb-2">Martina Russo</li>
                <li class="pb-2">András</li>
                <li class="pb-2">Juli</li>
                <li class="pb-2">Levente</li>
                <li class="pb-2">Patrick Keaton</li>
                <li class="pb-2">Jorge Rubio Moreno</li>
                <li class="pb-2">Patrick Helmig</li>
                <li class="pb-2">Harry Reifschneider</li>
                <li class="pb-2">Alex Augustin</li>
                <li class="pb-2">Vadym Moshynskyi</li>
                <li class="pb-2">Kamil Gwóźdź</li>
                <li class="pb-2">Adli TAKKAL BATAILLE</li>
                <li class="pb-2">Daniel Dybing</li>
                <li class="pb-2">Zarchi</li>
                <li class="pb-2">Juan Ignacio Cuiule</li>
                <li class="pb-2">Michal Fabik</li>
                <li class="pb-2">Allie Hunts</li>
                <li class="pb-2">Florian Reifschneider</li>
                <li class="pb-2">Zao Gurchiani</li>
            </ul>

            <p>
                We also want to thank everyone that contributed to our movement and decided to remain anonymous. You rock! ❤️
            </p>

            <p>
                If you think you should be listed here, please write us to <a href="mailto:attribution@staythefuckhome.com">attribution@staythefuckhome.com</a>
            </p>

        </div>

    </section>

</main>


