---
layout: default
meta_title: Hnutí za zastavení pandemie COVID-19
meta_description: Naše vlády to samy nezvládnou, musíme jednat teď hned! Splňte svou roli a zůstaňte kurva doma!
body_class: home
title: '#ZůstaňKurvaDoma'
lang: cs
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Hnutí za zastavení pandemie COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Naše vlády jen pomalu zavádějí opatření pro zpomalení šíření viru
                <a href="https://cs.wikipedia.org/wiki/SARS-CoV-2">SARS-CoV-2</a>
                a omezení pandemie <a href="https://cs.wikipedia.org/wiki/COVID-19">nemoci COVID-19</a>.
                Pomalé reakce, politika uklidňování veřejnosti a touha stabilizovat ekonomiku jim brání v tom, aby naplno chránily miliony lidí před touto nemocí. Všechna tíha však neleží na vládě.
                Je čas, abychom my, jakožto občané této Země, začali něco dělat a stali se součástí boje proti COVID-19.
                <br /><br />
                Řekněme to otevřeně: <strong>Zůstaň, kurva, doma!</strong>
            </p>

            <h2 class="text-3xl">Manifest samokarantény</h2>

            <p>
                Vzhledem k tomu, že neexistují dostatečně prozkoumané metody léčby a účinná vakcína nebude dostupná dříve než za rok, jediný efektivní způsob, jak udržet koronavirovou pandemii pod kontrolou je dát viru co nejmenší šanci se šířit. Následující seznam opatření, od těch, jejichž zavedení je nejjednodušší po ty nejefektivnější v boji proti pandemii, by měl sloužit jako jednoduché rady pro lidi, kteří se chtějí k hnutí připojit a udělat něco, co může mít skutečný význam.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Nepanikař, ale buď ve střehu.</li>
                <li class="pb-2">Myj si často ruce, při kašli a kýchání si zakryj ústa a nos rukávem nebo kapesníkem, ne dlaní.</li>
                <li class="pb-2">Snažte se co nejméně se dotýkat obličeje, zejména úst, nosu a očí.</li>
                <li class="pb-2">Pozor na vzájemné dotyky a osobní prostor. Žádná obětí a polibky, podávání rukou, high fives. Když to musí být, použij bezpečnější alternativy.</li>
                <li class="pb-2">Odlož účast na koncertech, divadelních představeních, sportovních utkáních a jiných masových zábavních akcích.</li>
                <li class="pb-2">Zdrž se návštěv muzejí, výstav, kin, nočních klubů a jiných zábavních prostor.</li>
                <li class="pb-2">Drž se dál od společenských sešlostí a akcí jako jsou klubové schůze, bohoslužby a soukromé večírky.</li>
                <li class="pb-2">Cestování omez na minimum. Necestuj na dlouhé vzdálenosti, pokud to není nevyhnutelné.</li>
                <li class="pb-2">Nepoužívej hromadnou dopravu, pokud to není nevyhnutelné.</li>
                <li class="pb-2">Pokud můžeš pracovat z domova, pracuj z domova. Pokud je to nutné, snaž se přimět svého zaměstnavatele, aby povolil práci z domova.</li>
                <li class="pb-2">Pokud to jde, využij místo přímého setkání telefon nebo videokonferenci.</li>
                <li class="pb-2">Pokud to není nevyhnutelné, nevycházej vůbec ven.</li>
            </ol>

            <p class="text-xl">
                Mějte prosím na paměti, že není žádný správný ani špatný počet opatření, která přijmete. Přijmi jen ta opatření, se kterými jsi v souladu a která neohrožují tvé živobytí. <strong>Nedávej kvůli tomuto výpověď!</strong> Pamatuj však, že každé opatření může pomoct.
            </p>

            <h2 class="text-3xl">Proč je to tak důležité</h2>

            <p>
                SARS-CoV-2 je vysoce infekční a potenciálně smrtící virus, který způsobuje respirační onemocnění známé jako COVID-19.
                Možná jej znáte pod některým z mnoha jiných názvů, jako jsou 2019-nCoV, nový koronavirus, wuchanský koronavirus, čínská nebo wuchanská chřipka nebo prostě koronavirus.
                Všechny tyto názvy se vztahují ke stejnému viru, které se toto hnutí snaží zastavit.
            </p>

            <p>
                Během uplynulých týdnů a měsíců byly virus a nemoc, kterou způsobuje znova a znova přirovnávány k virům chřipky a sezónním chřipkovým epidemiím.
                Vzhledem k některým společným příznakům a podobně těžkému průběhu toto srovnání mnoha lidem přijde přirozené. Vzhledem k tomu, co o tomto novém viru nyní víme, však není radno podceňovat hrozbu, kterou pro společnost představuje.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Nakažlivější než chřipka</h3>
                    <p class="font-normal">
                        S odhadovanou hodnotou R0 (očekávaný počet případů přímo vyvolaných jedním případem v populaci, kde jsou všichni jedinci napadnutelní nákazou) mezi 1,4 a 6,49 a odhadovaným průměrem 3,28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        je SARS-CoV-2 mnohem nakažlivější a šíří se mnohem rychleji než sezónní chřipka, u které má R0 medián 1,28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Smrtelnější než chřipka</h3>
                    <p class="font-normal">
                        Takzvaná smrtnost viru SARS-CoV-2 se odhaduje kolem 2&nbsp;%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        což znamená, že 2&nbsp;% jedinců, u kterých je diagnostikována nemoc COVID-19, jí podlehnou. Pro porovnání, smrtnost sezónní chřipky se odhaduje
                        kolem 0,1&nbsp;%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, což znamená, že je SARS-CoV-2 přibližně 20krát smrtelnější než sezónní chřipka.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Riziko těžkých příznaků</h3>
                    <p class="font-normal">
                        Přibližně 15 až 20&nbsp;% nakažených jedinců trpí těžkými příznaky, které vyžadují lékařskou
                        péči<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, včetně zápalu plic s dušností a sníženým nasycením krve kyslíkem.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Žádná léčba, žádná vakcína, žádná imunita</h3>
                    <p class="font-normal">
                        Vzhledem k tomu, že se virus SARS-CoV-2 objevil teprve nedávno, neexistuje žádná dostatečně prostudovaná metoda léčby COVID-19 a k efektivní léčbě nakažených pacientů je třeba další výzkum.
                        Neexistuje zatím ani žádná vakcína proti viru SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        a její vývoj zabere značnou dobu. Bez vakcín a kolektivní imunity je každý náchylný k infekci.
                        I když většina nakažených má pouze mírné příznaky, nedostatek kolektivní imunity může vést těžkému onemocnění u významného počtu rizikových jedinců.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Exponenciální růst</h3>
                    <p class="font-normal">
                        Kvůli neexistenci imunity vůči tomuto novému viru je horní limit možné nákazy celá lidská populace. A i když se exponenciální růst vždy zdá zpočátku pomalý,
                        může dosáhnout nesmírně vysokých čísel za poměrně krátkou dobu. Vzhledem k počtům nakažených, které se v současné době zdvojnásobují v řádu
                        dní<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup> může dojít
                        k přetížení našeho zdravotního systému, což povede k vyššímu počtu obětí kvůli nedostatku potřebné péče.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Připojením se k tomuto hnutí a omezením možností šíření nákazy nechráníš jen sebe, ale pomáháš i všem ostatním,
                zvláště těm, u kterých existuje zvýšené riziko těžkých následků nemoci.<br /><br />
                
                <strong>Pokud ti to není lhostejné, prosíme šiř toto poslání na sociálních sítích, emailem nebo o něm jen řekněte své rodině a přátelům. Hlavně, prosíme, #ZústaňKurvaDoma.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Dělám co mohu v boji proti #COVID19. Prosím udělej to samé!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Pro všechny, kteří chtějí přispět stránce a hnutí #StayTheFuckHome jsme zpřístupnili zdrojový kód webu. Repozitář na GitHubu najdete zde: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Pokud máte jakékoli další připomínky k obsahu stránky, prosíme napište nám na <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Mějte prosím na paměti, že v současné době dostáváme hodně emailů, takže vám možná neodpovíme obratem.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Upozornění:</strong> Obsah této stránky nepředstavuje lékařské poradenství. Informace uvedené výše jsou zamýšleny jako návrh, aby se jedinci, kteří mají starosti, řídili sadou volných pravidel
                založených na osvědčené praxi a zkušenostech, aby tak ochránili sebe a své blízké. Neexistuje záruka nebo vědecké důkazy, že dodržování zmíněných pravidel povede ke snížení výskytu nových infekcí nebo dokonce k zastavení epidemie COVID-19. Dále neexistuje záruka, že dodržování těchto pravidel povede ke snížení rizika nákazy virem SARS-CoV-2 nebo jakékoli jiné virové nebo bakteriální nákazy.
                Všechny informace na této stránce jsou poskytnuty s nejlepšími úmysly a ve snaze podat faktické informace. Provozovatelé stránek za žádných okolností neponesou odpovědnost za jakékoli škody. Máte-li připomínky k informacím poskytnutým na této stránce, prosíme napište nám na <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


