---
layout: default
meta_title: Symudiad i atal Pandemig COVID-19
meta_description: Ni all ein llywodraethau gyflawni hyn eu hunan, rhaid i ni weithredu nawr! Byddwch gyfrifol ac arhoswch ffycin adra!
body_class: home
title: '#ArhosaFfycinAdra'
lang: cy
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Symudiad i Atal Pandemig COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Mae ein llywodraeth yn cychwyn mesurau i reoli lledaeniad 
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                ac ymatal <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">Pandemig COVID-19</a> ond mae nhw yn rhy araf.
                Mae ymateb araf, polisiau i dawelu'r cyhoedd a'r angerdd i sefydlogi'r economi wedu eu hatal rhag cymeryd
                y mesurau sydd eu hangen i ddiogelu miliynau rhag y clefyd yma. Fodd bynnag, nid cyfrifoldeb y llywodraeth yn unig yw hyn.
                Mae'n amser i ni, fel dinasyddion y byd, i weithredu nawr, a gwneud ein gorau i ddelio a COVID-19.
                <br /><br />
                Yn syml: <strong>Arhosa Ffycin Adra!</strong>
            </p>

            <h2 class="text-3xl">Maniffesto Hunan-Gwarantîn</h2>

            <p>
                Heb driniaeth sydd wedi cael ei astudio a dim brechlyn ar gael am o leiaf blwyddyn, yr unig ffordd effeithiol o gadw
                pandemig coronafeirws i ffwrdd yw i roi cyn lleied o siawns i basio o berson i berson. Dyma restr o weithredoedd, wedi ei drefnu 
                o'r hawdd i'r rhai mwyaf effeithiol yn y frwydr yn erbyn y pandemig, a all fod yn ganllaw i bobl sydd am ymuno y symudiad yma a 
                gweithredu mewn ffordd sydd yn gwneud gwahaniaeth.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Paid a mynd i banig, ond bydda'n wyliadwrus.</li>
                <li class="pb-2">Golcha dy ddwylo yn aml, ac ymarfer arferion da tagu a tisian.</li>
                <li class="pb-2">Ceisia beidio cyffwrdd dy wyneb, yn cynnwys dy geg, dy drwyn a dy lygaid.</li>
                <li class="pb-2">Cychwyn ymarferion pellter cymdeithasol, dim cofleidio a cusanu, dim ysgwyd llaw na pawen lawen(high five). Os oes rhaid, defnyddiwch ffyrdd eraill, saff, i gyfarch.</li>
                <li class="pb-2">Paid mynd i gyngherddau, dramâu, digwyddiadau chwaraeon neu unrhyw ddigwyddiad adloniant torfaol.</li>
                <li class="pb-2">Paid mynd i amgueddfeydd, arddangosiadau, sinema, clwb nos na unrhyw leoliadau adloniant arall.</li>
                <li class="pb-2">Cadwa i ffwrdd o grwpiau cymdeithasu a digwyddiadau fel cyfarfodydd clwb, gwasanaethau crefyddol, a partion preifat.</li>
                <li class="pb-2">Lleiha dy drafeilio. Paid trafeilio yn bell sa fod rhaid.</li>
                <li class="pb-2">Paid defnyddio trafnidiaeth gyhoeddus 'sa fod wir angen.</li>
                <li class="pb-2">Os gelli weithio o adra, gweithia o adra. Mynna i dy gyflogwr i alluogi gweithio o bell os oes angen.</li>
                <li class="pb-2">Amnewidia cymaint o gyswllt cymdeithasol gyda dulliau o bell fel galwadau ffôn neu sgwrs fideo.</li>
                <li class="pb-2">Peidiwch gadael y tŷ 'sa fod wir angen.</li>
            </ol>

            <p class="text-xl">
                Cofia - does dim nifer cywir nac anghywir o gamau i'w cymeryd. Cymra'r nifer mwyaf priodol, a cymera'r camau rwyt ti yn teimlo fwyaf cyfforddus i'w cymeryd, a paid a rhoi dy fywoliaeth mewn peryg. <strong>Paid gadael dy swydd dros hyn!</strong>
                Fodd bynnag, cofia fod pob cam yn helpu.
            </p>

            <h2 class="text-3xl">Pam fod hyn mor Bwysig</h2>

            <p>
                Mae SARS-CoV-2 yn feirws hynod o heintus, ag o bosib yn un marwol sydd yn achosi clwyf anadlol o'r enw COVID-19.
                Efallai dy fod yn ei adnabod gan un o'i enwau eraill, yn cynnwys 2019-nCoV, novel coronavirus, Wuhan coronavirus, China or Wuhan flu, neu yn syml, coronavirus.
                Mae rhain i gyd yn cyfeirio at yr un feirws y mae'r symudiad yma yn ceisio ei atal.
            </p>

            <p>
                Dros y misoedd ac wythnosau nesaf, mae'r feirws a'r heintiau gysylltiedig wedi cael eu cymharu gyda'r feirws infflwensa a'r ffliw tymhorol.
                Oherwydd y symptomau cyffredin, a'r difrifoldeb tebyg, daw'r cymhariad yma yn naturiol i lawer o bobl,
                ond, wrth edrych ar yr hyn rydym yn ei wybod am y feirws yma hyd yn hyn, nid yw'r bygythiad i gymdeithas yn un na all ei anwybyddu.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Mwy Heintus Na'r Ffliw</h3>
                    <p class="font-normal">
                        Gyda gwerth R0 amcan (nifer o achosion a gaiff ei achosi gan un achos mewn poblogaeth ble bod pob unigolyn yn gallu dal yr haint) o rhwng 1.4 &ndash; 6.49 a cymedr o 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        mae SARS-CoV-2 yn llawer mwy heintus ag yn lledaenu yn llawer cynt na'r ffliw tymhorol, sydd a canolrif R0 o 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Mwy Marwol Na'r Ffliw</h3>
                    <p class="font-normal">
                        Mae'r cyfradd marw achos (Case Fatality Rate) o SARS-CoV-2 wedi ei amcan i fod tua 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        sydd yn golygu fod tua 2% o bobl a fydd yn cael eu heintio yn mynd i gael eu colli. I gymharu, mae cyfradd marw achos y ffliw dymhorol wedi ei amcan 
                        i fod tua 0.1% <sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, sydd yn golygu fod SARS-CoV-2 wedi ei amcangyfrif i fod tua 20 gwaith yn fwy marwol na'r ffliw tymhorol.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Posibilrwydd o Symptomau Difrifol</h3>
                    <p class="font-normal">
                        Caiff amcan o 15% &ndash; 20% o bobl sydd wedi eu heintio ddioddef o symptomau llym iawn sydd angen sylw meddygol
                        <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, yn cynnwys niwmonia gyda diffyg anadlu a lleihad mewn ocsigen yn y gwaed.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Dim Triniaeth, Dim Brechlyn, Dim Imiwnedd</h3>
                    <p class="font-normal">
                        Er fod SARS-CoV-2 ddim ond wedi dod i'r fei yn ddiwedar, nid oes triniaeth ddibynadwy ar gyfer COVID-19 a mae mwy o ymchwil ei angen ar sut i drin pobl sydd wedi ei heintio yn effeithiol.
                        Hefyd, nid oes brechlyn ar gyfer SARS-CoV-2 eto <sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        a mae disgwyliad y bydd datblygu'r frechlyn yna yn mynd i gymeryd amser sylweddol o amser. Heb frechlyn a dim imiwnedd cyffredin, mae pawb dan risg i gael eu heintio.
                        Tra bydd y rhan fwyaf o bobl ddim ond yn dioddef o symptomau ysgafn, bydd y diffyg o imiwnedd poblogaeth yn gallu arwain at glefyd difrifol i nifer o unigolion sydd mewn peryg.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Twf Esbonyddol</h3>
                    <p class="font-normal">
                        Oherwydd diffyg imiwnedd i'r feirws newydd yma, yna mae pob un person yn y byd dan risg o gael eu heintio. Ag er fod twf esbonyddol wastad yn edrych yn araf i gychwyn,
                        gall arwain at niferoedd ofnadwy o uchel mewn cyfnod byr iawn o amser. Gyda'r nifer o bobl sydd yn cael eu heintio yn dwblu mewn mater o
                        ddyddiau<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, bydd ein systemau meddygol o bosib yn cael eu gorlwytho
                        a fydd yn arwain at niferoedd uwch o farwolaethau oherwydd i bobl fethu gael y triniaeth y maent eu hangen.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Trwy ymuno a'r symudiad, a felly yn cyfyngu'r posibilrwydd o heintiadau newydd, nid yn unig yr wyt ti yn amddiffyn dy hunan, ond rwyt ti hefyd yn helpu cynnwys lledaeniad ar gyfer pawb arall,
                yn enwedig y rhai sydd a risg uwch o gael symptomau mwy difrifol o'r feirws yma.<br /><br />
                
                <strong>Os yw'r achos yma yn bwysig i ti, plis rhanna fo ar y cyfryngau cymdeithasol, trwy ebost, neu dweud wrth dy deulu a'th ffrindiau amdano. Ond plis, jest #ArhosaFfycinAdra.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Wnai wneud fy ngorau yn y frwydr yn erbyn #COVID-19. Dwi'n eich annog i wneud yr un peth!" data-url="https://staythefuckhome.com/cy/" data-hashtags="StayTheFuckHome" data-show-count="false">Trydar</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                I unrhyw un sydd am gyfranu i symudiad a gwefan #ArhosaFfycinAdra, rydym wedi gwneud y wefan yn god-agored fel gall unrhyw un gyfranu. Gellir canfod storfa GitHub y brosiect yma: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Os oes unrhyw fewnbwn gennych ar gyfer cynnwys y wefan, ysgrifennwch atom ar <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Cadwch mewn meddwl ein bod yn derbyn llwyth o ebyst ar hyn o bryd, felly efallai bydd oedi cyn dod yn ol atoch.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Ymwadiad:</strong> Nid yw cynnwys y wefan yma yn gyngor meddygol. Caiff y wybodaeth uchod ei ddarparu fel awgrym ar gyfer unigolion sydd a pryder i ddilyn canllaw rhydd
                wedi ei selio ar arferion gorau a tystiolaeth storïol i warchod eu hunan a'r rhai maent yn eu caru. Does dim gwarant na tystiolaeth wyddonol y bydd dilyn y canllawiau uchod yn mynd i arwain at leihad
                mewn achosion newydd, na stopio epidemig COVID-19. Nid oes chwaith gwarant y bydd dilyn y canllawiau yma yn mynd i leihau y risg o gael eich heintio gyda SARS-CoV-2 na haint feirws neu bacteria.
                Mae'r holl wybodaeth yn cael ei ddarparu ar y wefan gyda'r bwriad gorau, a'r bwriad i ddarparu gwybodaeth ffeithiol. Ni all rheolwyr y wefan gael eu dal yn gyfrifol am unrhyw achos, ddifrod na atebolrwydd arall. Os oes cwestiwn neu sylw am y wybodaeth a ddarperir ar y wefan yma,
                ysgrfennwch at  <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


