---
layout: default
meta_title: Eine Bewegung um die COVID-19 Pandemie aufzuhalten
meta_description: Unsere Regierungen lassen uns im Stich, wir müssen jetzt handeln! Leistet euren Beitrag und bleibt verdammt noch mal zu Hause!
body_class: home
title: '#StayTheFuckHome'
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">
    
        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Eine Bewegung um die COVID-19 Pandemie aufzuhalten</h2>

        <div class="content">

            <p class="text-xl">
                Unsere Regierungen versagen dabei, die Ausbreitung von
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                zu verhindern und die <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19 Pandemie</a> einzudämmen.
                Langsame Reaktionszeiten, Beschwichtigungspolitik und der Drang, die Wirtschaft zu stabilisieren, halten sie davon ab,
                die Maßnahmen zu ergreifen, die sie zum Schutz von Millionen von Menschen vor dieser Krankheit ergreifen müssten. Es ist an der Zeit, dass wir als
                Bürger dieser Erde jetzt handeln und unseren Teil zur Bekämpfung von COVID-19 beitragen.

                <br /><br />
                Sagen wir es ganz offen: <strong>Bleib verdammt noch mal zu Hause!</strong>
            </p>

            <h2 class="text-3xl">Das Selbstquarantäne-Manifest</h2>

            <p>
                Da es keine gut erforschte Behandlung gibt und ein wirksamer Impfstoff noch mindestens ein weiteres Jahr auf sich warten lässt, besteht der einzige wirksame Weg,
                die Coronavirus-Epidemie in Schach zu halten, darin, dem Virus weniger Chancen zu geben, sich auszubreiten. Die folgende Liste von Maßnahmen, sortiert von einfachster
                Umsetzung bis zu effektivsten im Kampf gegen die Pandemie, sollte als eine Reihe lockerer Leitlinien für diejenigen dienen, die sich der Bewegung anschließen und Maßnahmen
                ergreifen wollen, welche die Verantwortlichen weiterhin vernachlässigen.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Keine Panik, aber aufpassen.</li>
                <li class="pb-2">Waschen Sie Ihre Hände oft und üben Sie gute Husten und Nies Etikette.</li>
                <li class="pb-2">Versuchen Sie, Ihr Gesicht so wenig wie möglich zu berühren, einschließlich Ihres Mundes, Nase, und Augen.</li>
                <li class="pb-2">Üben Sie soziale Distanzierung, keine Umarmungen und Küsse, kein Händedruck, keine “High Five“. Wenn Sie müssen,
                verwenden Sie sicherere Alternativen. </li>
                <li class="pb-2">Nehmen Sie nicht an Konzerten, Theaterstücken, Sportveranstaltungen oder anderen Massenunterhaltungsveranstaltungen teil.</li>
                <li class="pb-2">Vermeiden Sie den Besuch von Museen, Ausstellungen, Kinos, Nachtclubs und anderen Unterhaltungsmöglichkeiten.</li>
                <li class="pb-2">Halten Sie sich fern von gesellschaftlichen Zusammenkünften und Veranstaltungen wie Clubtreffen, Gottesdiensten und privaten Feiern.</li>
                <li class="pb-2">Reduzieren Sie Ihre Reisen auf ein Minimum. Fahren Sie keine langen Strecken, wenn nicht unbedingt notwendig.</li>
                <li class="pb-2">Verwenden Sie keine öffentlichen Verkehrsmittel, wenn nicht unbedingt notwendig.</li>
                <li class="pb-2">Wenn Sie von zu Hause aus arbeiten können, arbeiten Sie von zu Hause aus. Fordern Sie Ihren Arbeitgeber auf, bei Bedarf Heimarbeit zuzulassen.</li>
                <li class="pb-2">Ersetzen Sie so viele soziale Interaktionen durch Remote-Alternativen wie Telefonanrufe oder Videochats.</li>
                <li class="pb-2">Verlassen Sie Ihr Zuhause nicht, wenn es nicht unbedingt notwendig ist.</li>
            </ol>

            <p class="text-xl">
                Bitte beachten Sie, dass es keine richtige oder falsche Anzahl an Maßnahmen gibt, die Sie ergreifen können. Nehmen Sie nur die Maßnahmen an, mit denen Sie sich wohlfühlen
                und die Ihre Existenz nicht gefährden. Beenden Sie Ihren Job nicht damit! Denken Sie jedoch daran, dass jede Aktion hilft.
            </p>

            <h2 class="text-3xl">Warum ist es so wichtig</h2>

            <p>
                SARS-CoV-2 ist ein hochinfektiöses und potenziell tödliches Virus, das eine Atemwegserkrankung namens COVID-19 verursacht. Sie könnten es unter einem seiner vielen anderen Namen kennen, einschließlich 2019-nCoV,
                neuartiges Coronavirus, Wuhan Coronavirus, China oder Wuhan Grippe, oder einfach einfach Coronavirus. Alle diese beziehen sich auf den gleichen Virus, dass diese Bewegung versucht zu stoppen.
            </p>

            <p>
                In den letzten Monaten und Wochen wurden das Virus und die entsprechende Krankheit immer wieder mit dem Influenzavirus und der saisonalen Grippe verglichen. Aufgrund der Überschneidung der Symptome und der scheinbar
                ähnlichen Schwere ist dieser Vergleich für viele Menschen natürlich, aber wenn man sich anschaut, was wir bisher über dieses neue Virus wissen, wird die Bedrohung, die es für die Gesellschaft darstellt, kann nicht
                einfach beiseite geschoben werden.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Ansteckender als die Grippe</h3>
                    <p class="font-normal">
                        Mit einem geschätzten R0 zwischen 1,4 – 6,49 und einer mittleren Schätzung von 3,28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                         ist SARS-CoV-2 viel ansteckender und breitet sich viel schneller aus als die saisonale Grippe, die einen mittleren R0 von 1,28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>hat.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Tödlicher als die Grippe</h3>
                    <p class="font-normal">
                        Die sogenannte Fallsterblichkeitsrate (CFR) von SARS-CoV-2 wird auf etwa 2% geschätzt<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        was bedeutet, dass schätzungsweise 2% der Menschen, bei denen COVID-19 diagnostiziert wird, ihr erliegen werden. Im Vergleich dazu wird der CFR der saisonalen Influenza auf etwa 0,1%
                        geschätzt<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, was bedeutet, dass SARS-CoV-2 schätzungsweise 20-mal tödlicher ist als die saisonale Grippe.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Möglichkeit schwerer Symptome</h3>
                    <p class="font-normal">
                        Geschätzte 15 – 20% der infizierten Personen leiden an schweren Symptomen, die ärztliche Hilfe erfordern<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>,
                        einschließlich Lungenentzündung mit Kurzatmigkeit und verminderter Sauerstoffsättigung im Blut.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Keine Behandlung, kein Impfstoff, keine Immunität</h3>
                    <p class="font-normal">
                        Da SARS-CoV-2 erst vor kurzem aufgetaucht ist, gibt es keine gut untersuchte Behandlung für COVID-19 und es ist mehr Forschung erforderlich, um infizierte Menschen effizient zu behandeln.
                        Ebenso gibt es noch keinen Impfstoff gegen SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                      und die Entwicklung eines solchen Impfstoffs wird noch eine erhebliche Zeit in Anspruch nehmen. Ohne Impfstoffe und ohne vorherige und weit verbreitete Immunität ist jeder ein anfälliges
                      Infektionsziel. Während die meisten Infizierten nur unter leichten Symptomen leiden, kann dieser Mangel an Herdenimmunität bei einer erheblichen Anzahl von gefährdeten Personen zu schweren Krankheiten führen.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Exponential Growth</h3>
                    <p class="font-normal">
                        Aufgrund der fehlenden Immunität gegen dieses neue Virus ist die gesamte menschliche Bevölkerung die Obergrenze möglicher Infektionen. Und obwohl das exponentielle Wachstum auf den ersten Blick immer
                        langsam erscheint, kann es in relativ kurzer Zeit zu unergründlich hohen Zahlen führen. Da sich die Zahl der Infizierten derzeit innerhalb weniger Tage
                        verdoppelt<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>,
                        werden unsere medizinischen Systeme potenziell überlastet sein, was zu einer höheren Zahl von Todesfällen führen wird, da die Menschen nicht die Pflege erhalten, die sie benötigen.
                </li>
            </ol>

            <p class="text-2xl">
                Indem Sie sich der Bewegung anschließen und damit die Möglichkeiten für Neuinfektionen einschränken, schützen Sie sich nicht nur selbst, sondern sie tragen auch dazu bei, die Ausbreitung für alle anderen
                einzudämmen und zu begrenzen, insbesondere für diejenigen, die einem höheren Risiko ausgesetzt sind.
                <br /><br />
                
                <strong>Wenn Sie sich für diese Sache interessieren, teilen Sie es bitte in sozialen Medien, per E-Mail oder erzählen Sie einfach Ihren Freunden und Ihrer Familie davon. Aber bitte, #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=102&height=28" width="102" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> The content of this website does not constitute medical advice. The information provided above is meant to be a suggestion for concerned individuals to follow a loose set of guidelines
                based on best practices and anecdotal evidence to protect themselves and their loved ones. There is no guarantee or scientific evidence that following the mentioned guidelines will lead to a reduction
                in new infections or even stop the COVID-19 epidemic. There is also no guarantee that following these guidelines will reduce the risk of getting infected with SARS-CoV-2 or any other viral or bacterial contagion.
                All information provided on this website is given with the best intent and will to provide factual information. In no event shall the website operators be held liable for any claim, damages or other liabilities. If you have concerns or comments about the information provided on this website,
                please write to <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


