---
layout: default
meta_title: Eine Bewegung, um die COVID-19 Pandemie aufzuhalten
meta_description: Unsere Regierungen lassen uns im Stich, wir müssen jetzt handeln! Leistet euren Beitrag, bleibt verdammt noch mal zu Hause!
body_class: home
title: '#StayTheFuckHome'
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">
    
        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Eine Bewegung, um die COVID-19 Pandemie aufzuhalten</h2>

        <div class="content">

            <p class="text-xl">
                Unsere Regierungen scheitern daran, die Ausbreitung von
                <a href="https://de.wikipedia.org/wiki/SARS-CoV-2">SARS-CoV-2</a>
                zu verhindern und die <a href="https://de.wikipedia.org/wiki/Coronavirus-Epidemie_2019/2020">COVID-19 Pandemie</a> einzudämmen.
                Zögerliche Reaktionen, öffentliche Beschwichtigung und das Ziel die Wirtschaft zu stabilisieren verhindern, dass Maßnahmen getroffen werden, 
                die Millionen von Menschen gegen diese Krankheit schützen würden.
                Es ist an der Zeit, dass wir, die Bewohnerinnen und Bewohner dieses Planeten, unseren Teil im Kampf gegen COVID-19 beitragen.
                
                <br /><br />
                Einfach gesagt: <strong>Bleibt verdammt nochmal zu Hause!</strong>
            </p>

            <h2 class="text-3xl">Selbst-Quarantäne - Das Manifest</h2>
            <p>
                Ohne klinisch getestete Behandlungsmethoden und wissend, dass die Entwicklung eines wirksamen Impfstoffes frühestens in einem Jahr zu erwarten ist,
                ist der einzige Weg die Coronavirus-Pandemie in Griff zu bekommen, die Ausbreitung zu verlangsamen.
                Die folgende Liste umfasst eine Reihe von Maßnahmen - sortiert von den Einfachsten, hin zu den Effektivsten - im Kampf gegen die Pandemie. 
                Sie soll Menschen, die sich dieser Bewegung anschließen als grober Leitfaden dienen, damit sie handeln können, 
                während die Verantwortlichen weiterhin zögern.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Seid nicht panisch, aber wachsam.</li>
                <li class="pb-2">Wascht regelmäßig und gründlich Eure Hände und haltet Euch an die Husten- und Nießettikette.</li>
                <li class="pb-2">Vermeidet es, Euer Gesicht zu berühren - einschließlich von Mund, Nase, und Augen.</li>
                <li class="pb-2">Haltet eine angemessene soziale Distanz, verzichtet auf Umarmungen, Küsse, Händeschütteln und High-Fives. Wenn es sein muss, nutzt sichere Alternativen.</li>
                <li class="pb-2">Nehmt nicht an Konzerten, Theaterstücken, Sportveranstaltungen oder anderen Massenveranstaltungen teil.</li>
                <li class="pb-2">Vermeidet den Besuch von Museen, Ausstellungen, Kinos, Nachtclubs und anderen öffentlichen Freizeitangeboten.</li>
                <li class="pb-2">Haltet Euch gesellschaftlichen Zusammenkünften und Veranstaltungen wie Clubtreffen, Gottesdiensten und privaten Feiern fern.</li>
                <li class="pb-2">Reduziere Deine Reisen auf ein Minimum. Unternehme Fernreisen nur dann, wenn es unbedingt notwendig ist.</li>
                <li class="pb-2">Meide öffentliche Verkehrsmittel, soweit Dir das möglich ist.</li>
                <li class="pb-2">Arbeite von Zuhause, sofern das für Dich möglich ist. Fordere Deinen Arbeitgeber auf, nach Möglichkeit Heimarbeit zuzulassen.</li>
                <li class="pb-2">Ersetze so viele soziale Interaktionen durch Remote-Alternativen wie Telefonanrufe oder Videochats.</li>
                <li class="pb-2">Verlasse Dein Zuhause nicht, wenn es nicht unbedingt notwendig ist.</li>
            </ol>

            <p class="text-xl">
               Denke daran, dass es keine richtige oder falsche Anzahl von getroffenen Maßnahmen gibt. 
               Setze die Maßnahmen um, mit denen Du Dich wohl fühlst und die Deine Existenz nicht gefährden. 
               <strong>Kündige natürlich nicht Deinen Job!</strong> Aber denke daran, dass jede getroffene Maßnahme etwas beiträgt.
            </p>

            <h2 class="text-3xl">Warum handeln jetzt so wichtig ist</h2>

            <p>
                SARS-CoV-2 ist ein hochinfektiöses und potenziell tödliches Virus, das eine Atemwegserkrankung namens COVID-19 verursacht. 
                Der Virus ist auch unter folgenden Namen bekannt, 2019-nCoV, neuartiges Coronavirus, Wuhan Coronavirus, China oder 
                Wuhan Grippe, oder einfach Coronavirus. Alle diese beziehen sich auf den gleichen Virus, den diese Bewegung stoppen möchte.
            </p>

            <p>
                In den letzten Wochen und Monaten wurde der Virus und die durch ihn hervorgerufene Krankheit immer wieder mit dem Influenzavirus und der saisonalen 
                Grippe verglichen. Aufgrund der Überschneidung der Symptome und der scheinbar ähnlichen Schwere ist dieser Vergleich für viele Menschen 
                naheliegend. Betrachten wir allerdings, was wir über diesen neuen Virus bisher wissen, kann die Bedrohung, die er für unsere Gesellschaft darstellt,
                nicht von der Hand gewiesen werden.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Ansteckender als die Grippe</h3>
                    <p class="font-normal">
                        Mit einem geschätzten R0 zwischen 1,4 – 6,49 und einer durchschnittlichen Schätzung von 3,28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                         ist SARS-CoV-2 viel ansteckender und breitet sich viel schneller aus als die saisonale Grippe, deren mittlerer R0 1,28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>beträgt.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Tödlicher als die Grippe</h3>
                    <p class="font-normal">
                        Die sogenannte Fallsterblichkeits-Rate (im engl. CFR abgekürzt) von SARS-CoV-2 wird auf etwa 2% geschätzt<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        was bedeutet, dass schätzungsweise 2% der Menschen, bei denen COVID-19 diagnostiziert wird, daran erliegen werden. Im Vergleich dazu wird der CFR der saisonalen Influenza auf etwa 0,1%
                        geschätzt<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, was bedeutet, dass SARS-CoV-2 ungefähr 20-mal tödlicher ist als die saisonale Grippe.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Möglichkeit schwerer Symptome</h3>
                    <p class="font-normal">
                        Geschätzte 15 – 20% der infizierten Personen leiden an schweren Symptomen, die ärztliche Hilfe erfordern<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>,
                        dazu zählen unter anderem Lungenentzündung mit Kurzatmigkeit und verminderter Sauerstoffsättigung im Blut.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Keine Behandlung, kein Impfstoff, keine Immunität</h3>
                    <p class="font-normal">
                        Da SARS-CoV-2 erst seit kurzem existiert, sind noch keine zuverlässigen Behandlungen für COVID-19 bekannt und es ist mehr Forschung erforderlich, um infizierte Menschen effizient zu behandeln.
                        Ebenso gibt es noch keinen Impfstoff gegen SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                       und die Entwicklung eines solchen Impfstoffs wird noch erhebliche Zeit in Anspruch nehmen. Ohne Impfstoffe und ohne weit verbreitete Immunität ist jeder Mensch anfällig für eine Infektion. 
                       Während die meisten Infizierten nur unter leichten Symptomen leiden, kann dieser Mangel an Herdenimmunität bei einer erheblichen Anzahl von gefährdeten Personen zu schweren Krankheiten führen.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Exponential Growth</h3>
                    <p class="font-normal">
                        Aufgrund fehlender Immunisierung gegen diesen neuen Virus ist die theoretische Obergrenze für die Zahl der Infizierten, die gesamte Menschheit. Und obwohl das exponentielle Wachstum auf den ersten Blick immer
                        langsam erscheint, kann es in relativ kurzer Zeit zu unvorstellbar hohen Zahlen führen. Da sich die Anzahl der Infizierten derzeit innerhalb weniger Tage
                        verdoppelt<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>,
                        droht eine Überlastung des Gesundheitssystems, was zu einer noch höheren Zahl von Todesfällen führen wird, da die Menschen nicht die Pflege erhalten, die sie benötigen.
                </li>
            </ol>

            <p class="text-2xl">
                Indem Du Dich der Bewegung anschließt und damit das Risiko für Neuinfektionen reduzierst, schützt Du Dich nicht nur selbst, sondern trägst auch dazu bei, die Ausbreitung für alle anderen
                einzudämmen, insbesondere für diejenigen, die einem höheren Risiko ausgesetzt sind.
                <br /><br />
                
                <strong>Wenn Du Dich für diese Sache interessierst, teile diese Seite bitte in sozialen Medien, per E-Mail oder erzähle einfach Deinen Freunden und Deiner Familie davon. Aber bitte, #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Ich trage meinen Teil zur Eindämmung von #COVID19 bei. Ich fordere Euch auf, das auch zu tun!“ data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=102&height=28" width="102" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>


<p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Hinweis:</strong> Diese Website stellt keine medizinische Beratung dar. Alle bereitgestellten Informationen dienen Interessierten als Empfehlung, die auf 
               gesundem Menschenverstand, Best Practices und anekdotischen Beweisen basieren, um Dich und Deine Liebsten zu schützen. Es gibt keine Garantien oder wissenschaftliche
               Beweise, dass das Einhalten dieser Maßnahmen zu einer Reduzierung der Ausbreitung oder gar zum Ende der COVID-19 Pandemie führen wird. Weiter gibt es keine 
               Garantie dafür, dass das Einhalten dieser Richtlinien einen wirksamen Schutz vor einer Infektion mit SARS-CoV-2 oder irgendeinem anderen viralen oder bakteriellen Erreger bietet. 
               Jegliche Informationen dieser Website wurde mit den besten Absichten und nach bestem Wissen und Gewissen zur Verfügung gestellt. Die Betreiber, Übersetzer und Unterstützer dieser
               Website können in keinem Fall für Schäden oder andere Haftungsansprüche in Anspruch genommen werden. Solltest Du Bedenken oder Kommentare zu Informationen auf dieser Website haben,
               erreichst Du uns gerne per Mail unter <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.


        </div>

    </section>

</main>


