---
layout: default
meta_title: Un movimiento para detener la pandemia del COVID-19
meta_description: Nuestros gobiernos no pueden lograrlo solos, ¡tenemos que entrar an acción ahora! ¡Haz tu parte y quédate en tu puta casa!
body_class: home
title: '#StayTheFuckHome'
lang: es
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Un movimiento para detener la pandemia del COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Nuestros gobiernos son lentos para tomar medidas para prevenir la transmisión de
                <a href="https://es.wikipedia.org/wiki/SARS-CoV-2">SARS-CoV-2</a>
                y frenar la <a href="https://es.wikipedia.org/wiki/COVID-19">pandemia de COVID-19</a>.
                Reacciones lentas, políticas para aplacar al público, y su urgencia por estabilizar la economía les previenen tomar las medidas
                necesarias para proteger a millones de esta enfermedad. Es tiempo que nosotros, como ciudadanos de esta tierra, tomemos acción
                ahora y hagamos nuestra parte para combatir el COVID-19.

                <br /><br />
                Directo al grano: <strong>Quédate En Tu Puta Casa!</strong>
            </p>

            <h2 class="text-3xl">El Manifiesto de la Auto-Cuarentena</h2>

            <p>
                Sin ningún tratamiento estudiado, y con una vacuna viable a más allá de un año, la única forma efectiva de mantener la epidemia del
                coronavirus bajo control es darle al virus la menor oportunidad de transmitirse.
                La siguiente lista incluye un número de acciones, ordenada desde las más fáciles de implementar a más efectivas en la pelea contra la pandemia. deben servir como una guía para la gente que desea unirse al
                movimiento para tomar medidas que realmente puedan cambiar algo. 
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">No te alarmes, pero mantente alerta.</li>
                <li class="pb-2">Lávate las manos con frecuencia y pon en práctica buenos usos al estornudar y toser.</li>
                <li class="pb-2">Intenta tocarte la cara lo menos posible, y evita la boca, la nariz y ojos.</li>
                <li class="pb-2">Ejerce el distanciamiento social, no des besos y abrazos, no saludes dando la mano ni toques las manos de otros. Si es
                necesario, busca alternativas.</li>
                <li class="pb-2">No vayas a conciertos, obras de teatro, eventos deportivos, o cualquier evento de entretenimiento masivos.</li>
                <li class="pb-2">Evita visitar museos, exhibiciones, salas de cine, bares y centros nocturnos, y otros centros de entretenimiento.</li>
                <li class="pb-2">No asistas a reuniones sociales y eventos, como juntas de clubs, servicios religiosos, y fiestas privadas.</li>
                <li class="pb-2">Reduce tus viajes al mínimo. No viajes largas distancias a menos que sea absolutamente necesario.</li>
                <li class="pb-2">No utilices transporte público a menos que sea absolutamente necesario.</li>
                <li class="pb-2">Si puedes trabajar en casa, trabaja desde casa. Insiste a tu empleador que te permita trabajar de manera remota si es necesario.</li>
                <li class="pb-2">Reemplaza interacciones sociales con alternativas remotas, como llamadas o video chats.</li>
                <li class="pb-2">No salgas de casa a menos que sea absolutamente necesario.</li>
            </ol>

            <p class="text-xl">
                Recuerda que no hay un número correcto o incorrecto de acciones que tomar. Solamente toma las que te hagan sentir cómodo y que no pongan en riesgo
                tu profesión y sustento. No renuncies a tu trabajo! Sin embargo, toma en cuenta que cualquier acción ayuda.
            </p>

            <h2 class="text-3xl">Por qué es tan importante</h2>

            <p>
                SARS-CoV-2 es un virus altamente contagioso y potencialmente mortal que causa una enfermedad respiratoria llamada COVID-19. Puede que la conozcas por sus
                otros nombres, incluyendo 2019-nCoV, novel coronavirus, Wuhan coronavirus, gripe China o de Wuhan, o simplemente el coronavirus. Todos estos se refieren
                al mismo virus que este movimiento intenta detener.
            </p>

            <p>
                En los últimos meses y semanas, el virus y la enfermedad correspondientes han sido comparados cada vez con el virus de la gripe durante la temporada de
                gripe. Debido a los síntomas en común y la aparente severidad, esta comparación le parece natural a mucha gente, sin embargo, al ver lo que sabemos hasta
                ahora acerca de este nuevo virus, la amenaza que representa a la sociedad no es fácil de ignorar. 
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Más contagioso que la gripe</h3>
                    <p class="font-normal">
                        Con un R0 (el número esperado de nuevos casos generados directamente por otro caso en una población donde todos los individuos son susceptibles a la infección) estimado entre 1.4 &ndash; 6.49 y una media estimada de 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        SARS-CoV-2 es mucho más contagioso y se expande mucho más rápido que la gripe, la cual tiene una media R0 de 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Más mortal que la gripe</h3>
                    <p class="font-normal">
                        La llamada tasa de mortalidad de SARS-CoV-2 se estima a 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        lo cual quiere decir que lamentablemente, aproximadamente 2% de las personas diagnosticadas morirán de COVID-19. En comparación, la tasa de mortalidad de la gripe se estima en
                        0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, esto significa que SARS-CoV-2 es 20 veces más mortal que la gripe.

                    <p>
                </li>
                <li class="pb-2">
                    <h3>Posibles Síntomas Severos</h3>
                    <p class="font-normal">
                        Aproximadamente el 15 &ndash; 20% de la gente infectada sufre síntomas que requieren atención médica<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, incluyendo
                        neumonía con problemas de respiración y baja saturación de oxígeno en la sangre.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Sin tratamiento, sin vacuna, sin inmunidad</h3>
                    <p class="font-normal">
                        Ya que SARS-CoV-2 surgió recientemente, no existen tratamientos estudiados para el COVID-19 y hace falta investigar más para tratar a la gente infectada de
                        forma efectiva. Así mismo, no hay vacuna para SARS-CoV-2 aún<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                         y el desarrollo de la mísma tomaría mucho tiempo. Sin vacunas y sin contagios anteriores que pudieran causar inmunidad de forma amplia, cualquiera es susceptible de ser blanco de infección. A pesar
                         de que la mayoría de los infectados tendrán síntomas leves, la falta de inmunidad de grupo causará enfermedad severa en un número significativo de personas de alto riesgo.  
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Crecimiento exponencial</h3>
                    <p class="font-normal">
                       Debido a la falta de inmunidad a este nuevo virus, el límite de posibles infecciones es la población humana en su totalidad. Y debido a que el crecimiento
                       exponencial siempre es lento al principio, puede terminar en números insondables en muy corto tiempo. Con el número de infecciones actualmente duplicándose
                       en cuestión de unos días<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, nuestros sistemas médicos estarán sobrecargados, lo
                       cual causa aún más muertes, ya que la gente no puede recibir los cuidados necesarios.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Al unirte al movimiento, y por lo tanto limitar el número de infecciones nuevas posibles, no solo te estás protegiendo, sino que también ayudas a contener y limitar
                la transmisión a todos los demás, especialmente a aquellos con altos riesgos de sufrir consecuencias severas a causa de este virus.
<br /><br />
                
                <strong>Si te importa esta causa, por favor compártela en redes sociales, por correo, o simplemente habla con tu familia y amigos al respecto. Pero por favor, #StayTheFuckHome</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Haré mi parte en la lucha contra #COVID19. ¡Le insto a que haga lo mismo!" data-url="https://staythefuckhome.com/es/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Advertencia:</strong> El contenido de este sitio no constituye consejos médicos. La información proporcionada tiene la finalidad de compartir una guía práctica y evidencia anecdótica a individuos preocupados por protegerse a ellos y a sus seres queridos. No hay ninguna garantía o evidencia científica que seguir los pasos resultará
                en una reducción de infecciones nuevas o que detenga la epidemia de COVID-19. Tampoco hay garantía que seguir los pasos reduzca el riesgo de infección de SARS-CoV-2 o cualquier otra enfermedad viral o bacteriana. Toda la información en este sitio se comparte con la mejor intención y el deseo de aportar información verídica. Bajo ninguna circunstancia
                los operadores del sitio serán responsables de ninguna reclamación, daños, y otras responsabilidades. Si tienes alguna duda o comentario acerca de la información en este sitio, por favor escribe a <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


