---
layout: default
meta_title: Liike COVID-19-pandemian pysäyttämiseksi
meta_description: Valtiomme eivät pysty pysäyttämään sitä yksin, nyt on ryhdyttävä toimeen! Tee osasi ja pysy hitto kotona!
body_class: home
title: '#StayTheFuckHome'
lang: fi
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Liike COVID-19-pandemian pysäyttämiseksi</h2>

        <div class="content">

            <p class="text-xl">
                Valtiot ja niiden hallitukset toimivat hitaasti
                <a href="https://fi.wikipedia.org/wiki/SARS-CoV-2">SARS-CoV-2</a>-viruksen leviämisen hillinnässä
                ja <a href="https://fi.wikipedia.org/wiki/Koronaviruspandemia_2019–2020">COVID-19-pandemian</a> rajoittamisessa.
                Hitaat reaktiot, julkista hyväksyntää hakevat päätökset ja yritykset vakauttaa taloustilanne,
                ovat estäneet päättäjiä tekemästä ratkaisuja, joita tarvitaan miljoonien suojelemiseksi taudilta.
                Tämä ei kuitenkaan ole tehtävä vain hallituksille. Nyt on meidän aikamme maailman kansalaisina toimia ja
                tehdä osamme taistelussa COVID-19-pandemiaa vastaan.
                <br /><br />
                Sanotaan se nyt suoraan: <strong>Pysy Hitto Kotona!</strong>
            </p>

            <h2 class="text-3xl">Itsekaranteenin manifesti</h2>

            <p>
                Ilman tutkittuja hoitoja ja käyttökelpoista rokotetta, jonka kehittämiseen kuluu vielä ainakin vuosi, ainoa tehokas keino
                estää koronaviruspandemian räjähtämistä käsiin on antaa sille vähemmän mahdollisuuksia levitä. Seuraavan listan toimenpiteet,
                järjestettynä helpoimmasta tehokkaimpaan tapaan torjua pandemiaa, ovat ohjenuoria heille, jotka haluavat liittyä liikkeeseen
                ja toimillaan vaikuttaa pandemian kulkuun.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Älä panikoi, mutta ole valppaana.</li>
                <li class="pb-2">Pese kätesi usein. Yski ja aivasta oikeaoppisesti.</li>
                <li class="pb-2">Yritä olla koskematta kasvoja, etenkin suuta, nenää ja silmiä.</li>
                <li class="pb-2">Pidä etäisyyttä muihin ihmisiin, ei haleja, suudelmia, kättelyitä tai yläfemmoja. Käytä tarvittaessa turvallisempia vaihtoehtoja.</li>
                <li class="pb-2">Älä käy konserteissa, esityksissä, urheilutapahtumissa tai muissa suurissa viihdetapahtumissa.</li>
                <li class="pb-2">Pidättäydy museokäynneistä, näyttelyvierailuista, elokuvateattereissa, yökerhoissa ja muissa kulttuurikohteissa käymisestä.</li>
                <li class="pb-2">Pysy poissa kokoontumisista ja tapahtumista, kuten kerhoista, uskonnollisista toimituksista ja yksityisistä juhlista.</li>
                <li class="pb-2">Matkusta niin vähän kuin mahdollista. Älä tee kaukomatkoja, ellei se ole välttämätöntä.</li>
                <li class="pb-2">Älä käytä julkista liikennettä, ellei se ole välttämätöntä.</li>
                <li class="pb-2">Tee töitä kotoa käsin, jos se on mahdollista. Suostuttele työnantajasi sallimaan etätyöskentely tarvittaessa.</li>
                <li class="pb-2">Korvaa lähikontaktit ihmisten kansssa turvallisilla vaihtoehdoilla, kuten puheluilla ja videoviesteillä.</li>
                <li class="pb-2">Älä poistu kotoasi, ellei se ole välttämätöntä.</li>
            </ol>

            <p class="text-xl">
                Muistathan, että ei ole olemassa oikeaa tai väärää määrää toimenpiteitä. Ota käyttöön toimenpiteet, jotka sopivat sinulle ja jotka eivät
                vaaranna elinympäristöäsi tai toimeentuloasi. <strong>Älä lopeta töitäsi tämän vuoksi!</strong>
                Kuitenkin muista, että jokainen toimenpide on avuksi.
            </p>

            <h2 class="text-3xl">Miksi tämä on niin tärkeää</h2>

            <p>
                SARS-CoV-2 on helposti tarttuva ja joissain tapauksissa tappava virus, joka aiheuttaa hengityselinsairautta nimeltään COVID-19.
                Saatat tuntea sen monista muista nimistä, kuten 2019-nCoV, uusi koronavirus, Wuhanin koronavirus, Kiinan tai Wuhanin flunssa tai pelkästään
                koronavirus.
                Kaikki nämä viittaavat samaan virukseen, jonka tämä liike pyrkii pysäyttämään.
            </p>

            <p>
                Viime kuukausien ja viikkojen aikana virusta ja sen aiheuttamia oireita on verrattu influenssavirukseen ja kausi-influenssaan.
                Oireiden samankaltaisuusuudesta ja näennäisesti yhtäläisestä vakavuudesta johtuen vertaus on luonteva monelle ihmiselle.
                Kuitenkin tarkasteltaessa tietoja, joita uudesta viruksesta on kerätty, voidaan todeta viruksen aiheuttavan huomattavan
                uhan yhteiskunnalle.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Tarttuu helpommin kuin kausi-influenssa</h3>
                    <p class="font-normal">
                        Arvioidulla R0-arvolla (jatkotartuntojen odotusarvo yhdestä henkilöstä siinä tapauksessa, jossa populaation kaikki jäsenet ovat yhtä
                        alttiita) 1,4 &dash; 6,49 välillä ja keskiarvoennusteella 3,28
                        <sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319"
                        target="_blank">[1]</a></sup>,
                        SARS-CoV-2 on huomattavasti tarttuvampi ja leviää nopeammin kuin kausi-influenssa, jonka mediaani R0 on 1,28
                        <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Hengenvaarallisempi kuin kausi-influenssa</h3>
                    <p class="font-normal">
                        Kuolleisuusaste (case fatality rate, CFR) SARS-CoV-2 tapauksessa on arviolta noin 2%
                        <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        joka tarkoittaa, että valitettavasti noin 2% COVID-19-taudin saaneista menehtyvät siihen. Kausi-influenssaan verrattuna, jonka
                        kuolleisuusaste on noin 0.1%
                        <sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>,
                        tämä tarkoittaa, että SARS-CoV-2 on arviolta 20 kertaa kausi-influenssaa tappavampi.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Vakavien oireiden mahdollisuus</h3>
                    <p class="font-normal">
                        Arviolta 15 &ndash; 20% sairastuneista henkilöistä kärsivät vakavista oireista, jotka vaativat lääketieteellistä hoitoa
                        <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>
                        , kuten keuhkokuume yhdistettynä hengitysvaikeuksiin ja veren happisaturaation laskuun.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Ei hoitoa, rokotetta tai immuniteettia</h3>
                    <p class="font-normal">
                        Koska SARS-CoV-2 on hiljattain esiintynyt, COVID-19-sairauteen ei ole vielä olemassa tutkittua hoitoa ja lisää tutkimuksia
                        tarvitaan, jotta sairastuneita voidaan hoitaa tehokkaasti.
                        Myöskään rokotetta ei vielä ole SARS-CoV-2-virusta vastaan
                        <sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        ja rokotteen kehittäminen vaatii huomattavasti aikaa.
                        Ilman rokotetta ja aiempaa kattavaa immuniteettia kaikki ovat alttiita tartunnalle.
                        Vaikka suurin osa tartunnan saaneista henkilöistä saavat vain lieviä oireita, laumasuojan puuttuminen voi johtaa riskiryhmiin kuuluvien
                        sairastumisiin merkittävissä määrin.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Eksponentiaalinen kasvu</h3>
                    <p class="font-normal">
                        Immuniteetin puutteen johdosta yläraja mahdollisten tartuntojen määrälle on koko ihmiskunta. Vaikka alkuun eksponentiaalinen
                        kasvu vaikuttaa aina hitaalta, se voi johtaa käsittämättömän suuriin lukumääriin hyvin lyhyellä aikavälillä.
                        Kun sairastuneiden lukumäärä kaksinkertaistuu muutamassa päivässä
                        <sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>
                        terveydenhuoltojärjestelmämme voivat ylikuormittua, mikä johtaa isoon määrään kuolemantapauksia, koska ihmiset eivät saa
                        tarvitsemaansa hoitoa.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
               Liittymällä liikkeeseen ja täten rajoittamalla uusien tartuntojen riskiä et ainoastaan suojele itseäsi, vaan myös autat hillitsemään ja rajoittamaan
               viruksen leviämistä muihin, etenkin riskiryhmien edustajiin, jotka voivat saada vakavia seurauksia tästä viruksesta.
               <br/>
               <br/>
                
                <strong>Jos välität tästä tavoitteesta, jaa se sosiaalisessa mediassa, sähköpostilla tai vain kerro ystävillesi ja perheellesi, mutta ole ystävällinen ja
                #StayTheFuckHome.
                </strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Kaikille jotka haluavat osallistua #StayTheFuckHome-sivuston ja liikkeen kehittämiseen, tiedoksi, että olemme tehneet lähdekoodin avoimeksi
                kehitykseen osallistumisen mahdollistamiseksi. GitHub-koodilähde sijaitsee osoitteessa: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Jos sinulla on mitä tahansa muuta palautetta liittyen sivuston sisältöön, voit kirjoittaa meille osoitteeseen
                <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Otathan kuitenkin huomioon, että saamme tällä hetkellä paljon viestejä, joten emme välttämättä pysty vastaamaan kaikille suoraan.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Vastuunrajoitus:</strong> Tämän sivuston sisältö ei ole lääketieteellistä ohjeistusta. Informaatio, joka yllä on annettu, on tarkoitettu
                vain valppaille henkilöille löyhäksi ohjesäännöksi perustuen parhaisiin käytäntöihin ja kokemukseen suojella itseämme ja rakkaitamme.
                Ei ole olemassa takeita tai tieteellistä näyttöä, että ohjesääntö tosiasiasssa johtaisi tartuntojen vähenemiseen tai jopa pysäyttäisi
                COVID-19-epidemian. Eikä myöskään ole takeita, että ohjesääntö vähentäisi riskiä saada SARS-CoV-2-tartunnan tai minkään muun virus- tai
                bakteeritartunnan. Kaikki tieto on kerätty sivustolle parhaassa tarkoitusperässä ja totuudessa pysymisessä. Missään tapauksessa sivuston
                ylläpitoa ei tule yrittää saattaa vastuuseen vahingontuottamuksesta tai vastaavista asioista. Jos sinulla on huolia, epäilyksiä tai muita
                liittyen sivustolla esitettyyn tietoon, ole hyvä ja kirjoita meille osoitteeseen
                <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>

