---
layout: default
meta_title: Liike COVID-19-pandemian pysäyttämiseksi
meta_description: Valtiomme eivät pysty pysäyttämään sitä yksin, nyt on ryhdyttävä toimeen! Tee osasi ja pysy kotona!
body_class: home
title: '#StayTheFuckHome'
lang: fi
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Liike COVID-19-pandemian pysäyttämiseksi</h2>

        <div class="content">

            <p class="text-xl">
                Valtiot ovat hiljalleen ottamassa käyttöön menetelmiä hallitakseen
                <a href="https://fi.wikipedia.org/wiki/SARS-CoV-2">SARS-CoV-2</a>-viruksen leviämistä
                and rajoittaakseen <a href="https://fi.wikipedia.org/wiki/Koronaviruspandemia_2019–2020">COVID-19-pandemiaa</a>.
                Hidas reagointi, populistinen politiikka ja talouden vakautta painottava politiikka ovat rajoittaneet
                valtioiden toimenpiteitä suojella miljoonia kansalaisia tältä taudilta. Mutta toisaalta tämä ei ole vain valtioiden vastuulla.
                Nyt on meidän aikamme maapallon kansalaisina ryhtyä toimeen ja tehdä voitavamme taistellessamme COVID-19-epidemiaa vastaan.
                <br /><br />
                Sanotaan nyt suoraan: <strong>Pysy Hitto Kotona!</strong>
            </p>

            <h2 class="text-3xl">Itsemme karanteeniin asettamisen manifesti</h2>

            <p>
                Ilman tutkittuja hoitoja ja käyttökelpoista rokotetta, jonka kehittämiseen kuluu vielä ainakin vuosi, ainoa tehokas keino
                estää koronaviruspandemian räjähtämistä käsiin on antata sille vähemmän mahdollisuuksia levitä. Seuraava lista toimenpiteistä,
                järjestettynä helpommasta tehokkaimpaan tapaan torjua pandemiaa, tulisi toimia liikkeen talkoisiin ja merkitykselliseen toimintaan
                mukaan haluaville löyhänä ohjesääntönä.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Älä panikoi, mutta pysy valppaana.</li>
                <li class="pb-2">Pese käsiäsi usein sekä harjoita hyvää yskimis- ja niistämisetikettiä.</li>
                <li class="pb-2">Koskettele kasvojasi niin vähän kuin mahdollista, mukaan lukien suutasi, nenääsi ja silmiäsi.</li>
                <li class="pb-2">Toteuta sosiaalista eristäytymistä, ei halauksia eikä suukkoja, ei kättelyitä, ei yläviitosia.
                Jos kuitenkin pakottava tarve, käytä turvallisempia vaihtoehtoja.</li>
                <li class="pb-2">Älä osallistu konsertteihin, lavaesityksiin, urheilutapahtumiin tai mihinkään muunlaiseen massaviihdetapahtumaan.</li>
                <li class="pb-2">Pidättäydy museokäynneistä, näyttelyvierailuista, elokuvateattereissa, yökerhoissa ja muissa viihdepaikoissa käymisestä.</li>
                <li class="pb-2">Pysy poissa sosiaalisista kokoontumisista ja tapahtumista, kuten kerhotapaamisista, uskonnollisista palveluksista ja
                yksityisistä juhlista.</li>
                <li class="pb-2">Vähennä matkustelusi minimiin. Älä tee kaukomatkoja ellei aivan välttämätöntä.</li>
                <li class="pb-2">Älä käytä julkista liikennettä ellei aivan välttämätöntä.</li>
                <li class="pb-2">Jos voit tehdä töitä kotoa käsin, niin tee. Patista työnantajaasi tarjoamaan etätyömahdollisuutta, jos tarpeen.</li>
                <li class="pb-2">Korvaa kaikki mahdolliset sosiaaliset kanssakäymiset etäyhteyksillä, kuten puheluilla ja videoviestimillä.</li>
                <li class="pb-2">Älä poistu kotoa, jollei ehdottoman vältämätöntä.</li>
            </ol>

            <p class="text-xl">
                Muistathan, että ei ole olemassa oikeaa tai väärää määrää toimenpiteitä. Ota käyttöön toimenpiteet, jotka sopivat sinulle ja jotka eivät
                vaaranna elinympäristöäsi. <strong>Älä lopeta töitäsi tämän vuoksi!</strong>
                Muista, että jokainen tomenpide kuitenkin on avuksi.
            </p>

            <h2 class="text-3xl">Miksi tämä on niin tärkeää</h2>

            <p>
                SARS-CoV-2 on erittäin tarttuva ja joissain tapauksissa tappava virus, joka aiheuttaa taudin tunnukseltaan COVID-19.
                Saatat tuntea sen monista muista nimistä, kuten 2019-nCoV, uusi koronavirus, Wuhanin koronavirus, Kiina- tai Wuhan-flunssa tai pelkästään
                koronavirus.
                Kaikki nämä viittavat samaan virukseen, jonka tämä liike pyrkii pysäyttämään.
            </p>

            <p>
                Viimeisten kuukausien ja viikkojen aikana tätä virusta ja siihen liittyvää sairautta on verrattu uudelleen ja uudelleen influenssaan
                ja kausi-influenssaan.
                Oireiden ja vakavuuden samankaltaisuudesta johtuen tämä vertaus tulee helposti monelle mieleen, mutta kuitenkin se mitä nyt tähän mennessä
                tiedämme tästä viruksesta yhteiskunnallinen uhka ei ole helposti sivuutettavissa.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Tarttuvampi kuin flunssa</h3>
                    <p class="font-normal">
                        Arvioidulla R0-arvolla (jatkotartuntojen odotusarvo yhdestä henkilöstä siinä tapauksessa, jossa populaation kaikki jäsenet ovat yhtä
                        alttiita) 1,4 &dash; 6,49 välillä ja keskiarvoennusteella 3,28
                        <sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319"
                        target="_blank">[1]</a></sup>,
                        SARS-CoV-2 on huomattavasti tarttuvampi ja leviää nopeammin kuin kausi-influenssa, jonka mediaani R0 on 1,28
                        <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Tappavampi kuin flunssa</h3>
                    <p class="font-normal">
                        Kuolleisuusaste (case fatality rate, CFR) SARS-CoV-2 tapauksessa on arviolta noin 2%
                        <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        joka tarkoittaa, että valitettavasti noin 2% COVID-19-taudin saaneista menehtyvät siihen. Kausi-influenssaan verrattuna, jonka
                        kuolleisuusaste on noin 0.1%
                        <sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>,
                        tämä tarkoittaa, että SARS-CoV-2 on arviolta 20 kertaa kausi-influenssaa tappavampi.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Mahdollisesti vakavia oireita aiheuttava</h3>
                    <p class="font-normal">
                        Arviolta 15 &ndash; 20% sairastuneista henkilöistä kärsivät vakavista oireista, jotka vaativat lääketieteellistä hoitoa
                        <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>
                        , kuten keuhkokuumetta yhdistettynä hengitysvaikeuksiin ja veren hapetuksen laskuun.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Ei hoitoa, ei rokotetta, ei immuniteettia</h3>
                    <p class="font-normal">
                        Koska SARS-CoV-2 on vasta hiljattain tullut esiin, COVID-19-sairauteen ei ole vielä olemassa tutkittua hoitoa ja lisää tutkimuksia
                        tarvitaan, jotta sairastuneita voidaan hoitaa tehokkaasti.
                        Kuten myös rokotettakaan ei ole SARS-CoV-2:ta vastaan vielä
                        <sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        ja tarvittavan rokotteen kehittäminen tulee vielä viemään paljon aikaa. Ilman rokotetta ja aiempaa laajalle levinnyttä immuniteettia
                        jokainen on altis saamaan tartunnan.
                        Vaikka suurin osa tartunnan saaneista henkilöistä saavat vain lieviä oireita, laumasuojan puuttuminen voi johtaa riskiryhmiin kuuluvien
                        sairastumisiin merkittävissä määrin.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Eksponentiaalinen kasvu</h3>
                    <p class="font-normal">
                        Immuniteetin puuttuminen tätä virusta vastaan, koko ihmisväestö on ylärajana mahdollisille tartunnoille. Ja vaikka eksponentiaalinen kasvu
                        näyttääkin aluksi hitaalta, se voi johtaa käsittämättömän suuriin lukuihin verrattain lyhyesä ajassa.
                        Kun sairastuneiden lukumäärä kaksinkertaistuu muutamassa päivässä
                        <sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>
                        terveydenhuoltojärjestelmämme voivat mahdollisesti ylikuormittua, joka johtaa isoon määrään kuolemantapauksia, koska ihmiset eivät saa
                        tarvitsemaansa hoitoa.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Liittymällä tähän liikkeeseen ja siten rajoittamalla mahdollisia uusia tartuntoja et vain suojele itseäsi, mutta myös autat rajoittamaan
                leviämistä kaikkien muidenkin puolesta, erityisesti heidän, jotka ovat suuremmassa riskissä saada vakavia seurauksia tästä viruksesta.<br /><br />

                <strong>Pyydämme, että jaat tätä sosiaalisessa mediassa, sähköpostilla tai vain kertomalla ystävillesi ja perheellesi jos kannatat tätä aatetta. Mutta ennen kaikkea #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Kaikille jotka haluavat osallistua #StayTheFuckHome-sivuston ja liikkeen kehittämiseen, tiedoksi, että olemme tehneet lähdekoodin avoimeksi
                kehitykseen osallistumisen mahdollistamiseksi. GitHub-koodilähde sijaitsee osoitteessa: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Jos sinulla on mitä tahansa muuta palautetta liittyen sivuston sisältöön, voittte kirjoittaa meille osoitteeseen
                <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Otathan kuitenkin huomioon, että saamme tällä hetkellä paljon viestejä, joten emme välttämättä pysty vastatamaan kaikille suoraan.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Vasuunrajoius:</strong> Tämän sivuston sisältö ei ole lääketieteellistä ohjeistusta. Informaatio, joka yllä on annettu, on tarkoitettu
                vain valppaille henkilöille löyhäksi ohjesäännöksi perustuen parhaisiin käytäntöihin ja kokemukseen suojella itseämme ja rakkaitamme.
                Ei ole olemassa takeita tai tieteellistä näyttöä, että ohjesääntö tosiasiasssa johtaisi tartuntojen vähenemiseen tai jopa pysäyttäisi
                COVID-19-epidemian. Eikä myöskään ole takeita, että ohjesääntö vähentäisi riskiä saada SARS-CoV-2-tartunnan tai minkään muun virus- tai
                bakteeritartunnan. Kaikki tieto on kerätty sivustolle parhaassa tarkoitusperässä ja totuudessa pysymisessä. Missään tapauksessa sivuston
                ylläpitoa ei tule yrittää saattaa vastuuseen vahingontuottamuksesta tai vastaavista asioista. Jos sinulla on huolia, epäilyksiä tai muita
                liittyen sivustolla esitettyyn tietoon, ole hyvä ja kirjoita meille osoitteeseen
                <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


