---
layout: default
meta_title: התנועה לעצירת מגיפת הקורונה
meta_description: הממשלות שלנו לא מסוגלות לעשות זאת לבד! חייבים לפעול עכשיו! עשה את חלקך וStay the fuck home!
body_class: home
title: '#StayTheFuckHome'
lang: he
---

<main id="main" dir="rtl" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title text-right" dir="ltr">{{ title }}</h1>
        <h2 class="page-subtitle">התנועה לעצירת מגיפת הקורונה</h2>

        <div class="content">

            <p class="text-xl">
הממשלות שלנו מנסות באיטיות להחיל אמצעים לשליטה בהתפשטות
                <a href="https://he.wikipedia.org/wiki/SARS-CoV-2">SARS-CoV-2</a>
                ולהכיל את <a href="https://he.wikipedia.org/wiki/%D7%9E%D7%97%D7%9C%D7%AA_%D7%A0%D7%92%D7%99%D7%A3_%D7%A7%D7%95%D7%A8%D7%95%D7%A0%D7%94_2019">מחלת נגיף קורונה 2019</a>.
                תגובות איטיות, רצון לרצות את הציבור, והדחף לייצב את הכלכלה מנעו מהן להחיל את האמצעים הדרושים להגן על מיליוני אנשים מהמחלה. למרות זאת, לא הכל נופל על הממשלות. זה הזמן שאנחנו, אזרחי הכדור הזה, נחל לפעול ולעשות את חלקנו במלחמה נגד COVID-19.
                <br /><br />
                נגיד את זה בישירות: <strong>Stay The Fuck Home!</strong>
            </p>

            <h2 class="text-3xl">עיקרון הבידוד העצמי</h2>

            <p>
                ללא טיפול מוכח, ובעוד שחיסון נמצא במרחק של שנה לפחות, הדרך היעילה היחידה לשמור על מגיפת הקורונה תחת שליטה הוא לתת לוירוס פחות סיכוי להתפשט. רשימת הפעולות הבאה, מסודרות מהקל ביותר אל היעיל ביותר, תשמש כאוסף עקרונות כללי עבור אנשים שרוצים להצטרף אל התנועה החברתית ולפעול בדרך שתביא שינוי אמיתי:
            </p>

            <ol class="text-xl mb-12 list-decimal pr-12">
                <li class="pb-2">אל תיכנסו לפאניקה, אבל היו עירניים.</li>
                <li class="pb-2">שטפו את ידיכם לעיתים קרובות מאוד ושימו לב כשאתם משתעלים או מתעטשים.</li>
                <li class="pb-2">נסו לא לגעת באיזור הפנים, כולל בפה, אף ועיניים.</li>
                <li class="pb-2">נסו להמנע מקירבה חברתית, מחיבוקים ונשיקות, לחיצות יד או כיפים. אם זה חובה, מצאו תחליפים בטוחים יותר.</li>
                <li class="pb-2">אל תלכו להופעות, הצגות, אירועי ספורט או כל אירוע המוני אחר.</li>
                <li class="pb-2">אל תבקרו במוזיאונים, תערוכות, בתי קולנוע, מועדונים ושאר מקומות בילוי.</li>
                <li class="pb-2">התרחקו מהתקהלויות חברתיות ומאירועים, כגון מפגשי מועדונים, טקסים דתיים ומסיבות פרטיות.</li>
                <li class="pb-2">הפחיתו את כמות הנסיעות למינימום. המנעו מנסיעות ארוכות שלא לצורך.</li>
                <li class="pb-2">אל תשתמשו בתחבורה הציבורית, אלא אם יש צורך מובהק בכך.</li>
                <li class="pb-2">אם ניתן לעבוד מהבית, עשו זאת. אם צריך, דרבנו את המעסיק שלך לאפשר עבודה מהבית.</li>
                <li class="pb-2"> החליפו ככל הניתן, אינטראקציות חברתיות באלטרנטיבות כמו שיחות טלפון או שיחות וידיאו.</li>
                <li class="pb-2">אל תעזבו את ביתכם אם אין לכם צורך מוחלט לעשות זאת.</li>
            </ol>

            <p class="text-xl">
                זכרו, אין כמות נכונה או לא נכונה של פעולות שניתן לעשות. בצעו רק את הפעולות שאתם מרגישים נוח איתם ושאינן מסכנות אותכם. <strong>אל תתפטרו ממקום עבודתכם</strong>.
                עם זאת, זכרו שכל פעולה עוזרת.
            </p>

            <h2 class="text-3xl">למה זה כל כך חשוב</h2>

            <p>
                SARS-CoV-2 הוא נגיף מדבק ביותר וקטלני אשר גורם למחלה בדרכי הנשימה בשם COVID-19.
                אתם כנראה מכירים אותו באחד משמותיו הרבים, כמו 2019-nCoV, וירוס נובל, השפעת הסינית או שפעת וואהן, או פשוט כ- coronavirus.
                כל השמות הנ”ל מתייחסים לאותו וירוס אשר אנו מנסים לעצור
            </p>

            <p>
                במשך השבועות והחודשים האחרונים, הוירוס והמחלה הנגרמת ממנו הושוו שוב ושוב לנגיף השפעת ולשפעת העונתית. מכיוון שהסימפוטמים זהים והחומרה דומה למראית עין, השוואה באה בקלות להרבה אנשים. אף על פי כן, אם מסתכלים על מה שאנחנו יודעים כה אודות הוירוס החדש, לא ניתן להתעלם בקלות מהאיום שלו על החברה האנושית.
            </p>

            <ol class="text-xl mb-12 list-decimal pr-12 font-bold">
                <li class="pb-2">
                    <h3>מדבק יותר משפעת</h3>
                    <p class="font-normal">
                        עם R0 משוער (מספר ההדבקות הישירות המשוער מנשא יחיד באוכלוסיה אשר נמצאת בסיכון שווה) של 6.49 &ndash; 1.4 וממוצע משוער של 3.28,<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        הנגיף מדבק הרבה יותר ומתפשט במהירות רבה יותר מהשפעת העונתית, אשר לה R0 ממוצע של 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>קטלני יותר משפעת</h3>
                    <p class="font-normal">
                        שיעור התמותה (CFR) של הנגיף הוא 2% לערך<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        אשר משמעותו, לצערנו, היא שכ-2% מאנשים המאובחנים כנשאי הנגיף ימותו כתוצאה ממנו. לשם השוואה, שיעור התמותה של השפעת העונתית מעורך סביב 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, המשמעות היא שהנגיף הוא כפי 20 יותר קטלני מהשפעת העונתית.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>הסתברות לתסמינים חמורים</h3>
                    <p class="font-normal">
                        כ-15 &ndash; 20% מהנדבקים סובלים מתסמינים חריפים אשר מצריכים התערבות רפואית<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, כולל דלקת ריאות עם בעיות נשימה ושיעור נמוך של חמצן בדם.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>אין טיפול, אין חיסון, אין חסינות</h3>
                    <p class="font-normal">
                        היום והנגיף התפרץ ממש לאחרונה, אין טיפול מוכח למחלה ונדרש מחקר נוסף, על מנת לטפל בחולים בצורה יעילה.
                        בנוסף, אין חיסון למחלה עדיין<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        ופיתוח של חיסון כלשהו ייקח זמן רב. ללא חיסון וללא חסינות נרחבת, כל אחד יכול להדבק במחלה. בעוד רוב בני אדם הנגועים יסבלו מסימפטומים קלים בלבד, המחסור הזה בחסינות באוכלוסייה הכללית ("חסינות העדר") עלול להוביל למחלה חמורה אצל מספר רב של אנשים הנמצאים בקבוצת הסיכון. 
                    </p>
                </li>
                <li class="pb-2">
                    <h3>גידול אקפוננציאלי</h3>
                    <p class="font-normal">
                        עקב חוסר בחסינות כלפי הוירוס החדש הזה, כל האוכלוסיה האנושית יכולה להיות מודבקת. אומנם גידול אקספוננציאלי (מעריכי) נראה איטי בהתחלה, אך הוא יכול להוביל למספרים עצומים בזמן יחסית קצר. נכון לעכשיו, מספר הנדבקים מכפיל את עצמו כל כמה ימים<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, מערכות הבריאות שלנו בסכנת עומס יתר, מה שיוביל למספר רב יותר של קורבנות, שכן אנשים לא יקבלו את הטיפול לו הם זקוקים.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                על ידי הצטרפות לתנועה ועל ידי כך הגבלת הדבקות חדשות, אתם לא מגינים רק על עצמכם, אלא גם עוזרים להכיל ולהגביל את ההתפשטות לאחרים, במיוחד לאלו שנמצאים בסיכון גבוה לסיבוכים מהנגיף.<br /><br />
                
                <strong>אם איכפת לכם ממטרה זו, אנא שתפו במדיה החברתיות, באימייל או פשוט אימרו לחבריכם ומשפחתכם אודותיה. אבל בכל מקרה, בבקשה רק StayTheFuckHome#.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="אבצע את חלקי במלחמה נגד מגיפת הקורונה. אנא עשו זאת גם!" data-url="https://staythefuckhome.com/he/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="mr-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                לאלו שרוצים לתרום לאתר ולתנועת ה-StayTheFuckHome#, העלינו את האתר כקוד פתוח, כדי שכל אחד יוכל לתרום. ה-GitHub נמצא כאן: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                אם יש לכם הערות לגבי תוכן האתר, אנא כתבו לנו ב-<a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                רק קחו בחשבון שאנחנו מקבלים הרבה מיילים כרגע, אז אולי לא נחזור אליכם ישירות.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> תוכן האתר הוא אינו ייעוץ רפואי. המידע מובא כאן כהמלצה לאנשים מודאגים לעקוב אחרי סט הוראות פשוט ולא מחייב המבוסס על הצעדים המעשיים שנמצאו הכי טובים להגנה עצמית והגנה על יקירנו. אין כאן כהבטחה או ראיה מדעית שהמלצות אלו יביאו להפחתה או לעצירה של מגיפת הקורונה. כמו כן, אין הבטחה שהמלצות אלו ימנעו הידבקות במחלת הקורונה או כל נגיף ויראלי או בקטריאלי. כל המידע המובא כאן באתר זה מובא בתום לב ובכוונות טובות על מנת לספר מידע מהימן. בכל מקרה אין לראות ביוצרי אתר זה כאחראים לכל נזק או רעה אשר קרתה כתוצאה ממנו. אם יש לכם חששות או הערות לגבי המידע המוצג באתר זה, נא לכתוב לכתובת <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>



