---
layout: default
meta_title: Mozgalom a COVID-19 járvány megállítására
meta_description: A kormányzatainknak egyedül nem sikerülhet, nekünk kell cselekednünk! Vállald a részed, és maradj otthon a seggeden!
body_class: home
title: '#StayTheFuckHome'
lang: hu
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Mozgalom a COVID-19 járvány megállítására</h2>

        <div class="content">

            <p class="text-xl">
                A kormányzataink nagyon lassan vezetik be intézkedéseiket a
                <a href="https://hu.wikipedia.org/wiki/SARS-CoV-2">SARS-CoV-2</a>
                terjedésének megállítására és <a href="https://hu.wikipedia.org/wiki/COVID-19_koronav%C3%ADrus-j%C3%A1rv%C3%A1ny">COVID-19 járvány</a>
                kezelésére.
                Későn reagálnak, próbálnak a szavazók kedvében járni, és annyira igyekeznek fenntartani a gazdasági
                stabilitást, hogy az akadályozza őket azoknak az intézkedéseknek a meghozatalában, amivel
                emberek millióit lehetne megvédeni ettől a kórtól.
                Itt az idő, hogy a Föld polgáraiként kezünkbe vegyük a sorsunkat, és részt vállaljunk a COVID-19 elleni harcból.
                <br /><br />
                Fogalmazzunk egyszerűen: <strong>Maradjatok otthon a seggeteken!</strong>
            </p>

            <h2 class="text-3xl">Az önkéntes karantén kiáltvány:</h2>

            <p>
                Mivel nincs alaposan tanulmányozott gyógymód, és egy piacképes oltóanyag előállítása
                is még legalább egy évnyire van, jelenleg a koronavírus-járvány féken tartásának
                egyetlen hatásos módszere az, hogy csökkentjük a továbbfertőzés esélyét.
                Az alább felsorolt szabályok (sorrendben a legkönnyebbtől a leghatékonyabbig)
                mindenki számára hasznos irányelvként szolgálhatnak, akik szeretnének csatlakozni
                a mozgalomhoz, és tenni valamit egy olyan helyzetben, amikor döntéshozóink döntésképtelenek.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Ne ess pánikba, de légy óvatos!</li>
                <li class="pb-2">Gyakran moss kezet, és tartsd be a helyes köhögési/tüsszögési etikettet!</li>
                <li class="pb-2">Próbálj a lehető legkevesebbszer hozzáérni az arcodhoz, különösen a szádhoz, orrodhoz, és szemedhez!</li>
                <li class="pb-2">Tarts megfelelő távolságot másoktól! Semmi ölelgetés, puszilgatás, kézfogás vagy pacsizás. Ha muszáj, alkalmazz biztonságosabb alternatívákat!</li>
                <li class="pb-2">Nem menj koncertre, színházba, sporteseményekre, vagy bármi más tömeges szórakoztató eseményre!</li>
                <li class="pb-2">Tartózkodj a múzeumok, kiállítások, mozik, éjszakai klubok, és más szórakozóhelyek látogatásától!</li>
                <li class="pb-2">Maradj távol a társasági eseményektől és gyűlésektől, mint például klubok, vallási, családi, és baráti összejövetelek!</li>
                <li class="pb-2">Utazz a lehető legkevesebbet! Ne utazz nagy távolságra, hacsak nem nagyon muszáj!</li>
                <li class="pb-2">Kerüld a tömegközlekedés használatát, hacsak nem életbevágó!</li>
                <li class="pb-2">Ha tudsz otthonról dolgozni, dolgozz otthonról! Kérd meg a főnöködet, hogy engedélyezze a távmunkát, ha ez lehetséges!</li>
                <li class="pb-2">Igyekezz a közösségi kapcsolattartást olyan megoldásokkal helyettesíteni, amikhez nem kell a személyes jelenlét (például telefonálás vagy video chat)!</li>
                <li class="pb-2">Ne menj el otthonról, csak ha nagyon muszáj!</li>
            </ol>

            <p class="text-xl">
                Ezekből tarts be annyit, amennyit csak lehetséges, minden kicsi segít! Csak azokat a szabályokat kövesd, amik nem okoznak különösen nagy kellemetlenséget, és nem veszélyeztetik a megélhetésed! <strong>Eszedbe ne jusson felmondani az állásod emiatt!</strong>
                De tartsd észben, hogy minden apró cselekedet segít.
            </p>

            <h2 class="text-3xl">Miért fontos ez?</h2>

            <p>
                A SARS-CoV-2 egy nagyon könnyen fertőző vírus,
                ami a COVID-19 nevű, akár halálos kimenetelű légúti megbetegedés okozója.
                Találkozhattál már vele más neveken is, például 2019-nCoV, új
                koronavírus, Wuhan koronavírus, kínai vagy wuhani influenza, vagy
                egyszerűen csak koronavírus.
                Ezek mindegyike ugyanarra a vírusra utal, amit ez a mozgalom próbál megálltani.
            </p>

            <p>
                Az elmúlt hetekben és hónapokban a vírust és az általa okozott betegséget
                gyakran hasonlítgatták az influenza vírushoz és a szezonális influenza járványokhoz.
                A tünetek közti átfedések, és a látszólag hasonló súlyosság miatt ez sok embernek
                kézenfekvőnek tűnhet. Azonban ha megnézzük, amit eddig az új vírusról tudunk,
                egyértelmű, hogy a fenyegetés nem elhanyagolható.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Jobban fertőz, mint az influenza</h3>
                    <p class="font-normal">
                        A SARS-CoV-2 alap szaporodási rátáját (R0) 1,4  és 6,49 közöttire becsülik, 3,28-as átlaggal<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        így az sokkal fertőzőbb és sokkal gyorsabban terjed, mint az 1,28 átlagos R0 értékkel bíró influenza<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Halálosabb az influenzánál</h3>
                    <p class="font-normal">
                        Az úgynevezett halálozási ráta (CFR) becsült értéke a SARS-CoV-2 vírus esetében 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        ami annyit tesz, hogy sajnos a COVID-19 fertőzéssel diagnosztizált emberek 2%-a nem éli túl.
                        Összehasonlításképpen, a szezonális influenza CFR mutatója
                        mindössze 0,1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>. Eszerint a SARS-CoV-2 körülbelül 20-szor halálosabb az influenzánál.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Nagy eséllyel súlyosabbak a tünetek</h3>
                    <p class="font-normal">
                        A fertőzött emberek 15 &ndash; 20%-a produkál olyan súlyos tüneteket, hogy
                        az komoly egészségügyi, kórházi ellátást igényel <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>. Ezek közé tartoznak a tüdőgyulladás, a légzési zavarok, és az oxigén alacsony szintje a vérben.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Nincs gyógymód, nincs oltóanyag, nincs immunitás</h3>
                    <p class="font-normal">
                        Mivel a SARS-CoV-2 csak nemrég bukkant fel, még nincsenek alaposan bevizsgált kezelési módszerek a COVID-19 betegségre. A fertőzött emberek megfelelő ellátásához további kutatások szükségesek.
                        Jelenleg vakcina sincs még a SARS-CoV-2 vírus ellen<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>,
                        és egy oltóanyag kifejlesztése még jelentős időbe kerül. Az oltóanyag hiányának és a széleskörű immunitás hiányának köszönhetően a vírust bárki könnyen elkaphatja.
                        Bár a legtöbb fertőzött csak enyhe tüneteket produkál, a csoport-immunitás hiányában a betegség súlyosabb válfaja könnyen kialakulhat a veszélyeztetett egyének jelentős részében.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Exponenciális növekedés</h3>
                    <p class="font-normal">
                        Mivel az új vírus ellen senkinek nincs immunitása, a fertőzés terjedésének felső határa a teljes emberi népesség. Az exponenciális terjedés eleinte mindig lassúnak tűnik, de nagyon
                        rövid idő alatt felfoghatatlan méreteket ölthet.
                        A fertőzött emberek száma jelenleg pár naponta megkétszereződik<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, így az egészségügyi rendszereink
                        hamar elérik teljesítőképességük határát. Ez további halálos kimenetelű esetekhez vezet majd, mivel az emberek nem kapják meg a szükséges ellátást.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                A mozgalomhoz való csatlakozással segíthetsz korlátozni az új fertőzések számát, így nemcsak magadon segítesz, de a közösségnek is jót teszel. Ha lassítani tudjuk a vírus terjedését, azzal megvédhetjük azokat is, akik különösen
                kiszolgáltatott helyzetben vannak, és a fertőzés súlyosabb következményeitől kell tartaniuk.<br /><br />

                <strong>
                    Ha fontos neked ez az ügy, kérjük oszd meg a közösségi médiában,
                    küldd tovább e-mailben, vagy mesélj róla a családodban és barátaidnak!

                    De könyörgünk, #StayTheFuckHome.
                </strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com/hu/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Azoknak, akik szeretnének hozzájárulni a #StayTheFuckHome önkéntes karantén mozgalomhoz, a website forráskódját megnyitottuk, hogy bárki hozzájárulhasson. A GitHub repó címe: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Ha bármi más kiegészítési javaslatod van a weboldallal kapcsolatban, írj nekünk: <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>
                Tartsd észben, hogy jelenleg rengeteg e-mailt kapunk, így nem mindenre tudunk közvetlenül válaszolni.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Felelősséget kizáró nyilatkozat:</strong>
                Ennek a weboldalnak a tartalma nem minősül orvosi tanácsnak.
                A fenti információk csak tapasztalaton és anekdotális bizonyítékon alapuló javaslatok,
                amiket az ebben érdekeltek követni tudnak, hogy megvédhessék magukat és családjukat.
                Nincs rá garancia sem tudományos bizonyíték, hogy az irányelvek követése csökkenteni
                fogja az új fertőzések számát, vagy megállítja a COVID-19 járványt.
                Ugyancsak nincs garancia arra nézve, hogy az irányelvek követése csökkenti a SARS-CoV-2
                vagy bármely más vírus vagy baktérium általi megfertőződés esélyét.
                Legjobb szándékunk szerint igyekeztünk, hogy a weboldalon megadott információk
                tényszerűek legyenek. A weboldal üzemeltetői semmilyen körülmények között nem
                vállalnak felelősséget bárminemű követelésért, kárért, vagy egyéb igényért.
                Ha Önnek aggályai vagy megjegyzései vannak a weboldalon megjelenő információkkal kapcsolatban,
                azt kérjük jelezze a <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>
                címen!
            </p>

        </div>

    </section>

</main>


