---
layout: default
meta_title: Un movimento per fermare la pandemia di COVID-19
meta_description: I nostri governi stanno deludendo le nostre aspettative, dobbiamo agire adesso! Fai la tua parte e resta a casa, cazzo!
body_class: home
title: '#StayTheFuckHome'
lang: it
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Un movimento per fermare la pandemia di COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                I nostri governi non si stanno impegnando a prevenire la diffusione del <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                 e contenere la <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">la pandemia di COVID-19</a>.
                Reazioni lente, politiche di pacificazione pubblica e l’esigenza di stabilizzare l'economia stanno bloccando l’adozione
                di misure necessarie per proteggere milioni di persone da questa malattia. Ora siamo noi, come cittadini di questa Terra,
                a dover agire e fare la nostra parte nella lotta contro la COVID-19.

                <br /><br />
                Diciamolo una volta per tutte:<strong>Resta a casa, cazzo!</strong>
            </p>

            <h2 class="text-3xl">Il manifesto dell’auto-quarantena</h2>

            <p>
                 Un vaccino valido non sarà disponibile per almeno un altro anno. Ecco perché, in assenza di un trattamento collaudato,
                 l'unico modo efficace per tenere a bada l'epidemia di coronavirus è quello di dare al virus meno possibilità di diffondersi. Abbiamo
                 pensato questo elenco di azioni, ordinate dalla più semplice da attuare alla più efficace nella lotta contro la pandemia, come una serie di
                 linee guida generali per chi vuole unirsi al movimento e fare qualcosa di utile, mentre i governi continuano a guardare dall'altra parte.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Non farti prendere dal panico, ma stai attento.</li>
                <li class="pb-2">Lavati spesso le mani e metti in pratica le norme della buona educazione quando tossisci o starnutisci.</li>
                <li class="pb-2">Cerca di toccarti il ​​viso il meno possibile, inclusi bocca, naso e occhi.</li>
                <li class="pb-2">Mantieni una distanza di sicurezza dagli altri. Evita baci e abbracci, evita di stringere la mano o di dare il cinque.
                Se proprio devi, prendi precauzioni.</li>
                <li class="pb-2">Non andare a concerti, spettacoli teatrali, eventi sportivi o altri eventi in cui c’è molta gente.</li>
                <li class="pb-2">Astieniti dal visitare musei, esposizioni, cinema, locali notturni e altri luoghi di intrattenimento.</li>
                <li class="pb-2">Evita incontri ed eventi sociali, come riunioni di club, funzioni religiose e feste private.</li>
                <li class="pb-2">Riduci al minimo i tuoi spostamenti. Non percorrere lunghe distanze se non è assolutamente necessario.</li>
                <li class="pb-2">Non utilizzare i trasporti pubblici se non è assolutamente necessario.</li>
                <li class="pb-2">Se puoi lavorare da casa, fallo. Se necessario, chiedi al tuo datore di lavoro di consentire il lavoro a distanza.</li>
                <li class="pb-2">Evita le interazioni sociali non necessarie e preferisci alternative a distanza come telefonate o video chat.</li>
                <li class="pb-2">Non uscire di casa se non è assolutamente necessario.</li>
            </ol>

            <p class="text-xl">
                Non esiste un numero giusto o sbagliato di azioni da intraprendere. Fai ciò che è in tuo potere, senza compromettere o
                lasciare il tuo lavoro! Tuttavia, tieni presente che ogni azione conta.
            </p>

            <h2 class="text-3xl">Perché è così importante</h2>

            <p>
                Il SARS-CoV-2 è un virus altamente infettivo e potenzialmente mortale che provoca una malattia respiratoria chiamata
                COVID-19. Potresti conoscerlo con uno dei suoi molti altri nomi, tra cui 2019-nCoV, nuovo coronavirus, coronavirus di Wuhan,
                influenza di Wuhan, influenza cinese o semplicemente coronavirus. Tutte queste diciture si riferiscono a un unico virus: quello
                che questo movimento sta cercando di fermare.

            </p>

            <p>
               Negli ultimi mesi e settimane, il virus e la malattia conseguente all’infezione sono stati spesso paragonati al virus dell'influenza,
               in particolare quella stagionale. A causa della sovrapposizione di sintomi e di una gravità apparentemente simile, sono in molti
               a confondere le patologie. Tuttavia, alla luce delle nostre conoscenze attuali, la minaccia che questo virus rappresenta per la società
               non è facile da ignorare.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Più contagioso dell'influenza</h3>
                    <p class="font-normal">
                        Con un R0 (tasso netto di riproduzione) stimato tra 1,4 &ndash; 6,49 e una media di 3,28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>
                        , il SARS-CoV-2 è molto più contagioso e si diffonde molto più rapidamente dell'influenza stagionale, che ha un R0 medio di 1,28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Più mortale dell'influenza</h3>
                    <p class="font-normal">
                       Il cosiddetto tasso di mortalità (abbreviato a CFR in inglese) del SARS-CoV-2 è stimato intorno al 2% <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>
                        ; questo significa che, sfortunatamente, circa il 2% delle persone a cui è stata diagnosticata la COVID-19 morirà. Per fare un confronto, il CFR dell'influenza stagionale è stimato
                        intorno allo 0,1% <sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>
                        . In altre parole, il SARS-CoV-2 è considerato circa 20 volte più mortale dell'influenza stagionale.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Possibilità di gravi sintomi</h3>
                    <p class="font-normal">
                       Si stima che il 15-20% degli individui infetti presenterà sintomi gravi <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, tra cui polmonite con respiro
                       affannoso e diminuzione dell'ossigeno contenuto nel sangue, e avrà bisogno di ricevere cure mediche.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Nessun trattamento, nessun vaccino, nessuna immunità</h3>
                    <p class="font-normal">
                        Poiché il SARS-CoV-2 è emerso solo di recente, non esiste un trattamento collaudato per la COVID-19. Per trattare le persone infette in modo efficace sono necessarie ulteriori ricerche e, per lo stesso motivo, non abbiamo ancora un vaccino per il
                        SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup> 
                        Il suo sviluppo richiederà molto tempo. Senza vaccini e senza immunità precedente e diffusa, chiunque è un bersaglio sensibile all'infezione. Mentre la maggior parte delle persone infette presenta
                        solo sintomi lievi, la mancanza di immunità di gregge può portare a gravi malattie in un numero significativo di individui a rischio.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Crescita esponenziale</h3>
                    <p class="font-normal">
                       A causa della mancanza di immunità a questo nuovo virus, l'intera popolazione umana è il limite massimo delle possibili infezioni. E, sebbene all'inizio la crescita esponenziale
                       sembri sempre lenta, può portare a numeri insondabilmente alti in un tempo piuttosto breve. Considerato che, al momento, il numero di persone infette raddoppia nel giro di pochi
                       giorni <sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, è molto probabile che i nostri
                       sistemi sanitari saranno sovraccaricati, i malati non riceveranno le cure necessarie e così si registreranno più vittime.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Unendoti al movimento limiti la possibilità di nuove infezioni, proteggi te stesso e aiuti a contenere e limitare la diffusione per tutti gli altri, specialmente quelli che sono a maggior rischio di subire le gravi conseguenze di questo virus.
                <br /><br />
                
                <strong>Ti interessa questa causa? Allora condividila sui social e tramite e-mail, o parlane ai tuoi amici e familiari. Ma, soprattutto, #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Io sto facendo la mia parte nella lotta contro #COVID19. Ti invito a fare lo stesso!" data-url="https://staythefuckhome.com/it/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> il contenuto di questo sito web non costituisce una consulenza medica. Le informazioni presentate su questa pagina vogliono essere un riferimento per chi vuole seguire una serie di linee guida, basate su buone pratiche e prove aneddotiche,
                volte a proteggere se stesso/a e i propri cari. Non vi è alcuna garanzia o prova scientifica che rispettare queste linee guida porterà a una riduzione delle nuove infezioni o che addirittura fermerà l'epidemia di COVID-19, così come non vi è garanzia che si ridurrà il rischio
                di infezione da SARS-CoV-2 o qualsiasi altro contagio virale o batterico. Tutte le informazioni riportate su questo sito sono fornite con l'intenzione di presentare dei fatti. Gli operatori del sito non si assumeranno la responsabilità per eventuali richieste di risarcimento,
                danni o altre richieste di indennizzo in nessun caso. In caso di dubbi o commenti sulle informazioni contenute in questo sito, scrivi a inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


