---
layout: default
meta_title: Un movimento per fermare la pandemia COVID-19
meta_description: I nostri governi stanno deludendo le nostre aspettative, dobbiamo agire adesso! Fai la tua parte e resta a casa cazzo!
body_class: home
title: '#StayTheFuckHome'
lang: it
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Un movimento per fermare la pandemia COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                I nostri governi ci stanno fallendo nel prevenire la diffusione della
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                e contenere la <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">pandemia di COVID-19.</a>
                Le reazioni lente, le politiche di pacificazione pubblica e il loro bisogno di stabilizzare
                l'economia stanno impedendo di adottare le misure necessarie per proteggere milioni di persone da questa malattia.
                È tempo per noi, come cittadini di questa terra, di agire subito e fare la nostra parte nella lotta contro COVID-19.
                <br /><br />
                Mettiamola senza mezzi termini: <strong>Resta a casa cazzo!</strong>
            </p>

            <h2 class="text-3xl">Il manifesto dell’auto-quarantena</h2>

            <p>
                Senza un trattamento ben studiato e un vaccino praticabile ancora in circolazione almeno un altro anno, l'unico modo
                efficace per tenere a bada l'epidemia di coronavirus è quello di dare al virus meno possibilità di diffusione.
                La seguente lista di azioni, ordinate dalla più semplice da attuare alla più efficace nella lotta contro la pandemia,
                dovrebbe servire come una serie di linee guida vaghe per le persone che desiderano unirsi al movimento e agire, in cui i
                responsabili continuano a trascurare.

            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Non fatevi prendere dal panico, ma state attenti.</li>
                <li class="pb-2">Lavati spesso le mani e pratica la buona tosse e l'etichetta starnutita.</li>
                <li class="pb-2">Cerca di toccarti il ​​viso il meno possibile, inclusi bocca, naso e occhi.</li>
                <li class="pb-2">Pratica l'allontanamento sociale, niente baci e abbracci, niente strette di mano, niente high-five. Se è necessario, utilizza alternative più sicure.</li>
                <li class="pb-2">Non andate a concerti, spettacoli teatrali, eventi sportivi o altri eventi di intrattenimento di massa.</li>
                <li class="pb-2">Astenersi dal visitare musei, esposizioni, cinema, locali notturni e altri luoghi di intrattenimento.</li>
                <li class="pb-2">Stare lontano da incontri ed eventi sociali, come riunioni di club, servizi religiosi e feste private.</li>
                <li class="pb-2">Riduci al minimo vostri viaggi. Non percorrere lunghe distanze se non è assolutamente necessario.</li>
                <li class="pb-2">Non utilizzare i trasporti pubblici se non è assolutamente necessario.</li>
                <li class="pb-2">Se puoi lavorare da casa, lavora da casa. Esorta il tuo datore di lavoro a consentire il lavoro a distanza, se necessario.</li>
                <li class="pb-2">Sostituisci le interazioni sociali con alternative a distanza come telefonate o chat video.</li>
                <li class="pb-2">Non uscire di casa se non è assolutamente necessario.</li>
            </ol>

            <p class="text-xl">
                Tieni a mente che non ci sono azioni giuste o sbagliate. Intraprendi solo le azioni con le quali ti senti a
                tuo agio e che non mettono in pericolo i tuoi mezzi di sussistenza. Non abbandonare il tuo lavoro per questo! Tuttavia,
                tieni presente che ogni azione aiuta.
            </p>

            <h2 class="text-3xl">Perché è così importante</h2>

            <p>
                SARS-CoV-2 è un virus altamente infettivo e potenzialmente mortale che provoca una malattia respiratoria chiamata
                COVID-19. Potresti conoscerlo con uno dei suoi molti altri nomi, tra cui 2019-nCoV, nuovo coronavirus,
                Wuhan coronavirus, influenza di Wuhan o cinese, o semplicemente coronavirus. Tutti questi si riferiscono allo stesso virus
                che questo movimento sta cercando di fermare.
            </p>

            <p>
               Negli ultimi mesi e settimane, il virus e la malattia corrispondente sono stati spesso confrontati con il virus
               dell'influenza e dell'influenza stagionale. A causa della sovrapposizione di sintomi e di una gravità apparentemente simile,
               questo confronto arriva naturalmente a molte persone, tuttavia, guardando ciò che sappiamo finora su questo nuovo virus, la minaccia
               che rappresenta per la società non è facilmente scartata.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Più contagioso dell'influenza</h3>
                    <p class="font-normal">
                        Con una R0 stimata tra 1,4 &ndash; 6,49 e una stima media di 3,28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        SARS-CoV-2 è molto più infettiva e si diffonde molto più rapidamente dell'influenza stagionale,
                        che ha una R0 mediana di 1,28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Più mortale dell'influenza</h3>
                    <p class="font-normal">
                        Il cosiddetto tasso di mortalità per caso (CFR) di SARS-CoV-2 è stimato intorno al
                        2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                         il che significa che sfortunatamente, circa 2% delle persone diagnosticati con COVID-19 soccomberàno.
                         In confronto, il CFR dell'influenza stagionale è stimato intorno allo 0,1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>,
                         ciò significa che la SARS-CoV-2 è stimata circa 20 volte più mortale dell'influenza stagionale.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Possibilità di gravi sintomi</h3>
                    <p class="font-normal">
                        Si stima che il 15 &ndash; 20% degli individui infetti soffra di sintomi gravi che richiedono cure mediche<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>,
                        compresa la polmonite con respiro corto e riduzione della saturazione di ossigeno nel sangue.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Nessun trattamento, nessun vaccino, nessuna immunità</h3>
                    <p class="font-normal">
                        Poiché SARS-CoV-2 è emerso solo di recente, non esiste un trattamento ben studiato per COVID-19 e sono necessarie ulteriori ricerche,
                        al fine di trattare efficacemente le persone infette. Allo stesso modo, non esiste ancora un vaccino per
                        SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup> 
                        e lo sviluppo di tale vaccino richiederà molto tempo. Senza vaccini e senza immunità precedente e diffusa, chiunque è un bersaglio sensibile all'infezione.
                        Mentre la maggior parte delle persone infette soffrirà solo di sintomi lievi, questa mancanza di immunità da gregge può portare a gravi malattie in un numero
                        significativo di individui a rischio.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Crescita esponenziale</h3>
                    <p class="font-normal">
                        A causa della mancanza di immunità a questo nuovo virus, l'intera popolazione umana è il limite superiore di possibili infezioni.
                        E sebbene all'inizio la crescita esponenziale sembri sempre lenta, può portare a numeri insondabilmente alti in un tempo piuttosto breve. Con il
                        numero di persone infette che raddoppiano attualmente nel giro di pochi giorni<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, i nostri sistemi medici saranno potenzialmente sovraccarichi, il che porterà a un numero maggiore di vittime, a causa delle persone che non ricevono le cure di cui hanno bisogno.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Unendoti al movimento e quindi limitando le possibilità di nuove infezioni, non stai solo proteggendo te stesso, ma stai anche aiutando a contenere e limitare la diffusione per tutti gli altri, specialmente quelli che sono a maggior rischio di subire le gravi conseguenze di questo virus.
                <br /><br />
                
                <strong>Se ti interessa questa causa, ti preghiamo di condividerla sui social media, via e-mail o semplicemente dirlo ai tuoi amici e familiari. Per favore  #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Farò la mia parte nella lotta contro #COVID19. Ti invito a fare lo stesso!" data-url="https://staythefuckhome.com/it/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=102&height=28" width="102" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> The content of this website does not constitute medical advice. The information provided above is meant to be a suggestion for concerned individuals to follow a loose set of guidelines
                based on best practices and anecdotal evidence to protect themselves and their loved ones. There is no guarantee or scientific evidence that following the mentioned guidelines will lead to a reduction
                in new infections or even stop the COVID-19 epidemic. There is also no guarantee that following these guidelines will reduce the risk of getting infected with SARS-CoV-2 or any other viral or bacterial contagion.
                All information provided on this website is given with the best intent and will to provide factual information. In no event shall the website operators be held liable for any claim, damages or other liabilities. If you have concerns or comments about the information provided on this website,
                please write to <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


