---
layout: default
meta_title: 新型コロナウイルス （COVID-19）の撲滅運動について
meta_description: 政府による施策だけでは感染拡大は防ぎ切れません。私たちが自らアクションしましょう！ 合言葉は「家へ引きこもれ！」です。
body_class: home
title: '#StayTheFuckHome'
lang: ja
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">新型コロナウイルス （COVID-19）の撲滅運動について</h2>

        <div class="content">

            <p class="text-xl">
                現在、政府による<a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>の隔離、および、
                <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">新型コロナウイルス</a>を封じ込めるための施策は十分ではありません。
                状況に対する反応の遅れ、公共施設の緩和、そして、経済を安定させる思惑による行動のすべてによって、数百万人もの感染拡大を招くことになってしまいました。
                しかし、これは政府だけの責任ではありません。地球市民の一人として、私たちが今こそ行動を起こし新型コロナウイルスによる脅威と向き合う時が来たのです。

                <br /><br />
                合言葉は、<strong>「家へ引きこもれ！」</strong>です。
            </p>

            <h2 class="text-3xl">自己予防のための12リスト</h2>

            <p>
                まだ実用できる治療法は見つかっておらず、有効なワクチンが確立されるまで1年はかかります。
                コロナウイルスの感染拡大を防ぐ唯一の方法は、ウイルスが広がる可能性を減らすことだけです。
                下記に並べたアクションリストでは、簡単に始められるものから、拡大を防ぐために最も効果的とされるものまで挙げています。
                撲滅運動に参加して、実際に変化をもたらすことができるガイドラインとして役立つでしょう。
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">落ち着いて行動しましょう。</li>
                <li class="pb-2">手洗いを徹底し、咳やくしゃみをする時はハンカチで口や鼻をおさえましょう。</li>
                <li class="pb-2">口、鼻、目など、出来るだけ顔に触れないようにしましょう。</li>
                <li class="pb-2">ハグ、キス、握手やハイタッチは避けましょう。どうしても必要な場合、より安全なやり方で代替してください。</li>
                <li class="pb-2">コンサート、舞台、スポーツイベント、その他人が集まるイベントには参加しないようにしましょう。</li>
                <li class="pb-2">博物館、展示会、映画館、ナイトクラブ、その他人が集まる施設への出入りは控えましょう。</li>
                <li class="pb-2">飲み会、宗教礼拝、プライベートパーティ、その他集まりや会合は行かないようにしましょう。</li>
                <li class="pb-2">旅行は中止にしましょう。止むを得ない場合を除いて、長距離の移動はしないでください。</li>
                <li class="pb-2">止むを得ない場合を除いて、公共交通機関は使用しないでください。</li>
                <li class="pb-2">なるべく自宅で仕事をするようにしましょう。必要に応じて、会社へリモートワークを許可してもらうように働きかけてください。</li>
                <li class="pb-2">なるべくやり取りは電話やテレビ通話のような手段で代替するようにしましょう。</li>
                <li class="pb-2">止むを得ない場合を除いて、家から出ないでください。</li>
            </ol>

            <p class="text-xl">
                実際に、これら全てに則る必要はありません。これらを参考にして、生活に支障が出ないレベルで行動に移すようにしてください。
                仕事を辞めてまで実行しなければならないというわけではありません！しかし、これら全てのアクションが役に立つことは間違いありません。頭の片隅にも留めておいてください。
            </p>

            <h2 class="text-3xl">なぜ、そんなにも深刻なのか？</h2>

            <p>
                新型コロナウイルスは、感染率が非常に高く、呼吸器疾患に異常をきたし、最悪の場合は死に至る可能性もある危険なウイルスです。
                海外では、COVID-19、SARS-CoV-2、2019-nCoV、Wuhan coronavirusu（武漢コロナウイルス ）、
                China or Wuhan flu（中国、武漢インフルエンザ）と呼ばれることもあり、これら全ては同じウイルスの呼称を指しています。
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>インフルエンザに比べ、感染率が高い</h3>
                    <p class="font-normal">
                        一般的な推定値をR0（1つの症例が発生した場合に想定される感染例数）とした時に、新型コロナウイルスは1.4〜6.49とされ、平均でも3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>と非常に高いとされています。
                        これに対して、例年流行しているインフルエンザは1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>に過ぎません。
                    <p>
                </li>
                <li class="pb-2">
                    <h3>インフルエンザに比べ、死亡リスクが高い</h3>
                    <p class="font-normal">
                        新型コロナウイルスにおける致死率（CFR）は約2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>です。つまり、新型コロナウイルスと診断された人のうち2%が死亡することを意味します。
                        これに対して、インフルエンザの致死率は約0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>とされています。これは、新型コロナウイルスによる死亡リスクはインフルエンザの約20倍ということを意味します。
                    <p>
                </li>
                <li class="pb-2">
                    <h3>重症化の可能性がある</h3>
                    <p class="font-normal">
                        感染者のうち15〜20%は息切れや、血中酵素飽和度の低下に伴なう肺炎など、医師からの治療<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>を必要とする重症に苦しんでいます。
                    </p>
                </li>
                <li class="pb-2">
                    <h3>治療、ワクチン、免疫が確立されていない</h3>
                    <p class="font-normal">
                        新型コロナウイルスは新興感染症であり、正しい治療法が未だ確立されていません。治療法が見つかるまで、まだ研究が必要になります。
                        また、新型コロナウイルスに対するワクチンもありません。<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>ワクチンの開発にも膨大な時間を要するでしょう。
                        前例のない感染症であるため、免疫もなく、誰もが感染しうる対象です。実際のところ、ほとんどの感染者は軽度の症状で治りますが、免疫が欠如していることで既に病を患ってる個人に重い症状を発生させる要因となるでしょう。
                    </p>
                </li>
                <li class="pb-2">
                    <h3>急速な感染拡大</h3>
                    <p class="font-normal">
                        新型ウイルスに対する免疫力の欠如により、感染数への上限はありません。
                        そして、その感染は指数関数的な数値を見せており、最初は少なく見えますが、極めて短い期間で途方もない感染数に至る可能性があります。
                        現在、感染者の増加数は数日で倍増しており<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>、医療機関を麻痺させてしまう恐れがあり、必要な処置を受けられないことにより、死亡する可能性が高まるとされています。                    
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                撲滅運動に参加して、新型ウイルスの感染経路を断つことで、あなた自身だけでなく、周りの人たち、特にウイルスを発症することで重症化してしまうリスクの高い人たちの命を救うことにも繋がることでしょう。<br /><br />
                
                <strong>この問題に関心を抱いてくれた方は、SNSやメールでサイトを共有したり、友人や家族に伝えてください。#StayTheFuckHomeで投稿してくれるだけでも構いません。</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com/ja/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                #StayTheFuckHomeは撲滅運動に貢献したい人たちのために、誰でも協力してもらえるようオープンソース化しました。GitHubレポジトリは<a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>です。
                ウェブサイトのコンテンツに関して他に意見がありましたら<a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>までご連絡ください。
                現在、多くのメール対応をしているため、直接返事できない場合があります。ご了承ください。
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>免責事項:</strong> このウェブサイトの内容は医学的な見解ではありません。本情報は、情報提供者が最適な処置方法と、観測的証拠に基づき、自分自身と周りの人たちをウイルスから守るために提案されたガイドラインです。
                ここに記載のあるガイドラインに従うことで、新型コロナウイルスが減少し、感染症を撲滅できるという科学的根拠はありません。
                また、ガイドラインに従うことで、新型コロナウイルスをはじめ、その他のウイルスに感染するリスクが軽減される保証はありません。このウェブサイトで提供されている情報はあくまで、善意のもとに作成され、明示されてる事実に基づいています。
                いかなる場合においても、ウェブサイトの運営者が、請求、損害、その他の責任を負うことは一切ありません。このウェブサイトに提供される情報についてご意見がある場合は<a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>までご連絡ください。
            </p>

        </div>

    </section>

</main>


