---
layout: default
meta_title: A Movement to Stop the COVID-19 Pandemic
meta_description: Our governments can't do it alone, we have to take action now! Do your part and stay the fuck home!
body_class: home
title: '#StayTheFuckHome'
lang: ko
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">코로나19 팬데믹을 멈추기 위한 운동</h2>

        <div class="content">

            <p class="text-xl">
                각국 정부들은 <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>의
                확산을 통제하고 <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19 팬데믹</a>을
                멈추기 위한 수단을 도입하는 데 있어 그 속도가 느립니다.
                느린 대응, 대중에 대한 유화정책, 그리고 경제를 안정시켜야 한다는 강박 때문에 수백만 명의 사람을 질병으로부터 보호하기
                위한 활동을 하지 못 하고 있습니다. 그렇지만 정부만 할 일이 많은 상황은 아닙니다.
                이 지구에서 살아가는 시민으로서 우리가 나설 때입니다. 코로나19와의 싸움에 도움을 주기 위해 행동할 때입니다.
                <br /><br />
                단도직입적으로 말하자면: <strong>Stay The Fuck Home!</strong>
            </p>

            <h2 class="text-3xl">자가격리 성명</h2>

            <p>
                적어도 일년간은 정립된 치료법도 백신도 없을 것입니다. 코로나19를 궁지로 몰아넣을 유일한 방법은 놈들이 퍼지는 것을 막는 일입니다.
                하단에 행동 지침이 쉬운 것부터 시작해 가장 효과적인 것까지 순서대로 나열되어 있습니다. 행동하기 원하고 변화를 만들기 원하신다면
                이 가이드라인을 따르시기 바랍니다.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">패닉에 빠지지 않되 긴장을 늦추지 마세요.</li>
                <li class="pb-2">손을 자주 씻고 기침 에티켓을 익히세요.</li>
                <li class="pb-2">얼굴을 만지는 일을 최소화하세요. 눈, 코, 입도 마찬가지입니다.</li>
                <li class="pb-2">사회적 거리두기를 지키세요. 포옹, 키스, 악수, 하이파이브도 안 됩니다. 불가피한 경우 안전이 확인된 수단을 이용하세요.</li>
                <li class="pb-2">콘서트, 공연, 경기 관람 등 다수의 인구가 밀집되는 행사에 참여하지 마세요.</li>
                <li class="pb-2">박물관, 전시회, 영화관, 클럽 등의 장소에 가지 마세요.</li>
                <li class="pb-2">친구와의 만남, 친목회, 클럽 모임, 종교, 파티 등을 멀리하세요.</li>
                <li class="pb-2">여행을 최소화하세요. 필요한 경우가 아닌 한 장거리 여행을 피하세요.</li>
                <li class="pb-2">꼭 필요하지 않으면 대중교통 이용을 삼가세요.</li>
                <li class="pb-2">가능하다면 재택근무를 하세요. 필요하다면 고용주를 설득하세요.</li>
                <li class="pb-2">교류 활동은 최대한 전화나 화상통화와 같은 비대면 통신으로 대체하세요.</li>
                <li class="pb-2">꼭 필요한 경우가 아닌 한 집 밖으로 나가지 마세요.</li>
            </ol>

            <p class="text-xl">
                얼마나 적극적으로 가이드라인을 따라야 하는가에 대한 정답은 없습니다. 일상생활에 악영향을 주지 않는 선에서 행동하시기 바랍니다.
                 <strong>이것 때문에 일자리를 버리지 마세요!</strong>
                이거 하나만 기억하시기 바랍니다. 모든 행동 하나하나가 도움이 된다는 것을.
            </p>

            <h2 class="text-3xl">왜 이것이 중요한가?</h2>

            <p>
                SARS-CoV-2는 COVID-19라고 불리는데, 이는 호흡기 질환을 일으키며 전염성이 강하고 살상력 높아, 위험성이 큰 바이러스입니다.
                아마 여러분들은 다른 이름도 익히 들어 보셨을 것입니다. 2019-nCoV, 신종 코로나바이러스, 우한 코로나바이러스, 우한폐렴 등.
                모두 같은 바이러스를 일컫는 말입니다. 우리가 지금 바로 막아야 하는 그것이죠.
            </p>

            <p>
                지난 몇 달 동안 사람들은 코로나바이러스를 인플루엔자나 계절성 독감처럼 여겨 왔습니다.
                증상이 비슷하고 치명적인 정도도 크게 다르지 않기 때문에 사람들의 반응이 언뜻 그럴싸하게 보일 수 있습니다.
                그러나 이 바이러스에 대해 실제로 판명된 바를 고려한다면, 우리 사회가 직면한 위협을 간과해서는 안 됩니다.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>독감보다 더 잘 퍼짐</h3>
                    <p class="font-normal">
                        SARS-CoV-2의 R0(모든 개인이 감염될 수 있을 때, 하나의 케이스로부터 생겨날 수 있는 케이스의 수)의 추정치는 1.4 &ndash; 6.49 사이이고
                        평균은 3.28입니다.<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>
                        한편 계절적 독감이 보인 R0의 중간값은 1.28입니다.<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>
                        즉, SARS-CoV-2의 전염력이 계절적 독감보다 더 높음을 의미합니다. 
                    <p>
                </li>
                <li class="pb-2">
                    <h3>독감보다 더 살상력이 높음</h3>
                    <p class="font-normal">
                        SARS-CoV-2의 치사율(case fatality rate)의 추정치는 2%입니다.<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>
                        즉 COVID-19 양성 판정을 받은 사람들 중 2%가 사망한다는 뜻입니다.
                        반면 계절적 독감의 치사율은 약 0.1%입니다.<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>
                        SARS-CoV-2의 치사율은 계절적 독감에 비해 20배나 높은 꼴입니다.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>심각한 증상을 겪을 가능성</h3>
                    <p class="font-normal">
                        15 &ndash; 20%의 감염자들은 의학적 조치가 필요할 정도로 심각한 증상을 겪습니다.<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>
                        호흡곤란 증세를 야기하고 산소포화도를 떨어뜨리는 폐렴이 한 예입니다.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>치료법도, 백신도, 면역도 없음</h3>
                    <p class="font-normal">
                        SARS-CoV-2는 최근에 나타났기에 충분한 검증이 이루어진 처방법이 개발되지 않아 더 많은 연구가 필요한 실정입니다.
                        당연히 백신도 아직 없습니다.<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        백신을 만드는 일은 굉장히 오래 걸릴 것입니다. 백신이 없는 것에 더해 우리 인류는 이 바이러스에 대한 면역 체계를 개발하지도 못했습니다. 따라서 우리 모두가 감염될 수 있습니다.
                        대부분의 사람들은 가벼운 증상만 앓겠지만, 집단면역이 없는 상황은 건강 상태가 좋지 않은 사람들에게는 치명적일 수 있습니다.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>기하급수적 증가</h3>
                    <p class="font-normal">
                        이 바이러스에 대한 면역이 없기 때문에 전체 인구수가 곧 바이러스에 감염될 위험이 있는 모든 사람의 수가 됩니다.
                        그리고 기하급수적 증가는 언제나 초반엔 느리게 증가하는 것처럼 보이다가도 짧은 시간 안에 굉장히 큰 수로 불어납니다.
                        감염자 수가 하루에 2배씩 증가한다면<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>
                        우리가 가진 의료 체계가 포화될 수 있습니다.
                        의료 체계가 마비되면 치료를 받지 못해 사망하는 사람이 속출할 것입니다.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                이 운동에 참가하고 감염의 가능성을 차단하는데 협조한다면 당신은 자기 스스로를 지킬 뿐만 아니라 다른 사람들,
                특히 바이러스로부터 가장 큰 피해를 볼 가능성이 있는 사람들도 지키는 것이나 마찬가지입니다.
                <br /><br />
                
                <strong>만약 이 운동이 중요하다 생각하신다면 이 페이지를 SNS, 이메일, 또는 구두로 지인에게 전해주세요. 그리고 부디 #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com/ko/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                #StayTheFuckHome 웹사이트에 기여를 하고 싶은 모든 분들께, 이 웹사이트의 소스를 공개하였습니다.
                GitHub 저장소는 여기입니다: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                만약 웹사이트의 내용에 대해 이야기 할 것이 있다면 <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>로 연락 주세요.
                현재 많은 양의 이메일을 받고 있기 때문에 즉시 답변들 드리기는 어려울 수 있습니다.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> 이 사이트는 의학적 조언을 포함하지 않습니다. 상기 제공된 정보는 모범 행동 양식, 입증되지 않은 증거에 기반을 둔 간략한 가이드라인입니다.
                현 상황에 우려를 가진 개인이 자신과 자신이 사랑하는 사람들을 지킬 수 있도록 하기 위해 제공됩니다.
                위의 가이드라인을 따르는 것이 코로나19의 확산을 줄이거나 막을 것이란 과학적 근거는 없습니다.
                또한 SARS-CoV-2, 혹은 그 다른 바이러스나 세균에 의한 전염병에 감염되는 위험을 줄여줄 것이라는 보장도 없습니다.
                이 웹사이트가 제공하는 모든 정보는 최대한 사실적인 정보를 제공하려는 의도와 의지에 의해 제공됩니다.
                그 어떠한 경우에도 이 웹사이트의 주인은 법적인 책임을 지지 않습니다.
                이곳에서 제공된 정보에 관해 문제가 있거나 언급할 사항이 있는 경우 <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>로
                문의 바랍니다.
            </p>

        </div>

    </section>

</main>


