---
layout: default
meta_title: Legal Note
meta_description: Legal Note for #StayTheFuckHome
body_class: privacy
title: Legal Note
lang: en
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">
            <p>The website #StayTheFuckHome is a not-for-profit, non-commercial website to inform and educate people about the COVID-19 pandemic.</p>

            <p>
                The website is provided by:<br />
                Florian Reifschneider<br />
                1148 SW 47th Street<br />
                Cape Coral, FL 33914<br />
                USA<br />
            </p>

            <p>
                The content of this website does not constitute medical advice. The information provided above is meant to be a suggestion for concerned
                individuals to follow a loose set of guidelines based on best practices and anecdotal evidence to protect themselves and their loved ones.
                There is no guarantee or scientific evidence that following the mentioned guidelines will lead to a reduction in new infections or even stop
                the COVID-19 epidemic. There is also no guarantee that following these guidelines will reduce the risk of getting infected with SARS-CoV-2 or
                any other viral or bacterial contagion. All information provided on this website is given with the best intent and will to provide factual information.
                In no event shall the website operators be held liable for any claim, damages or other liabilities. If you have concerns or comments about the
                information provided on this website, please write to <a href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

            <p><a href="/">Back to Homepage</a><p>
        </div>
    </section>
</main>