---
layout: default
meta_title: A Movement to Stop the COVID-19 Pandemic
meta_description: Regjeringene våre kan kan ikke gjøre dette alene, vi må ta grep nå! Gjør din del og hold deg hjemme for faen!
body_class: home
title: '#StayTheFuckHome'
lang: no
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">En folkebevegelse for å stoppe COVID-19-pandemien</h2>

        <div class="content">

            <p class="text-xl">
                Regjeringene våre iverksetter bare begrensede tiltak for å kontrollere spredningen av
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                og for å holde igjen <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19 pandemien</a>.
                Treg reaksjon, tiltak for å holde politisk ro, og deres trang til å stabilisere økonomien har hindret
                dem i å sette til verks tiltakene som trengs for å beskytte millioner fra denne sykdommen.
                Byrden kan imidlertid ikke bæres av våre myndigheter alene. Det er på tide at vi, som verdensborgere, tar grep
                og gjør vårt i kampen mot COVID-19.
                <br /><br />
                La oss si det rett frem: <strong>Hold deg hjemme for faen!</strong>
            </p>

            <h2 class="text-3xl">Selvkarantene-manifestet</h2>

            <p>
                Uten en grundig utredet behandlingsmetode og en levedyktig vaksine, som sannsynligvis ikke vil være generelt tilgjengelig før om et år, er den eneste effektive
                måten å holde viruspandemien i sjakk på å gi viruset færre sjanser til å spre seg. Følgende liste over handlinger, sortert
                etter hva som er lettest å implementere til hva som er mest effektivt i kampen mot pandemien, fungerer som løse
                retningslinjer for folk som ønsker å delta i folkebevegelsen og iverksette tiltak som faktisk kan utgjøre en forskjell.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Ikke få panikk, men vær på vakt.</li>
                <li class="pb-2">Vask hendene ofte. Bruk et papirlommetørkle eller albuekroken til hosting og nysing.</li>
                <li class="pb-2">Forsøk å berøre ansiktet ditt så lite som mulig. Dette inkluderer munn, nese og øyne.</li>
                <li class="pb-2">Hold sosial distanse. Ingen klemmer og kyss, ingen håndhilsing, ingen «high fives». Hvis du absolutt må, bruk sikre alternativer.</li>
                <li class="pb-2">Ikke gå på konserter, forestillinger, sportsbegivenheter eller andre underholdsningsarrangementer med mange mennesker.</li>
                <li class="pb-2">Ikke besøk museer, utstillinger, kinoer, nattklubber eller andre underholdsningsarenaer.</li>
                <li class="pb-2">Hold deg unna sosiale sammenkomster og arrangementer: For eksempel klubber, religiøse sammenkomster, og private fester.</li>
                <li class="pb-2">Reduser din reisemengde til et minimum. Ikke reis lange avstander med mindre det er absolutt nødvendig.</li>
                <li class="pb-2">Ikke bruk offentlig transport med mindre det er absolutt nødvendig.</li>
                <li class="pb-2">Hvis du kan, jobb hjemmefra. Oppfordre arbeidsgiveren din til å tillate hjemmekontor.</li>
                <li class="pb-2">Bytt ut så mange sosiale interaksjoner som mulig med alternativer som telefon- eller videosamtaler.</li>
                <li class="pb-2">Ikke forlat hjemmet ditt med mindre det er absolutt nødvendig.</li>
            </ol>

            <p class="text-xl">
                Det er ingen riktig eller feil mengde tiltak å iverksette. Gjør det som du føler deg komfortabel med, og som ikke setter ditt livsgrunnlag i fare.
                <strong>Ikke si opp jobben din på grunn av dette!</strong> Enhver handling hjelper.
            </p>

            <h2 class="text-3xl">Hvorfor er dette viktig?</h2>

            <p>
                SARS-CoV-2 er et svært smittsomt og potensielt dødelig virus som forårsaker en luftveissykdom kalt COVID-19.
                Du kjenner kanskje til viruset gjennom en av de mange andre navnene, inkludert 2019-nCoV, nytt koronavirus, Wuhan-koronavirus,
                Kina- eller Wuhan-influensa, eller rett og slett bare koronavirus. Alle disse refererer til det samme viruset som denne
                folkebevegelsen forsøker å stoppe.
            </p>

            <p>
                I løpet av de siste månedene og ukene har viruset og den tilsvarende sykdommen blitt sammenlignet igjen og igjen med influensavirus og sesonginfluensa.
                Grunnet overlapp i symptomer og tilsynelatende lignende alvorlighetsgrad er dette en naturlig sammenligning for mange mennesker.
                Ved å se på hva vi vet om viruset hittil er det imidlertid vanskelig å ignorere trusselen viruset utgjør for samfunnet.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Mer smittsomt enn influensa</h3>
                    <p class="font-normal">
                        Med en estimert R<sub>0</sub> (forventet antall tilfeller generert av ett tilfelle i en populasjon hvor alle individer er mottakelige for smitte) på 1,4&ndash;6,49 med et gjennomsnitt på 3,28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        er SARS-CoV-2 mye mer smittsom og spres mye raskere enn sesonginfleunsaen som har en en gjennomsnittlig R<sub>0</sub> på 1,28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Mer dødelig enn influensa</h3>
                    <p class="font-normal">
                        Dødelighetsraten til SARS-CoV-2 er estimert til å være rundt 2&nbsp;%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>.
                        Dette betyr at anslagsvis 2&nbsp;% av mennesker som får diagnosen COVID-19 vil dø som følge av viruset. Til sammenligning er dødelighetsraten for sesonginfluensa estimert
                        til å være rundt 0,1&nbsp;%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>.
                        Dette betyr at SARS-CoV-2 er estimert til å være omkring 20 ganger mer dødelig enn sesonginfluensa.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Mulighet for alvorlige symptomer</h3>
                    <p class="font-normal">
                        Anslagsvis 15&ndash;20&nbsp;% av de smittede vil lide av alvorlige symptomer som vil kreve medisinsk assistanse<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>.
                        Dette inkluderer lungebetennelse med kortpustethet og nedsatt oksygenmetning i blodet.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Ingen behandling, ingen vaksine, ingen immunitet</h3>
                    <p class="font-normal">
                        Siden SARS-CoV-2 kun nylig har dukket opp er det ingen godt studert behandling for COVID-19. Mer forskning er nødvendig for å kunne behandle smittede mennesker effektivt.
                        Likedan er det heller ingen vaksine for SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        og utvikling av en slik vaksine vil ta betydelig tid. Uten vaksiner og ingen tidligere og bred spredning av immunitet er alle mennesker potensielle mottakere av smitte.
                        Selv om de fleste smittede kun vil oppleve milde symptomer kan denne mangelen på flokkimmunitet føre til alvorlig sykdom hos en betydelig mengde personer i risikogrupper.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Eksponsensiell vekst</h3>
                    <p class="font-normal">
                        Grunnet mangelen på immunitet mot dette nye viruset er hele menneskeheten den øvre grensen for mulige infeksjoner.
                        Selv om eksponensiell vekst alltid virker tregt i starten kan det føre til utrolig høye tall på en ganske kort tid.
                        Med et antall smittede som for tiden dobler seg i løpet av få dager<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>,
                        vil våre sykehus og andre medisinske fasiliteter fort bli overbelastet, noe som vil føre til et større antall omkomne fordi ikke alle får hjelpen de behøver.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Ved å bli med i denne folkebevegelsen, og dermed begrense muligheten for ny smitte, beskytter du ikke bare deg selv.
                Du hjelper også med å holde i sjakk og begrense spredning til alle andre, spesielt de som har større risiko for å 
                lide alvorlige konsekvenser av dette viruset.<br /><br />
                
                <strong>Vennligst del på sosiale medier, via e-post eller bare fortell dine venner dersom du bryr deg om denne saken. Men vær så snill, bare #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Jeg vil gjøre min del i kampen mot #COVID19. Jeg oppfordrer deg til å gjøre det samme!" data-url="https://staythefuckhome.com/no/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Om du vil bidra til #StayTheFuckHome sin nettside og folkebevegelsen har vi nettsiden tilgjengelig som åpen kildekode, slik at alle kan bidra. GitHub-repoet finner du her: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Hvis du har noe annet å tilføye knyttet til innholdet på nettsiden, skriv til oss på <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                For tiden mottar mange e-poster. Det kan derfor ta noe tid før vi kommer tilbake til deg.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Ansvarsfraskrivelse:</strong>
                Innholdet på dette nettstedet er ikke medisinske råd. Informasjonen gitt ovenfor er ment å være et forslag for bekymrede individer til å følge et løst sett med retningslinjer,
                basert på beste praksis og anekdotisk bevis for å beskytte seg delv og dine kjære. Det er ingen garanti eller vitenskapelige bevis på at å følge de nevnte retningslinjene vil føre til en
                reduksjon av nye infeksjoner eller til og med å stoppe COVID-19 pandemien. Det er heller ingen garanti for at du ved å følge disse retningslinjene vil redusere risikoen for å bli smittet
                med SARS-CoV-2 eller noen som helst andre virus- eller bakteriell smitte. All informasjon på dette nettstedet er gitt med beste hensikt og ønske om å gi faktainformasjon. 
                Under ingen omstendighet skal nettstedsoperatøren holdes ansvarlig for krav, erstatning eller noen som helst andre forpliktelser. Hvis du har bekymkringer eller kommentarer om 
                informasjonen som er gitt på dette nettstedet vær vennlig å ta kontakt på <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


