---
layout: default
meta_title: Akcja mająca na celu powstrzymanie pandemii COVID-19
meta_description: Our governments are failing us, we need to take action now! Do your part and stay the fuck home!
body_class: home
title: '#StayTheFuckHome'
lang: pl
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">
    
        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Akcja mająca na celu powstrzymanie pandemii COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Nasze rządy robią za mało, by powstrzymać rozprzestrzenianie się wirusa <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a> 
                i zatrzymać <a href="https://en.wikipedia.org/wiki/2019%E2%80%9320_coronavirus_pandemic">pandemię COVID-19</a>. Reagują wolno i koncentrują się na  
                uspokajaniu społeczeństwa, obawiając się rozchwiania gospodarki. Powstrzymuje je to przed podjęciem niezbędnych kroków, aby uratować miliony przed tą chorobą. 
                To czas, abyśmy wzięli sprawę w nasze ręce.
            
                <br /><br />
                Postawmy sprawę jasno: <strong>Siedź na dupie w domu!</strong>
            </p>

            <h2 class="text-3xl">Manifest samodzielnej kwarantanny</h2>
            <p>
                Bez sprawdzonej metody leczenia i szczepionki - która będzie dostępna nie wcześniej niż za rok, z wirusem możemy walczyć jedynie zmniejszając szanse zainfekowania kolejnej osoby. Poniższa lista zaleceń, 
                od najłatwiejszych do wprowadzenia, aż do najtrudniejszych - ale też najskuteczniejszych w walce z pandemią, powinna służyć jako przewodnik dla osób, 
                które chcą dołączyć do naszej akcji i podjąć działania zanim zdecydują się na nie władze.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2"> Nie panikuj, ale bądź czujny.</li>
                <li class="pb-2">Często myj ręce i używaj chusteczek jednorazowych gdy kichasz lub kaszlesz. Wyrzucaj je natychmiast po skorzystaniu.</li>
                <li class="pb-2">Staraj się jak najmniej dotykać twarzy - szczególnie ust, nosa i oczu.</li>
                <li class="pb-2">Zachowaj dystans. Nie całuj i nie przytulaj się, nie podawaj ręki na powitanie ani nie przybijaj piątek.</li>
                <li class="pb-2">Nie chodź na koncerty, spektakle, imprezy sportowe i inne imprezy masowe.</li>
                <li class="pb-2">Unikaj odwiedzania muzeów, wystaw, kin, barów i klubów oraz innych lokali rozrywkowych.</li>
                <li class="pb-2">Nie bierz udziału w spotkaniach towarzyskich, nabożeństwach czy imprezach.</li>
                <li class="pb-2">Ogranicz swoje podróże do minimum. Nie podróżuj na duże odległości, chyba że jest to absolutnie konieczne.</li>
                <li class="pb-2">Nie korzystaj z transportu publicznego, chyba że jest to absolutnie konieczne.</li>
                <li class="pb-2">Jeśli możesz pracować z domu, pracuj z domu. Jeśli to możliwe, nalegaj, aby pracodawca zgodził się na pracę zdalną.</li>
                <li class="pb-2">Zastąp spotkania twarzą w twarz alternatywami, takimi jak rozmowy przez telefon lub wideoczaty.</li>
                <li class="pb-2">Nie wychodź z domu, chyba że jest to absolutnie konieczne.</li>
            </ol>

            <p class="text-xl">
              Pamiętaj, że nie musisz stosować się do wszystkich zaleceń. Wybierz tylko te działania z którymi czujesz się komfortowo i które nie stanowią zagrożenia dla twojego źródła utrzymania. 
              Nie rezygnuj z pracy! Pamiętaj, że każde, nawet najmniejsze, działanie pomaga.
            </p>

            <h2 class="text-3xl">Dlaczego to takie ważne?</h2>

            <p>
                SARS-CoV-2 to bardzo zaraźliwy i potencjalnie śmiertelny wirus, powodujący chorobę układu oddechowego znaną jako COVID-19. Możesz go znać pod innymi nazwami jak 2019-nCoV, nowy koronawirus, 
                koronawirus z Wuhan, grypa chińska, grypa Wuhan lub po prostu koronawirus. Wszystkie te nazwy odnoszą się do tego samego wirusa, którego rozprzestrzenianie się próbujemy powstrzymać.
            </p>

            <p>
                W ciągu ostatnich miesięcy SARS-CoV-2 i wywoływana przez niego choroba były regularnie porównywane do wirusa grypy i samej grypy. Ze względu na podobne symptomy i pozornie podobny przebieg, 
                to porównanie przychodzi ludziom naturalnie, jednak to co już wiemy na jego temat wskazuje, że niesie ze sobą znacznie większe zagrożenie.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Bardziej zaraźliwy niż grypa</h3>
                    <p class="font-normal">
                        Przy współczynniku R0 pomiędzy 1,4 - 6,49 - szacowanym na 3,28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                         SARS-CoV-2 jest znacznie bardziej zaraźliwy i rozprzestrzenia się znacznie szybciej niż grypa, dla której mediana R0 to 1,28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Bardziej śmiercionośny niż grypa</h3>
                    <p class="font-normal">
                        Tak zwany wskaźnik śmiertelności przypadków (CFR) wirusa SARS-CoV-2 oszacowano na 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>
                        co oznacza, że około dwa procent chorych na COVID-19 nie przeżyje choroby. Dla porównania, ten sam wskaźnik dla sezonowej grypy wynosi około 0,1%
                        <sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, co oznacza że SARS-CoV-2 jest dwudziestokrotnie niebezpieczniejszy od sezonowej grypy.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Powoduje ciężką chorobę</h3>
                    <p class="font-normal">
                        U około 15-20% zarażonych objawy choroby są tak poważne, że wymagają stałej opieki lekarskiej<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>,
                        Należą do nich zapalenie płuc, problemy z oddychaniem oraz obniżona zawartość tlenu we krwi. 
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Brak leków, brak szczepionki, brak odporności</h3>
                    <p class="font-normal">
                        Ponieważ SARS-CoV-2 pojawił się niedawno, nie ma sprawdzonych metod leczenia COVID-19 i potrzebne są w tym celu dalsze badania. Nie ma też szczepionki przeciwko 
                        SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>,
                         a jej opracowanie zajmie dużo czasu. Bez szczepionek i wcześniejszych zachorowań, które mogły dać części populacji odporność, każdy jest podatny. Choć większość zakażonych będzie miała łagodne objawy, to najbardziej zagrożeni ciężkim przebiegiem choroby, 
                         których przed grypą chroni odporność stadna, będą wystawieni na bardzo poważne ryzyko. 
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Wykładniczy wzrost liczby chorych</h3>
                    <p class="font-normal">
                        Z powodu braku odporności na nowego wirusa, górną granicą ilości zainfekowanych jest cała ludzka populacja. Ich liczba wzrasta wykładniczo. Z początku ten wzrost wydaje się powolny, ale podwajanie się liczby 
                        chorych co parę dni szybko prowadzi do niewyobrażalnej ilości nowych przypadków<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>.
                        Grożą one przeciążeniem służby zdrowia, co może prowadzić do zwiększonej ilości zgonów, gdy nie będzie w stanie zapewnić opieki medycznej wszystkim pacjentom.
                </li>
            </ol>

            <p class="text-2xl">
                Dołączając do tej akcji pomagasz ograniczyć rozprzestrzenianie się wirusa. Chronisz nie tylko siebie, ale również tych, dla których choroba może być znacznie bardziej niebezpieczna. 
                <br /><br />
                
                <strong>Jeśli zależy ci na tym przedsięwzięciu, udostępnij tą stronę  w sieciach społecznościowych, mailem lub po prostu porozmawiaj o tym z rodziną i przyjaciółmi. Tylko proszę, #StayTheFuckHome</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com/pl/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=102&height=28" width="102" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>


            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Pamiętaj:</strong> Informacje zawarte na tej stronie internetowej nie stanowią porady medycznej w sensie prawnym. Są one jedynie zbiorem sugerowanych działań i dobrych praktyk, skierowanym do osób, którym zależy na ochronie zdrowia własnego i 
                ich bliskich. Nie ma gwarancji ani też naukowego potwierdzenia, że stosowanie się do wskazanych zaleceń doprowadzi do redukcji nowych zachorowań czy nawet zatrzymania epidemii COVID-19. Nie ma również gwarancji, że postępowanie zgodnie z tymi zaleceniami 
                zmniejszy możliwość zarażenia się SARS-CoV-2 czy inną infekcją wirusową lub bakteryjną. Wszystkie informacje zawarte na tej stronie są podane w dobrej wierze i staramy się,aby były zgodne ze stanem faktycznym - lecz twórcy nie biorą żadnej odpowiedzialności 
                za jakiekolwiek roszczenia, odszkodowania czy inne zobowiązania wynikłe ze stosowania się do zawartych na niej rad. Jeśli masz jakiekolwiek wątpliwości lub zastrzeżenia co do informacji zawartych na tej 
                stronie, skontaktuj się z nami:  <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


