---
layout: default
meta_title: Um Movimento para travar a pandemia de COVID-19
meta_description: Os nossos governos não conseguem fazê-lo sozinhos, temos de agir já! Faça a sua parte e fique em casa, porra! 
body_class: home
title: '#StayTheFuckHome'
lang: pt
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">


        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Um Movimento para travar a pandemia de COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Os nossos governos estão a ser lentos demais na prevenção da disseminação do 
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                e na contenção da <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">pandemia de COVID-19.</a>
                Reacções lentas, políticas de apaziguamento da população e a urgência em estabilizar a economia têm estado a
                impedi-los de tomar as medidas necessárias para proteger milhões de pessoas desta doença. No entanto, esta responsabilidade não lhes cabe só a eles.
                É altura de nós, como cidadãos da  terra, agirmos e fazermos a nossa parte na luta contra a COVID-19.
                <br /><br />
                Sem usar meias palavras: <strong>Fiquem em Casa, Porra!</strong>
            </p>

            <h2 class="text-3xl">O Manifesto da Quarentena Voluntária</h2>

            <p>
                Sem nenhum tratamento bem estudado e com uma vacina viável à distância de pelo menos um ano, a única forma efectiva de
                manter a pandemia do novo coronavírus à margem é dar ao vírus menos hipóteses de se propagar. A seguinte lista de acções,
                ordenadas das mais fáceis de implementar até às mais eficazes na luta contra a pandemia, devem servir como uma linha orientadora
                para as pessoas que queiram juntar-se ao movimento e fazer algo que pode realmente fazer a diferença.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Não entrar em pânico mas estar alerta.</li>
                <li class="pb-2">Lavar bem as mãos e cumprir as regras de etiqueta respiratória (quando tossir ou espirrar cubra a face com um lenço descartável ou o cotovelo).</li>
                <li class="pb-2">Tentar tocar na sua cara o mínimo possível, incluindo boca, nariz e olhos.</li>
                <li class="pb-2">Manter a distância social, não dar abraços, beijos, apertos de mão nem “high-fives”. Se tiver de ser, use alternativas seguras.</li>
                <li class="pb-2">Não ir  a concertos, peças de teatro, eventos desportivos ou qualquer outro evento de entretenimento de massas.</li>
                <li class="pb-2">Evitar visitar museus, exposições, cinemas, clubes nocturnos e outros locais de entretenimento.</li>
                <li class="pb-2">Evitar ajuntamentos e eventos sociais, como encontros de clubes, serviços religiosos e festas privadas.</li>
                <li class="pb-2">Reduzir o quanto viaja a um mínimo. Não viaje distâncias longas a não ser que seja absolutamente necessário.</li>
                <li class="pb-2">Não utilizar transportes públicos a não ser que seja absolutamente necessário.</li>
                <li class="pb-2">Se puder trabalhar a partir de casa, faça-o. Peça à sua entidade empregadora para permitir trabalho remoto, se necessário.</li>
                <li class="pb-2">Substituir tantas interacções sociais quanto possível por alternativas remotas, como telefonemas ou vídeo-conferências.</li>
                <li class="pb-2">Não sair de casa a não ser que seja absolutamente necessário.</li>
            </ol>

            <p class="text-xl">
                Por favor tenha em mente que não há um número certo ou errado de acções a tomar. Apenas faça as coisas com que se sente confortável e
                que não ponham em risco a sua subsistência. Não se despeça do seu emprego por causa disto! No entanto, tenha em mente que todas as acções ajudam.
            </p>

            <h2 class="text-3xl">Porque é tão importante</h2>

            <p>
                O SARS-CoV-2 é um vírus altamente contagioso e potencialmente mortífero, que causa uma doença respiratória chamada COVID-19. Pode conhecê-lo
                por muitos outros nomes incluindo 2019-nCoV, novo coronavírus, coronavírus de Wuhan, gripe da China, vírus da China ou simplesmente coronavírus.
                Todos estes nomes se referem ao mesmo vírus que este movimento está a tentar parar.
            </p>

            <p>
                Ao longo dos últimos meses e semanas, o vírus e a doença correspondente têm sido frequentemente comparados ao vírus influenza e à gripe sazonal.
                Devido a terem alguns sintomas comuns e aparente semelhança na gravidade, esta comparação ocorre naturalmente a muitas pessoas. No entanto, olhando
                para o que sabemos até agora sobre este novo vírus, a ameaça que constitui para a sociedade não pode ser facilmente menosprezada.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Mais Contagioso que a Gripe</h3>
                    <p class="font-normal">
                        Com um R0 (o número de casos directamente gerados por um caso numa população onde todos os indivíduos são susceptíveis a infecção) estimado entre 1.4 &ndash; 6.49 e uma média estimada de 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                         o SARS-CoV-2 é muito mais contagioso e dissemina-se muito mais rapidamente que a gripe sazonal, cujo R0 médio é 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Mais Mortífero que a Gripe</h3>
                    <p class="font-normal">
                        A chamada taxa de mortalidade do SARS-CoV-2 estima-se rondar os 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>, 
                        o que significa que, infelizmente, cerca de 2% das pessoas diagnosticadas com COVID-19 irão sucumbir à doença. Em comparação, a taxa
                        de mortalidade da gripe sazonal estima-se rondar os 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>,
                        o que significa que se estima que o SARS-CoV-2 seja cerca de 20 vezes mais mortífero que a gripe sazonal.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Possibilidade de Sintomas Graves</h3>
                    <p class="font-normal">
                        Estima-se que cerca de 15 &ndash; 20% dos indivíduos infectados sofram de sintomas graves que requerem atenção médica<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>,
                        incluindo pneumonia com falta de ar e níveis baixos de saturação de oxigénio no sangue.

                    </p>
                </li>
                <li class="pb-2">
                    <h3>Não há Tratamento, Vacina, nem Imunidade</h3>
                    <p class="font-normal">
                        Dado que o SARS-CoV-2 apenas surgiu recentemente, não há qualquer tratamento bem estudado para a COVID-19 e é necessário mais investigação para se tratarem os infectados de forma
                        eficiente. Pelo mesmo motivo, ainda não há uma vacina para o SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        e o desenvolvimento de uma vacina ainda levará bastante tempo. Sem vacinas e sem imunidade prévia e espalhada pela população, qualquer pessoa é um alvo susceptível de infecção.
                        Apesar de a maioria das pessoas apenas sofrerem sintomas ligeiros, esta falta de imunidade de grupo pode levar a doença grave num número significativo de indivíduos em risco.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Crescimento Exponencial</h3>
                    <p class="font-normal">
                        Devido à falta de imunidade para este novo vírus, o limite superior para o número de infecções é toda a população humana. E apesar do crescimento exponencial parecer sempre lento inicialmente,
                        pode levar a números inimagináveis num curto período de tempo. Com o número de pessoas infectadas actualmente a duplicar em poucos dias <sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>,
                        os nossos sistemas de saúde ficarão potencialmente sobrecarregados, o que levará a um número maior de mortes uma vez que as pessoas não receberão os cuidados de que precisam. 
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Ao juntar-se ao movimento e, consequentemente, limitar as possibilidades de novas infecções, não está apenas a proteger-se a si mesmo mas também está a ajudar a conter e limitar a disseminação
                do vírus por todas as outras pessoas, especialmente por aqueles que estão em maior risco de sofrer consequências severas da doença.
                <br /><br />
                
                <strong>Se se importa com esta causa, por favor divulgue-a nas suas redes sociais, via e-mail, ou refira-a aos seus amigos e família. Mas por favor, #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Eu farei a minha parte na luta contra o #COVID19. Peço que faça o mesmo!" data-url="https://staythefuckhome.com/pt/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
            
            <p class="text-sm text-gray-500 mb-10 mt-10">
                Para aqueles que quiserem contribuir para o website do movimento #StayTheFuckHome, disponibilizámos o código do website de forma aberta para que qualquer pessoa possa contribuir. O repositório do GitHub está disponível aqui: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Se tem algum outro tipo de contribuição relacionada com o conteúdo do website, por favor escreva-nos para <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Note que actualmente estamos a receber imensos emails, pelo que podemos não lhe responder directamente.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                 <strong>Aviso legal:</strong> O conteúdo deste website não constitui conselho médico. A informação disponibilizada acima tenciona ser uma sugestão para indivíduos interessados seguirem um conjunto de linhas orientadoras baseadas nas melhores práticas e evidências informais para se protegerem a si e aos seus. Não há garantia ou evidência científica que as referidas linhas orientadoras levarão a uma redução no número de infecções ou que travem a pandemia da COVID-19. Também não há garantia que seguir estas linhas orientadoras reduza o risco de ser infectado com o SARS-CoV-2 ou qualquer outro contágio viral ou bacteriano.
                 Toda a informação fornecida neste website é oferecida com a melhor intenção e vontade de disponibilizar informação factual. Em caso algum serão os operadores deste website responsabilizados por qualquer reivindicação, danos ou outras obrigações. Se tem alguma preocupação ou comentário a fazer sobre a informação fornecida neste website, por favor escreva para <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


