---
layout: default
meta_title: En rörelse för att stoppa COVID-19-pandemin
meta_description: Våra myndigheter kan inte göra det på egen hand, så vi måste vidta åtgärder nu! Gör din del och stanna för helvete hemma!
body_class: home
title: '#StayTheFuckHome'
lang: se
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">En rörelse för att stoppa COVID-19-pandemin</h2>

        <div class="content">

            <p class="text-xl">
                Våra myndigheter är långsamma med att vidta åtgärder för att kontrollera spridningen av                
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                och hejda <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19-pandemin</a>.
                Långsamma reaktioner, överslätande politiska utspel och försök att stabilisera ekonomin har gjort att myndigheterna inte vidtagit nödvändiga åtgärder för att skydda miljoner från den här sjukdomen. Det är emellertid inte bara myndigheternas börda att bära. Det är dags för oss som invånare på den här planeten att skrida till verket och göra vårt för att bekämpa COVID-19.  
                <br /><br />
                För att gå rakt på sak: <strong>Stanna för helvete hemma!</strong>
            </p>

            <h2 class="text-3xl">Självkarantänsmanifestet</h2>

            <p>
                I avsaknad av väldokumenterad behandling och då det kommer dröja minst ett år innan ett vaccin är tillgängligt, är det enda effektiva sättet 
                att hålla coronaviruspandemin i schack att ge viruset färre möjligheter att sprida sig. Följande lista över handlingar är rankad från lättast att 
                implementera till mest effektiva i kampen mot pandemin. De bör fungera som lösa riktlinjer för de som vill gå med i rörelsen
                och vidta åtgärder som faktiskt kan göra skillnad.    
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Drabbas inte av panik, men var på din vakt.</li>
                <li class="pb-2">Tvätta dina händer ofta och utöva god host- och nysetikett.</li>
                <li class="pb-2">Undvik att röra ditt ansikte, inklusive mun, näsa och ögon.</li>
                <li class="pb-2">Utöva social distansering, pussas och kramas inte, skaka inte hand och high fivea inte. Om det är nödvändigt använd säkrare alternativ.</li>
                <li class="pb-2">Gå inte på konserter, scen- eller sportevenemang eller andra evenemang som riktar sig till stora publiker.</li>
                <li class="pb-2">Avstå från att besöka museer, utställningar, biografer, nattklubbar och andra nöjesställen.</li>
                <li class="pb-2">Undvik sociala sammankomster och tillställningar, såsom klubbträffar, gudstjänster och privata fester.</li>
                <li class="pb-2">Minimera resande. Res inte långa avstånd om det inte är absolut nödvändigt.</li>
                <li class="pb-2">Använd inte kollektivtrafik om det inte är absolut nödvändigt.</li>
                <li class="pb-2">Om du kan arbeta hemifrån, arbeta hemifrån. Uppmana din arbetsgivare att tillåta arbete hemifrån.</li>
                <li class="pb-2">Ersätt så många sociala interaktioner med alternativ på distans, såsom telefonsamtal och videochat.</li>
                <li class="pb-2">Lämna inte ditt hem om det inte är absolut nödvändigt.</li>
            </ol>

            <p class="text-xl">
                Var snäll och tänk på att det inte finns någon rätt mängd handlingar att utföra. Gör bara saker som känns rätt för dig och som inte äventyrar ditt uppehälle. <strong>Säg inte upp dig från jobbet på grund av det här!</strong>
                Tänk dock på att varje handling hjälper.
            </p>

            <h2 class="text-3xl">Varför det är så viktigt</h2>

            <p>
                SARS-CoV-2 är ett mycket smittsamt och potentiellt dödligt virus som orsakar en luftvägssjukdom som heter COVID-19.
                Du kanske har hört det benämnas som 2019-nCov, det nya coronaviruset, coronaviruset från Wuhan eller bara coronaviruset. 
                Dessa namn syftar alla till det virus som den här rörelsen försöker stoppa. 
            </p>

            <p>
                Under de senaste veckorna och månaderna har viruset och sjukdomen det ger upphov till gång på gång jämförts med influensavirus och säsongsinfluensa.
                På grund av överlappande symtom och till synes snarlik grad av allvarlighet, är det här en jämförelse som verkar naturlig för många människor.
                Med tanke på vad vi än så länge vet om det här viruset, är hotet som det utgör mot samhället inget som kan avfärdas.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Mer smittsamt än influensan</h3>
                    <p class="font-normal">
                        Med en uppskattad R0 (det förväntade antalet fall som direkt genereras av ett fall i en population där alla individer är mottagliga för infektion) mellan 1.4 och 6.49 och ett uppskattat medelvärde på<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        är SARS-CoV-2 betydligt mer smittsamt och sprider sig mycket snabbare än säsongsinfluensa, som har ett median-R0 på 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Mer dödligt än influensa</h3>
                    <p class="font-normal">
                        Den så kallade dödlighetsgraden (CFR) hos SARS-CoV-2 beräknas vara omkring 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        vilket innebär att uppskattningsvis 2% av de som diagnostiseras med COVID-19 kommer att avlida till följd av det. Detta kan jämföras med CFR för säsongsinfluensa som beräknas
                        ligga runt 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, vilket betyder att SARS-CoV-2 beräknas vara ungefär 20 gånger dödligare än säsongsinfluensa.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Risk för allvarliga symtom</h3>
                    <p class="font-normal">
                        Uppskattningsvis 15 &ndash; 20% av infekterade indvidier drabbas av allvarliga symtom som kräver
                        sjukhusvård<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, såsom lunginflammation med andningssvårigheter och sänkt syresaturation av blodet.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Ingen behandling, inget vaccin, ingen immunitet</h3>
                    <p class="font-normal">
                        Eftersom SARS-CoV-2 nyligen upptäckts, saknas väldokumenterad behandlingmetoder av COVID-19 och mer forskning behövs för att ta fram effektiva behandlingsmetoder.
                        Det finns inte heller något vaccin mot SARS-CoV-2 än<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        och att ta fram ett vaccin kommer att ta lång tid. I avsaknad av vaccin och utan en utbredd immunitet mot viruset är alla mottagliga för infektion.
                        Trots att de flesta som blir infekterade bara drabbas av milda symtom kan bristen på flockimmunitet leda till allvarliga symtom hos ett betydande antal individer i riskgrupper.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Exponentiell ökning</h3>
                    <p class="font-normal">
                        På grund av avsaknaden av immunitet mot det nya viruset är hela mänskligheten den övre gränsen för hur många som kan smittas. Även om exponentiell ökning alltid tycks långsam till en början
                        kan det leda till ofattbart höga siffror på relativt kort tid. I och med att antalet infekterade individer just nu fördubblas inom loppet av några 
                        dagar<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, riskerar sjukvårdssystemet att bli överbelastat,
                        vilket kommer att leda till fler dödsfall då folk inte kan få den vård de behöver.
                    </p>
                </li>
            </ol>
            <p class="text-2xl">
                Genom att gå med i rörelsen och därigenom begränsa möjligheterna för smittspridning skyddar du inte bara dig själv. Du hjälper också till med att begränsa spridningen för alla andra, särskilt 
                dem som i högre grad riskerar drabbas av allvarliga konsekvenser av viruset.<br /><br />
                
                <strong>Om du känner för den här frågan, dela gärna det här på sociala medier, via e-post eller genom att berätta om det för vänner och familj. Men snälla, bara #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Den här webbsidan har open-sourcats, så att alla som vill kan bidra till webbsidan och rörelsen #StayTheFuckHome. Repot på GitHub kan hittas här: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Om du har någon annan input rörande innehållet på den här webbsidan, skriv till oss på <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Tänk på att vi just nu får många mail och att vi därför kanske inte kan svara direkt.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Ansvarsfriskrivning:</strong> Innehållet på den här webbsidan utgör inte medicinska råd. Information som ges ovan ska ses som förslag för bekymrade individer att följa en lös uppsättning riktlinjer
                baserade på vedertagna metoder och anekdotiska bevis för att skydda sig själva och nära och kära. Det ges inga garantier för att det skulle leda till en minskning av antalet infekterade eller att det skulle stoppa COVID-19-epidemin att följa 
                riktlinjerna. Det finns inte heller någon garanti för att åtföljande av riktlinjerna skulle minska risken att infekteras med SARS-CoV-2 eller bakterie- eller virussmittor. 
                All information som ges på den här webbsidan ges med bästa avsikt och vilja att utgöra faktabaserad information. Webbsidans administratörer ska under inga omständigheter hållas ansvariga för fordringar, skador eller andra ansvar. Om du har tankar eller kommentarer om information som ges på den här 
                webbsidan, skriv ett mail till <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


