---
layout: default
meta_title: A Movement to Stop the COVID-19 Pandemic
meta_description: Our governments can't do it alone, we have to take action now! Do your part and please stay home!
body_class: home
title: '#StayTheF—Home'
lang: en
sfw: true
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">A Movement to Stop the COVID-19 Pandemic</h2>

        <div class="content">

            <p class="text-xl">
                Our governments are only slowly implementing measures to control the spread of
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                and containing the <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19 pandemic</a>.
                Slow reactions, public appeasement policies, and their urge to stabilize the economy have kept them from taking
                the measures needed to protect millions from this disease. However, it is not only the government's burden to bear.
                It is time for us, as citizens of this earth, to take action now and do our part in fighting COVID-19.
                <br /><br />
                Let's put it bluntly: <strong>Stay The F&mdash; Home!</strong>
            </p>

            <h2 class="text-3xl">The Self-Quarantine Manifesto</h2>

            <p>
                With no well-studied treatment and no viable vaccine available for at least another year, the only effective way to keep
                the coronavirus pandemic at bay is to give the virus fewer chances of spreading. The following list of actions, ordered from
                easiest to implement to most effective in the fight against the pandemic, should serve as a set of loose guidelines for people who wish to join
                the movement and take action that can actually make a difference.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Don't panic, but be alert.</li>
                <li class="pb-2">Wash your hands often and practice good cough and sneeze etiquette.</li>
                <li class="pb-2">Try to touch your face as little as possible, including your mouth, nose, and eyes.</li>
                <li class="pb-2">Practice social distancing, no hugs and kisses, no handshakes, no high fives. If you must, use safer alternatives.</li>
                <li class="pb-2">Do not attend concerts, stage plays, sporting events, or any other mass entertainment events.</li>
                <li class="pb-2">Refrain from visiting museums, exhibitions, movie theaters, night clubs, and other entertainment venues.</li>
                <li class="pb-2">Stay away from social gatherings and events, like club meetings, religious services, and private parties.</li>
                <li class="pb-2">Reduce your amount of travel to a minimum. Don't travel long distances if not absolutely necessary.</li>
                <li class="pb-2">Do not use public transportation if not absolutely necessary.</li>
                <li class="pb-2">If you can work from home, work from home. Urge your employer to allow remote work if needed.</li>
                <li class="pb-2">Replace as many social interactions as possible with remote alternatives like phone calls or video chat.</li>
                <li class="pb-2">Do not leave your home if not absolutely necessary.</li>
            </ol>

            <p class="text-xl">
                Please keep in mind there is no right or wrong amount of actions to take. Only take the actions that you feel comfortable with and that do not endanger your livelihood. <strong>Do not quit your job over this!</strong>
                However, keep in mind that every action helps.
            </p>

            <h2 class="text-3xl">Why it's so Important</h2>

            <p>
                SARS-CoV-2 is a highly infectious and potentially deadly virus that causes a respiratory disease called COVID-19.
                You might know it under one of its many other names, including 2019-nCoV, novel coronavirus, Wuhan coronavirus, China or Wuhan flu, or just simply coronavirus.
                All of these refer to the same virus that this movement is trying to stop.
            </p>

            <p>
                Over the past months and weeks, the virus and corresponding disease have been compared over and over to the influenza virus and the seasonal flu.
                Due to the overlap in symptoms and seemingly similar severity, this comparison comes naturally to a lot of people,
                however, looking at what we know so far about this new virus, the threat it poses to society is not easily brushed aside.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>More Contagious Than the Flu</h3>
                    <p class="font-normal">
                        With an estimated R0 (the expected number of cases directly generated by one case in a population where all individuals are susceptible to infection) between 1.4 &ndash; 6.49 and a mean estimate of 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        SARS-CoV-2 is much more infectious and spreads much faster than the seasonal flu, which has a median R0 of 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>More Deadly Than the Flu</h3>
                    <p class="font-normal">
                        The so-called case fatality rate (CFR) of SARS-CoV-2 is estimated to be at around 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        meaning that unfortunately, an estimated 2% of people getting diagnosed with COVID-19 will succumb to it. In comparison, the CFR of seasonal influenza is estimated
                        to be around 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, this means SARS-CoV-2 is estimated to be about 20 times more deadly than the seasonal flu.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Possibility of Severe Symptoms</h3>
                    <p class="font-normal">
                        An estimated 15 &ndash; 20% of infected individuals suffer from severe symptoms that require medical
                        attention<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, including pneumonia with shortness of breath and lowered blood oxygen saturation.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>No Treatment, No Vaccine, No Immunity</h3>
                    <p class="font-normal">
                        As SARS-CoV-2 has only recently emerged, there is no well-studied treatment for COVID-19 and more research is needed, in order to treat infected people efficiently.
                        Likewise, there is no vaccine for SARS-CoV-2 yet<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        and the development of such vaccine will take a significant amount of time. With no vaccines and no prior and wide-spread immunity, anyone is a susceptible target for infection.
                        While most infected people will only suffer from mild symptoms, this lack of herd-immunity can lead to severe illness in a significant amount of at-risk individuals. 
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Exponential Growth</h3>
                    <p class="font-normal">
                        Due to the lack of immunity to this new virus, the entire human population is the upper limit of possible infections. And although exponential growth always seems slow at first,
                        it can lead to unfathomably high numbers in a rather short time. With the numbers of infected people currently doubling in a matter of a few
                        days<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, our medical systems will be potentially
                        overloaded, which will lead to higher numbers of fatalities, due to people not receiving the care they need.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                By joining the movement and therefore limiting possibilities for new infections, you are not only protecting yourself, but you are also helping contain and limit the spread for everyone else,
                especially those who are at higher risk to suffer severe consequences from this virus.<br /><br />
                
                <strong>If you care about this cause, please share it on social media, via e-mail or just tell your friends and family about it. But please, just #StayTheF&mdash;Home.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com/sfw/" data-hashtags="StayTheFHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> The content of this website does not constitute medical advice. The information provided above is meant to be a suggestion for concerned individuals to follow a loose set of guidelines
                based on best practices and anecdotal evidence to protect themselves and their loved ones. There is no guarantee or scientific evidence that following the mentioned guidelines will lead to a reduction
                in new infections or even stop the COVID-19 epidemic. There is also no guarantee that following these guidelines will reduce the risk of getting infected with SARS-CoV-2 or any other viral or bacterial contagion.
                All information provided on this website is given with the best intent and will to provide factual information. In no event shall the website operators be held liable for any claim, damages or other liabilities. If you have concerns or comments about the information provided on this website,
                please write to <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


