---
layout: default
meta_title: Hnutie za zastavenie pandémie COVID-19
meta_description: Naše vlády to nemôžu urobiť sami, musíme konať teraz! Urobte svoju časť a zostante doriti doma!
body_class: home
title: '#StayTheFuckHome'
lang: sk
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Hnutie za zastavenie pandémie COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Naše vlády len pomaly implementujú opatrenia na kontrolu šírenia
                <a href="https://sk.wikipedia.org/wiki/SARS-CoV-2">SARS-CoV-2</a> a obsahujúci
                <a href="https://sk.wikipedia.org/wiki/COVID-19">COVID-19</a>. Pomalé reakcie politiky upokojovania
                verejnosti a ich snaha o stabilizáciu ekonomiky im zabránila brať vážne ich opatrenia potrebné na
                ochranu miliónov pred touto chorobou. Avšak, toto bremeno nie je len na vláde. Je čas, aby sme my ako
                občania tejto zeme podnikli kroky a urobili svoj kúsok na podielaní sa v boji proti COVID-19.
                <br /><br />
                Povedzme to otvorene: <strong>Zostaňte do riti doma!</strong>
            </p>

            <h2 class="text-3xl">Samo-karanténne Prehlásenie</h2>

            <p>
                Bez dobre preštudovanej liečby a nedostupnej vakcíny najskôr do budúceho roka, jediný učinný spôsob
                ako udržať pandémiu koronavírus v prístave, je dať vírusu, čo najmenšie šance na jeho šírenie sa.
                Nasledujúci zoznam akcií, zoradených od tých, ktoré sa dajú najjednoduchšie implementovať, až po tie
                najefektívnejšie v boji proti pandémií, by mal slúžiť ako súbor usmernení pre ľudí, ktorí sa chcú pripojiť
                a spraviť potrebné kroky, ktoré môžu skutočne zmeniť stav.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Neprepadajte panike, ale buďte opatrní.</li>
                <li class="pb-2">Umývajte si ruky často a praktikujte dobrú etiketu proti kašľu a kýchaniu.</li>
                <li class="pb-2">Pokúste sa, čo najmenej dotýkať tváre, vrátane úst, nosa a očí.</li>
                <li class="pb-2">Precvičujte sociálne dištancovanie, žiadne objatia a bozky, žiadne podanie ruky,
                žiadne "high fives". Ak je to potrebné, použite bezpečnejšie alternatívy.</li>
                <li class="pb-2">Nezúčastňujte sa koncertov, divadelných hier, športových udalostí ani iných hromadných
                zábavných podujatí.</li>
                <li class="pb-2">Vyhnite sa návšteve múzeí, výstav, kín, nočných klubov a ďalších zábavných zariadení.</li>
                <li class="pb-2">Držte sa ďalej od spoločenských stretnutí a podujatí, ako sú klubové stretnutia,
                náboženské služby a súkromné večierky.</li>
                <li class="pb-2">Znížte cestovanie na minimum. Ak to nie je absolútne nevyhnutné, nejazdite na veľké
                vzdialenosti.</li>
                <li class="pb-2">Ak to nie je absolútne nevyhnutné, nepoužívajte verejnú dopravu.</li>
                <li class="pb-2">Ak môžete pracovať z domu, pracujte z domu. Požiadajte svojho zamestnávateľa, aby vám v
                prípade potreby umožnil prácu na diaľku.</li>
                <li class="pb-2">Nahraďte, čo najviac socíálnych interakcií vzdialenými alternatívami, ako sú telefónne
                hovory alebo videorozhovory.</li>
                <li class="pb-2">Neopúšťajte svoj domov, pokiaľ to nie je úplne nevyhnutné.</li>
            </ol>

            <p class="text-xl">
                Majte na pamäti, že neexistuje žiadne správne alebo nesprávne množstvo opatrení. Príjmajte iba tie opatrenia,
                ktoré vám vyhovujú, a ktoré neohrozujú vaše živobytie. <strong>Neukončujte tým svoju prácu!</strong>
                Majte však na pamäti, že každá akcia pomáha.
            </p>

            <h2 class="text-3xl">Prečo je to také dôležité</h2>

            <p>
                SARS-CoV-2 je vysoko infekčný a potenciálne smrtiaci vírus, ktorý spôsobuje respiračné ochorenie zvané COVID-19.
                Možno to poznáte pod jedným z mnohých názvov, vrátane 2019-nCoV, nový koronavírus, Wuhan koronavírus,
                Čínska alebo Wuhanska chrípka alebo jednoducho koronavírus. Všetky sa týkajú toho istého vírusu,
                ktorý sa toto hnutie snaží zastaviť.
            </p>

            <p>
                V posledných mesiacoch a týždňoch sa vírus a zodpovedajúce ochorenie porovnávali stále častejšie s
                vírusom chrípky a so sezónnou chrípkou.
                Kvôli prekrývaniu sa symptómov a zdanlivo podobnej závažnosti prichádza toto porovnanie prirodzene pre
                veľa ľudí, pri pohľade na to, čo vieme doteraz o tomto novom víruse, však hrozba, ktorú predstavuje pre
                spoločnosť, nie je ľahko odstrániteľná.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Nákazlivejší ako chrípka</h3>
                    <p class="font-normal">
                        S odhadovaným R0 (očakávaný počet prípadov, ktoré boli priamo vyvolané jedným prípadom v populácii, v ktorej sú všetci jedinci náchylní na infekciu) medzi 1.4 &ndash; 6.49 a priemerný odhad 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        SARS-CoV-2 je oveľa infekčnejší a šíri sa oveľa rýchlejšie ako sezónna chrípka, ktorá má strednú hodnotu R0 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Viac smrtiaci ako chrípka</h3>
                    <p class="font-normal">
                        Takzvaná miera úmrtnosti na prípady (CFR) SARS-CoV-2 sa odhaduje na približne 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        čo znamená, že podľa odhadov 2% ľudí, ktorým sa diagnostikuje COVID-19, podľahne. Na porovnanie, odhaduje sa, že CFR sezónnej chrípky sa pohybuje okolo 0,1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, čo znamená, že SARS-CoV-2 je podľa odhadov asi 20-krát smrteľnejšia ako sezónna chrípka.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Možnosť závažných symptómov</h3>
                    <p class="font-normal">
                        Odhaduje sa, že 15 &ndash; 20% infikovaných jedincov trpí závažnými príznakmi, ktoré si vyžadujú
                        lekárske ošetrenie <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, vrátane zápalu pľúc s dýchavičnosťou a zníženej saturácie kyslíka v krvi.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Žiadna liečba, Žiadna vakcína, Žiadna imunita</h3>
                    <p class="font-normal">
                        Keďže SARS-CoV-2 sa objavil iba nedávno, neexistuje žiadna dobre preštudovaná liečba COVID-19 a je potrebný ďalší výskum, aby bolo možné účinne liečiť infikovaných ľudí.
                        Podobne ešte neexistuje vakcína na SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        a vývoj takejto vakcíny bude vyžadovať značné množstvo času. Bez očkovacích látok a bez predchádzajúcej rozšírenej imunity je každý náchylný na infekciu.
                        Zatiaľ, čo väčšina infikovaných ľudí bude trpieť iba miernymi príznakmi, táto imunita stáda môže viesť k závažným chorobám u veľkého počtu ohrozených osôb.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Exponenciálny rast</h3>
                    <p class="font-normal">
                        Kvôli nedostatku imunity voči tomuto novému vírusu je celá ľudská populácia hornou hranicou možných infekcií.
                        A hoci sa exponenciálny rast zdá spočiatku vždy pomalý, v pomerne krátkom čase môže viesť k
                        nesmierne vysokým počtom. Počet infikovaných ľudí sa v súčasnosti zdvojnásobí v priebehu niekoľkých dní<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, naše lekárske systémy budú potenciálne preťažené, čo povedie k vyššiemu počtu úmrtí v
                        dôsledku toho, že ľudia nedostanú starostlivosť, ktorú potrebujú.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Pripojením sa k hnutiu a tým obmedzením možností nových infekcií, sa nielen chránite, ale pomáhate aj
                zadržať a obmedziť šírenie pre všetkých ostatných, najmä pre tých, ktorým hrozí väčšie riziko, že budú
                týmto vírusom trpieť vážnymi dôsledkami.<br /><br />

                <strong>Ak vám záleží na tejto príčine, zdieľajte ju na sociálnych sieťach, e-mailom alebo o nej iba
                informujte svojich priateľov a rodinu. Ale prosím, hlavne #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                For anyone who wants to contribute to the #StayTheFuckHome website and movement, we have open-sourced the website so everyone can contribute. The GitHub repository can be found here: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                If you have any other input regarding the content of the website, please write us at <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Just keep in mind that we are currently receiving a lot of emails, so we might not get back to you directly.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> The content of this website does not constitute medical advice. The information provided above is meant as a suggestion for concerned individuals to follow a loose set of guidelines
                based on best practices and anecdotal evidence to protect themselves and their loved ones. There is no guarantee or scientific evidence that following the mentioned guidelines will lead to a reduction
                in new infections or even stop the COVID-19 epidemic. There is also no guarantee that following these guidelines will reduce the risk of getting infected with SARS-CoV-2 or any other viral or bacterial contagion.
                All information provided on this website is given with the best intent and will to provide factual information. In no event shall the website operators be held liable for any claim, damages, or other liabilities. If you have concerns or comments about the information provided on this website,
                please write to <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


