---
layout: default
meta_title: COVID-19 தொற்றுநோயை நிறுத்த ஒரு இயக்கம்
meta_description: எங்கள் அரசாங்கங்களால் இதை தனியாக செய்ய முடியாது, நாங்கள் இப்போது நடவடிக்கை எடுக்க வேண்டும்! உங்கள் பங்கைச் செய்து, வீட்டிலேயே இருங்கள்!
body_class: home
title: '#StayTheFuckHome'
lang: en
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">COVID-19 தொற்றுநோயை நிறுத்த ஒரு இயக்கம்</h2>

        <div class="content">

            <p class="text-xl">
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a> பரவுவதைக் கட்டுப்படுத்தும் நடவடிக்கைகளை நமது அரசாங்கங்கள் மெதுவாக மட்டுமே செயல்படுத்துகின்றன. மெதுவான எதிர்வினைகள், பொது திருப்தி கொள்கைகள் மற்றும் பொருளாதாரத்தை உறுதிப்படுத்துவதற்கான அவர்களின் வேண்டுகோள் ஆகியவை இந்த நோயிலிருந்து மில்லியன் கணக்கானவர்களைப் பாதுகாக்க தேவையான நடவடிக்கைகளை எடுப்பதைத் தடுக்கின்றன. இருப்பினும், இது அரசாங்கத்தின் சுமை மட்டுமல்ல.
                 இந்த பூமியின் குடிமக்களாகிய நாம் இப்போது நடவடிக்கை எடுத்து COVID-19 ஐ எதிர்த்துப் போராடுவதில் எங்களது பங்கைச் செய்ய வேண்டிய நேரம் இது.
                <br /><br />

                சத்தமாக சொல்வோம்: <strong>வீட்டிலேயே இருங்கள்!</strong>
            </p>

            <h2 class="text-3xl">சுய தனிமைப்படுத்தப்பட்ட அறிக்கை</h2>

            <p>
                நன்கு ஆய்வு செய்யப்பட்ட சிகிச்சையும், குறைந்தது இன்னொரு வருடத்திற்கு சாத்தியமான தடுப்பூசியும் கிடைக்காத நிலையில், கொரோனா வைரஸ் தொற்றுநோயைத் தக்க வைத்துக் கொள்வதற்கான ஒரே சிறந்த வழி வைரஸ் பரவுவதற்கான வாய்ப்புகளை குறைப்பதாகும். தொற்றுநோய்க்கு எதிரான போராட்டத்தில் மிகச் சுலபமாக நடைமுறைப்படுத்த உத்தரவிடப்பட்ட பின்வரும் செயல்களின் பட்டியல், இயக்கத்தில் சேர விரும்பும் நபர்களுக்கு தளர்வான வழிகாட்டுதல்களின் தொகுப்பாக செயல்பட வேண்டும், மேலும் உண்மையில் ஒரு வித்தியாசத்தை ஏற்படுத்தக்கூடிய நடவடிக்கை எடுக்க வேண்டும்.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">பீதி அடைய வேண்டாம், ஆனால் எச்சரிக்கையாக இருங்கள்.</li>
                <li class="pb-2">உங்கள் கைகளை அடிக்கடி கழுவி, நல்ல இருமல் மற்றும் தும்ம ஆசாரம் பயிற்சி செய்யுங்கள்.</li>
                <li class="pb-2">உங்கள் வாய், மூக்கு மற்றும் கண்கள் உட்பட முடிந்தவரை உங்கள் முகத்தைத் தொட முயற்சிக்கவும்.</li>
                <li class="pb-2">சமூக தூரத்தை பயிற்சி செய்யுங்கள். கட்டிப்பிடிக்கவோ முத்தமிடவோ வேண்டாம். கைகுலுக்க வேண்டாம்.</li>
                <li class="pb-2">கச்சேரிகள், மேடை நாடகங்கள், விளையாட்டு நிகழ்வுகள் அல்லது வேறு எந்த வெகுஜன பொழுதுபோக்கு நிகழ்வுகளிலும் கலந்து கொள்ள வேண்டாம்.</li>
                <li class="pb-2">அருங்காட்சியகங்கள், கண்காட்சிகள், திரைப்பட அரங்குகள், இரவு கிளப்புகள் மற்றும் பிற பொழுதுபோக்கு இடங்களுக்கு வருவதைத் தவிர்க்கவும்.</li>
                <li class="pb-2">கிளப் கூட்டங்கள், மத சேவைகள் மற்றும் தனியார் கட்சிகள் போன்ற சமூகக் கூட்டங்கள் மற்றும் நிகழ்வுகளிலிருந்து விலகி இருங்கள்.</li>
                <li class="pb-2">பயணத்தை குறைந்தபட்சமாகக் குறைக்கவும். முற்றிலும் தேவையில்லை என்றால் நீண்ட தூரம் பயணிக்க வேண்டாம்.</li>
                <li class="pb-2">முற்றிலும் தேவையில்லை என்றால் பொது போக்குவரத்தை பயன்படுத்த வேண்டாம்.</li>
                <li class="pb-2">நீங்கள் வீட்டிலிருந்து வேலை செய்ய முடிந்தால், வீட்டிலிருந்து வேலை செய்யுங்கள். தேவைப்பட்டால் தொலைதூர வேலைகளை அனுமதிக்க உங்கள் முதலாளியிடம் கேளுங்கள்.</li>
                <li class="pb-2">தொலைபேசி அழைப்புகள் அல்லது வீடியோ அரட்டை போன்ற தொலைநிலை மாற்றுகளுடன் முடிந்தவரை பல சமூக தொடர்புகளை மாற்றவும்.</li>
                <li class="pb-2">முற்றிலும் தேவைப்படாவிட்டால் உங்கள் வீட்டை விட்டு வெளியேற வேண்டாம்.</li>
            </ol>

            <p class="text-xl">
                சரியான அல்லது தவறான நடவடிக்கைகள் எதுவும் இல்லை என்பதை நினைவில் கொள்க. உங்களுக்கு வசதியாக இருக்கும் மற்றும் உங்கள் வாழ்வாதாரத்திற்கு ஆபத்து ஏற்படாத செயல்களை மட்டுமே எடுத்துக் கொள்ளுங்கள். <strong>இதற்கு மேல் உங்கள் வேலையை விட்டுவிடாதீர்கள்!</strong>
                இருப்பினும், ஒவ்வொரு செயலும் உதவுகிறது என்பதை நினைவில் கொள்ளுங்கள்.
            </p>

            <h2 class="text-3xl">இது ஏன் மிகவும் முக்கியமானது ?</h2>

            <p>
                SARS-CoV-2 என்பது மிகவும் தொற்று மற்றும் கொடிய வைரஸ் ஆகும், இது COVID-19 எனப்படும் சுவாச நோயை ஏற்படுத்துகிறது. 2019-nCoV, நாவல் கொரோனா வைரஸ், வுஹான் கொரோனா வைரஸ், சீனா அல்லது வுஹான் காய்ச்சல் அல்லது வெறுமனே கொரோனா வைரஸ் உள்ளிட்ட பல பெயர்களில் ஒன்றை நீங்கள் அறிந்திருக்கலாம். இவை அனைத்தும் இந்த இயக்கம் நிறுத்த முயற்சிக்கும் அதே வைரஸைக் குறிக்கின்றன.
            </p>

            <p>
                கடந்த மாதங்கள் மற்றும் வாரங்களில், வைரஸ் மற்றும் அதனுடன் தொடர்புடைய நோய் இன்ஃப்ளூயன்ஸா வைரஸ் மற்றும் பருவகால காய்ச்சலுடன் ஒப்பிடப்படுகின்றன. அறிகுறிகளில் ஒன்றுடன் ஒன்று மற்றும் ஒத்த தீவிரத்தன்மை காரணமாக, இந்த ஒப்பீடு இயல்பாகவே நிறைய பேருக்கு வருகிறது, இருப்பினும், இந்த புதிய வைரஸைப் பற்றி இதுவரை நமக்குத் தெரிந்தவற்றைப் பார்க்கும்போது, அது சமூகத்திற்கு முன்வைக்கும் அச்சுறுத்தல் எளிதில் ஒதுக்கித் தள்ளப்படுவதில்லை.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>காய்ச்சலை விட அதிக தொற்று</h3>
                    <p class="font-normal">
                        பருவகால காய்ச்சல் 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup> இன் சராசரி R0 ஐக் கொண்டுள்ளது (அனைத்து நபர்களும் தொற்றுநோயால் பாதிக்கப்படக்கூடிய மக்கள் தொகையில் ஒரு வழக்கால் நேரடியாக உருவாக்கப்படும் வழக்குகளின் எண்ணிக்கை), SARS-CoV-2 இன் சராசரி R0 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>, மற்றும் 1.4 &ndash; 6.49 க்கு இடையில் வேறுபடுகிறது . இது பருவகால காய்ச்சலை விட COVID-19 ஐ மிகவும் தொற்றுநோயாக ஆக்குகிறது
                    <p>
                </li>
                <li class="pb-2">
                    <h3>பருவகால காய்ச்சலை விட கொடியது</h3>
                    <p class="font-normal">
                        SARS-CoV-2 இன் வழக்கு இறப்பு விகிதம் (CFR) சுமார் 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup> என மதிப்பிடப்பட்டுள்ளது, அதாவது COVID-19 நோயால் கண்டறியப்பட்டவர்களில் 2% பேர் அதற்கு அடிபடுவார்கள். ஒப்பிடுகையில், பருவகால காய்ச்சலின் சி.எஃப்.ஆர் சுமார் 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup> என மதிப்பிடப்பட்டுள்ளது, அதாவது SARS-CoV-2 பருவகால காய்ச்சலை விட 20 மடங்கு அதிக ஆபத்தானது என்று மதிப்பிடப்பட்டுள்ளது.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>கடுமையான அறிகுறிகளின் சாத்தியம்</h3>
                    <p class="font-normal">
                        பாதிக்கப்பட்ட நபர்களில் 15 &ndash; 20% பேர் கடுமையான அறிகுறிகளால் பாதிக்கப்படுகின்றனர்<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, இதில் நிமோனியா மூச்சுத் திணறல் மற்றும் இரத்த ஆக்ஸிஜன் செறிவு குறைகிறது<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>சிகிச்சை இல்லை, தடுப்பூசி இல்லை, நோய் எதிர்ப்பு சக்தி இல்லை</h3>
                    <p class="font-normal">
                        SARS-CoV-2 சமீபத்தில் வெளிவந்ததால், COVID-19 க்கு நன்கு படித்த சிகிச்சை எதுவும் இல்லை<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>, மேலும் பாதிக்கப்பட்டவர்களுக்கு திறமையாக சிகிச்சையளிக்க கூடுதல் ஆராய்ச்சி தேவைப்படுகிறது. அதேபோல், SARS-CoV-2 க்கு இன்னும் தடுப்பூசி இல்லை, அத்தகைய தடுப்பூசியின் வளர்ச்சிக்கு கணிசமான நேரம் எடுக்கும். தடுப்பூசிகள் மற்றும் முன் பரவலான நோய் எதிர்ப்பு சக்தி இல்லாததால், அனைவருக்கும் தொற்றுநோய்க்கான இலக்கு உள்ளது. பெரும்பாலான பாதிக்கப்பட்ட மக்கள் லேசான அறிகுறிகளால் மட்டுமே பாதிக்கப்படுவார்கள், இந்த மந்தை-நோய் எதிர்ப்பு சக்தி இல்லாதது கணிசமான எண்ணிக்கையிலான ஆபத்தான நபர்களில் கடுமையான நோய்க்கு வழிவகுக்கும்.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>அதிவேகமான வளர்ச்சி</h3>
                    <p class="font-normal">
                        இந்த புதிய வைரஸுக்கு நோய் எதிர்ப்பு சக்தி இல்லாததால், ஒட்டுமொத்த மனித மக்களும் சாத்தியமான தொற்றுநோய்களின் மேல் வரம்பாகும். அதிவேக வளர்ச்சி எப்போதுமே முதலில் மெதுவாகத் தெரிந்தாலும், இது குறுகிய காலத்தில் புரிந்துகொள்ள முடியாத அளவுக்கு அதிக எண்ணிக்கையில் வழிவகுக்கும். பாதிக்கப்பட்டவர்களின் எண்ணிக்கை தற்போது சில நாட்களில் இரட்டிப்பாகி வருவதால்<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, எங்கள் மருத்துவ முறைகள் அதிக சுமை கொண்டதாக இருக்கும், இது மக்களுக்குத் தேவையான கவனிப்பைப் பெறாததால் அதிக எண்ணிக்கையிலான உயிரிழப்புகளுக்கு வழிவகுக்கும்.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                இயக்கத்தில் சேருவதன் மூலமும், புதிய நோய்த்தொற்றுகளுக்கான சாத்தியங்களைக் கட்டுப்படுத்துவதன் மூலமும், நீங்கள் உங்களைப் பாதுகாத்துக் கொள்வது மட்டுமல்லாமல், மற்ற அனைவருக்கும் பரவலைக் கட்டுப்படுத்தவும் குறைக்கவும் உதவுகிறீர்கள், குறிப்பாக இந்த வைரஸால் கடுமையான விளைவுகளை சந்திக்க அதிக ஆபத்தில் உள்ளவர்கள்.<br /><br />
                
                <strongஇந்த காரணத்தைப் பற்றி நீங்கள் அக்கறை கொண்டிருந்தால், தயவுசெய்து அதை சமூக ஊடகங்களில், மின்னஞ்சல் வழியாகப் பகிரவும் அல்லது உங்கள் நண்பர்கள் மற்றும் குடும்பத்தினரிடம் இதைப் பற்றி சொல்லவும். ஆனால் தயவுசெய்து, வீட்டிலேயே இருங்கள்</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                #StayTheFuckHome வலைத்தளம் மற்றும் இயக்கத்திற்கு பங்களிக்க விரும்பும் எவருக்கும், நாங்கள் வலைத்தளத்தை திறந்த மூலமாக வைத்திருக்கிறோம், எனவே அனைவரும் பங்களிக்க முடியும். கிட்ஹப் repository இங்கே காணலாம்: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                If you have any other input regarding the content of the website, please write us at <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Just keep in mind that we are currently receiving a lot of emails, so we might not get back to you directly.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>மறுப்பு:</strong> இந்த வலைத்தளத்தின் உள்ளடக்கம் மருத்துவ ஆலோசனையைக் கொண்டிருக்கவில்லை. மேலே வழங்கப்பட்ட தகவல்கள், சம்பந்தப்பட்ட நபர்கள் தங்களையும் தங்கள் அன்புக்குரியவர்களையும் பாதுகாக்க சிறந்த நடைமுறைகள் மற்றும் நிகழ்வு ஆதாரங்களின் அடிப்படையில் ஒரு தளர்வான வழிகாட்டுதல்களைப் பின்பற்றுவதற்கான ஆலோசனையாகும். குறிப்பிடப்பட்ட வழிகாட்டுதல்களைப் பின்பற்றுவது புதிய தொற்றுநோய்களைக் குறைக்க வழிவகுக்கும் அல்லது COVID-19 தொற்றுநோயைத் தடுக்கும் என்பதற்கு எந்த உத்தரவாதமும் அல்லது அறிவியல் ஆதாரமும் இல்லை. இந்த வழிகாட்டுதல்களைப் பின்பற்றுவது SARS-CoV-2 அல்லது வேறு எந்த வைரஸ் அல்லது பாக்டீரியா தொற்றுநோயால் பாதிக்கப்படும் அபாயத்தைக் குறைக்கும் என்பதற்கு எந்த உத்தரவாதமும் இல்லை.
                All information provided on this website is given with the best intent and will to provide factual information. In no event shall the website operators be held liable for any claim, damages, or other liabilities. If you have concerns or comments about the information provided on this website,
                please write to <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


