---
layout: default
meta_title: COVID-19 మహమ్మారిని ఆపడానికి ఒక ఉద్యమం
meta_description: మన ప్రభుత్వాలు దీన్ని ఒంటరిగా చేయలేవు, ఇప్పుడు మనమే చర్య తీసుకోవాలి! ఇంట్లో నే ఉండి మీ వంతు కృషి చేయండి!
body_class: home
title: '#StayTheFuckHome'
lang: en
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">COVID-19 మహమ్మారిని ఆపడానికి ఒక ఉద్యమం</h2>

        <div class="content">

            <p class="text-xl">
                మన ప్రభుత్వాలు <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                యొక్క వ్యాప్తిని నియంత్రించడానికి మరియు <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19</a> 
                మహమ్మారిని నిరోధించడానికి అమలు చేయవలసిన చర్యలను నెమ్మదిగా అమలు చేస్తున్నాయి.
                నెమ్మదిగా స్పందించడం, ప్రజలను మెప్పించే విధానాలు మరియు ఆర్థిక వ్యవస్థను స్థిరీకరించాలనే వారి కోరిక 
                ఈ వ్యాధి నుండి లక్షలాది మందిని రక్షించడానికి అవసరమైన చర్యలు తీసుకోకుండా ఉంచాయి. అయితే, 
                ఈ భారం భరించడం ప్రభుత్వానిది మాత్రమే కాదు. ఈ భూమి యొక్క పౌరులుగా, ఇప్పుడు చర్య తీసుకొని, 
                COVID-19 తో పోరాడడంలో మన వంతు కృషి చేయాల్సిన సమయం ఆసన్నమైనది.
                <br /><br />
                నిర్మొహమాటంగా చెప్పాలంటే: <strong>Stay The Fuck Home!</strong>
            </p>

            <h2 class="text-3xl">స్వీయ-నిర్బంధ మ్యానిఫెస్టో</h2>

            <p>
                కరోనావైరస్ మహమ్మారి ని నిరోధించడానికి బాగా అధ్యయనం చేయబడిన చికిత్స లేదా వ్యాక్సిన్ కనీసం 
                మరో సంవత్సరం వరకు అందుబాటులో లేనందున, ఈ వైరస్ వ్యాప్తిచెందనీయకుండా ఉండడమే 
                సమర్థవంతమైన మార్గం. మహమ్మారికి వ్యతిరేకంగా పోరాటంలో అమలు చేయడానికి ఆదేశించిన అత్యంత 
                ప్రభావవంతమైన చర్యలే ఈ క్రింది జాబితా, ఉద్యమంలో చేరాలని కోరుకునే వ్యక్తుల కోసం వదులుగా 
                ఉండే మార్గదర్శకాల సమితిగా మరియు వైవిధ్యం చూపగలగలిగేలా ఉపయోగపడాలని ఉద్దేశించినవి.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">భయపడవద్దు, కానీ అప్రమత్తంగా ఉండండి.</li>
                <li class="pb-2">మీ చేతులను తరచుగా కడుక్కోండి మరియు దగ్గు లేదా తుమ్ము వచ్చినప్పుడు మీ మోచెయ్యి అడ్డం పెట్టుకోండి.</li>
                <li class="pb-2">మీ నోరు, ముక్కు మరియు కళ్ళతో సహా మీ ముఖాన్ని వీలైనంత తక్కువగా తాకడానికి ప్రయత్నించండి.</li>
                <li class="pb-2">సామాజిక దూరం సాధన చేయండి, హ్యాండ్‌షేక్‌లు లేవు, హై ఫైవ్‌లు లేవు. తప్పని పరిస్థితిలో, సురక్షితమైన ప్రత్యామ్నాయాలను ఉపయోగించండి.</li>
                <li class="pb-2">కచేరీలు, రంగస్థల నాటకాలు, క్రీడా కార్యక్రమాలు లేదా ఇతర సామూహిక వినోద కార్యక్రమాలకు హాజరుకావద్దు.</li>
                <li class="pb-2">మ్యూజియంలు, ఎగ్జిబిషన్లు, సినిమా థియేటర్లు, నైట్ క్లబ్‌లు మరియు ఇతర వినోద వేదికలను సందర్శించడం మానుకోండి.</li>
                <li class="pb-2">క్లబ్ సమావేశాలు, మతపరమైన సేవలు మరియు ప్రైవేట్ పార్టీల వంటి సామాజిక సమావేశాలు మరియు కార్యక్రమాలకు దూరంగా ఉండండి.</li>
                <li class="pb-2">ప్రయాణాన్ని కనిష్టానికి తగ్గించండి. ఖచ్చితంగా అవసరమైతే గాని ఎక్కువ దూరం ప్రయాణించవద్దు.</li>
                <li class="pb-2">ఖచ్చితంగా అవసరమైతే గాని ప్రజా రవాణాను ఉపయోగించవద్దు.</li>
                <li class="pb-2">మీరు ఇంటి నుండి పని చేయగలిగితే, ఇంటి నుండి పని చేయండి. అవసరమైతే ఇంటి నుండి పని చేయడానికి అనుమతించమని మీ యజమానిని కోరండి.</li>
                <li class="pb-2">సామాజిక పరస్పర చర్యలను సాధ్యమైనంత వరకు ఫోన్ కాల్స్ లేదా వీడియో చాట్ వంటి ఆన్లైన్ ప్రత్యామ్నాయాలకు మార్చండి.</li>
                <li class="pb-2">ఖచ్చితంగా అవసరమైతే తప్ప మీ ఇంటిని వదిలి వెళ్లవద్దు.</li>
            </ol>

            <p class="text-xl">
                ఏంత మొత్తంలో చర్యలు తీసుకోవడం సరైనది లేదా తప్పు అని లేదని దయచేసి గుర్తించండి. 
                మీకు సుఖంగా మరియు మీ జీవనోపాధికి అపాయం కలిగించని చర్యలను మాత్రమే తీసుకోండి. 
                <strong>దీనిపై మీ ఉద్యోగాన్ని వదిలివేయవద్దు!</strong>
                అయితే, ప్రతీ చర్య సహాయపడుతుందని గుర్తుంచుకోండి.
            </p>

            <h2 class="text-3xl">ఇది ఎందుకు అంత ముఖ్యమైనది</h2>

            <p>
                SARS-CoV-2 అత్యంత అంటు మరియు ప్రాణాంతక వైరస్, ఇది COVID-19 అని పిలువబడే శ్వాసకోశ వ్యాధికి కారణమవుతుంది.
                2019-nCoV, నొవెల్ కరోనావైరస్, వుహాన్ కరోనావైరస్, చైనా లేదా వుహాన్ ఫ్లూ లేదా కేవలం కరోనావైరస్ సహా అనేక ఇతర పేర్లలో ఒకటి మీకు తెలిసి ఉండవచ్చు.
                ఇవన్నీ ఈ ఉద్యమం ఆపడానికి ప్రయత్నిస్తున్న అదే వైరస్ను సూచిస్తాయి.
            </p>

            <p>
                గత నెలలు మరియు వారాలలో, వైరస్ మరియు సంబంధిత వ్యాధిని ఇన్ఫ్లుఎంజా వైరస్ మరియు కాలానుగుణ ఫ్లూతో పోల్చారు.
                లక్షణాలలో అతివ్యాప్తి మరియు సారూప్య తీవ్రత కారణంగా, ఈ పోలిక సహజంగా అనిపిస్తుంది,
                ఏదేమైనా, ఈ క్రొత్త వైరస్ గురించి ఇప్పటివరకు మనకు తెలిసిన వాటిని చూస్తే, సమాజానికి అది కలిగించే ముప్పు సులభంగా పక్కకు నెట్టబడేది కాదు.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>ఫ్లూ కంటే ఎక్కువ అంటువ్యాధి</h3>
                    <p class="font-normal">
                        1.4 &ndash; 6.49 మరియు సగటు అంచనా 
                        3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup> 
                        మధ్య అంచనా వేసిన R0 తో (జనాభాలో ఒక కేసు ద్వారా ప్రత్యక్షంగా ఉత్పన్నమయ్యే కేసుల సంఖ్య), SARS-CoV-2 
                        అత్యంత అంటువ్యాధి మరియు కాలానుగుణ ఫ్లూ కంటే చాలా వేగంగా వ్యాపిస్తుంది, 
                        ఫ్లూ సగటు R0 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup> కలిగి ఉంటుంది.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>ఫ్లూ కంటే ప్రమాదకరమైనది</h3>
                    <p class="font-normal">
                        SARS-CoV-2 యొక్క కేస్ ప్రాణాంతక రేటు (CFR) సుమారు 2% 
                        <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup> గా అంచనా వేయబడింది, 
                        అనగా COVID-19 తో బాధపడుతున్న 2% మంది ప్రజలు దీనికి లొంగిపోతారు.  
                        కాలానుగుణ ఇన్ఫ్లుఎంజా యొక్క CFR సుమారు 0.1% 
                        <sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup> గా అంచనా వేయబడింది, 
                        అనగా SARS-CoV-2 కాలానుగుణ ఫ్లూ కంటే 20 రెట్లు ఎక్కువ ప్రాణాంతకమని అంచనా.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>తీవ్రమైన లక్షణాల అవకాశం</h3>
                    <p class="font-normal">
                        సోకిన వ్యక్తులలో 15 &ndash; 20% మంది తీవ్రమైన లక్షణాలతో బాధపడుతున్నారు, దీనికి వైద్య సహాయం అవసరం 
                        <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, 
                        వీటిలో న్యుమోనియా, శ్వాస ఆడకపోవుట మరియు రక్త ఆక్సిజన్ సంతృప్తిని తగ్గిస్తుంది.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>చికిత్స లేదు, వ్యాక్సిన్ లేదు, రోగనిరోధక శక్తి లేదు</h3>
                    <p class="font-normal">
                        SARS-CoV-2 ఇటీవలే ఉద్భవించినందున, COVID-19 కి బాగా అధ్యయనం చేయబడిన చికిత్స లేదు మరియు 
                        సోకినవారికి సమర్థవంతంగా చికిత్స చేయడానికి మరిన్ని పరిశోధనలు అవసరం. అదేవిదంగా, SARS-CoV-2 కు 
                        ఇంకా వ్యాక్సిన్ లేదు <sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        మరియు అటువంటి టీకా అభివృద్ధికి గణనీయమైన సమయం పడుతుంది. 
                        వ్యాక్సిన్లు మరియు ముందస్తు విస్తృత-రోగనిరోధక శక్తి లేకనందువలన, ప్రతి ఒక్కరూ సంక్రమణకు గురయ్యే అవకాశముంది. 
                        చాలా మంది సోకినవారు తేలికపాటి లక్షణాలతో మాత్రమే బాధపడుతుండగా, ఈ మంద-రోగనిరోధక శక్తి లేకపోవడం 
                        గణనీయమైన సంఖ్యలో ప్రమాదకర వ్యక్తులలో తీవ్రమైన అనారోగ్యానికి దారితీస్తుంది.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>ఘాతీయ వృద్ధి</h3>
                    <p class="font-normal">
                        ఈ కొత్త వైరస్‌కు రోగనిరోధక శక్తి లేకపోవడం వల్ల, మొత్తం మానవ జనాభా ఈ అంటువ్యాధి కి  గరిష్ఠ పరిమితి. 
                        ఘాతాంక వృద్ధి ఎల్లప్పుడూ మొదట నెమ్మదిగా అనిపించినప్పటికీ, ఇది తక్కువ సమయంలో అసంఖ్యాకంగా అధిక సంఖ్యలకు దారితీస్తుంది. 
                        సోకిన వ్యక్తుల సంఖ్య ప్రస్తుతం కొద్ది రోజుల్లో రెట్టింపు కావడంతో 
                        <sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, 
                        మా వైద్య వ్యవస్థలు ఓవర్‌లోడ్ అవుతాయి, ఇది ప్రజలకు అవసరమైన సంరక్షణను అందుకోకపోవడం వల్ల ఎక్కువ సంఖ్యలో మరణాలకు దారితీస్తుంది.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                ఉద్యమంలో చేరడం ద్వారా మరియు కొత్త అంటువ్యాధుల అవకాశాలను పరిమితం చేయడం ద్వారా, 
                మీరు మిమ్మల్ని మీరు రక్షించుకోవడమే కాదు, మిగతావారికి, ముఖ్యంగా ఈ వైరస్ వల్ల తీవ్రమైన పరిణామాలను 
                ఎదుర్కొనే ప్రమాదం ఎక్కువగా ఉన్నవారికి వ్యాప్తి చెందడానికి మరియు పరిమితం చేయడానికి కూడా మీరు సహాయం చేస్తున్నారు.
                <br /><br />
                <strong>
                    మీరు ఈ కారణం గురించి శ్రద్ధ వహిస్తే, దయచేసి దీన్ని సోషల్ మీడియాలో, ఇమెయిల్ ద్వారా భాగస్వామ్యం 
                    చేయండి లేదా దాని గురించి మీ స్నేహితులు మరియు కుటుంబ సభ్యులకు చెప్పండి. కానీ దయచేసి, #StayTheFuckHome.
                </strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" 
                data-text="#COVID19 కి వ్యతిరేకంగా పోరాటంలో నా వంతు కృషి చేస్తాను. అదే చేయాలని నేను మిమ్మల్ని కోరుతున్నాను!" 
                data-url="https://staythefuckhome.com/te/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com%2Fte%2F&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                #StayTheFuckHome వెబ్‌సైట్ మరియు ఉద్యమానికి సహకరించాలనుకునే ఎవరికైనా, మేము వెబ్‌సైట్‌ను ఓపెన్ సోర్స్ చేసాము కాబట్టి ప్రతి ఒక్కరూ సహకరించగలరు. GitHub రిపోజిటరీని ఇక్కడ చూడవచ్చు: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                వెబ్‌సైట్ యొక్క కంటెంట్‌కు సంబంధించి మీకు ఏదైనా ఇతర సమాచారం  ఉంటే, దయచేసి మాకు ఇక్కడ <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a> ఈమెయిల్  వ్రాయండి.
                మేము ప్రస్తుతం చాలా ఇమెయిళ్ళను స్వీకరిస్తున్నామని గుర్తుంచుకోండి, కాబట్టి మేము మిమ్మల్ని నేరుగా తిరిగి వ్రాయలేకపోవచ్చు.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>డిస్క్లైమర్:</strong> ఈ వెబ్‌సైట్ యొక్క కంటెంట్‌లో వైద్య సలహా లేదు. పైన పేర్కొన్న సమాచారం సంబంధిత వ్యక్తులు తమను 
                మరియు వారి ప్రియమైన వారిని రక్షించుకోవడానికి ఉత్తమ పద్ధతులు మరియు కథన ఆధారాల ఆధారంగా మార్గదర్శకాల యొక్క వదులుగా ఉన్న 
                మార్గదర్శకాలను అనుసరించాలని సూచిస్తుంది. పేర్కొన్న మార్గదర్శకాలను పాటించడం కొత్త అంటువ్యాధుల తగ్గింపుకు దారితీస్తుందని లేదా 
                COVID-19 అంటువ్యాధిని ఆపడానికి ఎటువంటి హామీ లేదా శాస్త్రీయ ఆధారాలు లేవు. ఈ మార్గదర్శకాలను పాటించడం వల్ల SARS-CoV-2 
                లేదా మరేదైనా వైరల్ లేదా బాక్టీరియల్ అంటువ్యాధులు బారిన పడే ప్రమాదం తగ్గుతుందని ఎటువంటి హామీ లేదు.
                ఈ వెబ్‌సైట్‌లో అందించిన మొత్తం సమాచారం ఉత్తమ ఉద్దేశ్యంతో మరియు వాస్తవిక సమాచారాన్ని అందించే సంకల్పంతో ఇవ్వబడుతుంది. 
                ఏ సందర్భంలోనైనా వెబ్‌సైట్ ఆపరేటర్లు ఏదైనా దావా, నష్టాలు లేదా ఇతర బాధ్యతలకు బాధ్యత వహించరు. 
                ఈ వెబ్‌సైట్‌లో అందించిన సమాచారం గురించి మీకు ఆందోళనలు లేదా వ్యాఖ్యలు ఉంటే,
                దయచేసి  <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a> కు ఇమెయిల్ వ్రాయండి.
            </p>

        </div>

    </section>

</main>


