---
layout: default
meta_title: Isang Kilusan upang Pahinto ang COVID-19 Pandemya
meta_description: Hindi ito magagawa ng ating mga pamahalaan, kailangan nating kumilos ngayon! Gawin ang iyong bahagi at manatili ang na bahay!
body_class: home
title: '#StayTheFuckHome'
lang: tgl
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Isang Kilusan upang Pahinto ang COVID-19 Pandemya</h2>

        <div class="content">

            <p class="text-xl">
                Ang ating mga pamahalaan ay dahan-dahang nagpapatupad ng mga hakbang upang makontrol ang pagkalat ng
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                at naglalaman ng <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19 pandemya</a>.
                Ang mga mabagal na reaksyon, pampublikong mga patakaran sa pag-apila, at ang kanilang paghimok na patatagin ang ekonomiya ay nagpigil sa kanila sa pagkuha
                ang mga hakbang na kinakailangan upang maprotektahan ang milyun-milyon mula sa sakit na ito. Gayunpaman, hindi lamang pasanin ng gobyerno ang madala.
                Panahon na para sa atin, bilang mga mamamayan ng mundong ito, na kumilos ngayon at gawin ang ating bahagi sa pakikipaglaban sa COVID-19.
                <br /><br />
                Malinaw na sasabihin namin ito: <strong>Manatili sa bahay!</strong>
            </p>

            <h2 class="text-3xl">Ang Self-Quarantine Manifesto</h2>

            <p>
                Sa walang pag-aaral na mahusay na pinag-aralan at walang magagamit na bakunang bakuna nang hindi bababa sa isa pang taon, ang tanging epektibong paraan upang mapanatili
                ang coronavirus pandemic sa bay ay bigyan ang virus ng kaunting pagkakataon na kumalat. Ang sumusunod na listahan ng mga aksyon, iniutos mula sa
                pinakamadaling ipatupad sa pinaka-epektibo sa paglaban sa pandemya, dapat magsilbing isang hanay ng mga maluwag na patnubay para sa mga taong nais sumali
                ang kilusan at gumawa ng aksyon na maaaring makagawa ng pagkakaiba.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Huwag mag-alala ngunit maging alerto.</li>
                <li class="pb-2">Hugasan ang iyong mga kamay ng madalas at magsanay ng mahusay na pag-ubo at pagbahing panuntunan.</li>
                <li class="pb-2">Subukang hawakan ang iyong mukha nang kaunti hangga't maaari, kabilang ang iyong bibig, ilong, at mata.</li>
                <li class="pb-2">Magsanay sa mga social distancing, walang mga yakap at halik, walang mga kamay. Kung kailangan mo, gumamit ng mas ligtas na mga kahalili.</li>
                <li class="pb-2">Huwag dumalo sa mga konsyerto, dula sa entablado, mga kaganapan sa palakasan, o anumang iba pang mga kaganapan sa libangan.</li>
                <li class="pb-2">Huwag bisitahin ang mga museo, eksibisyon, sinehan, nightclubs, at iba pang mga lugar ng libangan.</li>
                <li class="pb-2">Huwag pumunta sa mga pagtitipon sa lipunan at mga kaganapan, tulad ng mga pulong sa club, serbisyo sa relihiyon, at mga pribadong partido.</li>
                <li class="pb-2">Bawasan ang paglalakbay sa isang minimum. Huwag maglakbay ng mga malalayong distansya kung hindi kinakailangan.</li>
                <li class="pb-2">Huwag gumamit ng pampublikong transportasyon kung hindi ganap na kinakailangan.</li>
                <li class="pb-2">Kung maaari kang magtrabaho mula sa bahay, magtrabaho mula sa bahay. Hikayatin ang iyong employer na payagan ang malayong trabaho kung kinakailangan.</li>
                <li class="pb-2">Palitan ang maraming mga pakikipag-ugnayan sa lipunan hangga't maaari sa mga malalayong alternatibo tulad ng mga tawag sa telepono o video chat.</li>
                <li class="pb-2">Huwag lumabas sa iyong bahay maliban kung talagang kinakailangan.</li>
            </ol>

            <p class="text-xl">
                Mangyaring tandaan na walang tama o maling halaga ng mga aksyon na dapat gawin. Gawin lamang ang mga aksyon na sa tingin mo ay komportable ka at hindi nito mapanganib ang iyong kabuhayan.<strong>Huwag tumigil sa iyong trabaho dahil dito!</strong>
                Pero tandaan na ang bawat aksyon ay makakatulong.
            </p>

            <h2 class="text-3xl">Bakit Napakahalaga Nito</h2>

            <p>
                Ang SARS-CoV-2 ay isang mataas na nakakahawa at potensyal na nakamamatay na virus na nagdudulot ng isang sakit sa paghinga na tinatawag na COVID-19.
                Maaari mong malaman ito sa ilalim ng isa sa maraming iba pang mga pangalan, kabilang ang 2019-nCoV, nobelang coronavirus, Wuhan coronavirus, China o Wuhan flu, o simpleng coronavirus lamang.
                Ang lahat ng mga ito ay tumutukoy sa parehong virus na sinusubukan na ihinto ng kilusang ito.
            </p>

            <p>
                Sa mga nakaraang buwan at linggo, ang virus at kaukulang sakit ay inihambing nang paulit-ulit sa virus ng trangkaso at pana-panahong trangkaso.
                Dahil sa overlap sa mga sintomas at tila katulad na kalubhaan, ang paghahambing na ito ay natural sa maraming tao,
                gayunpaman, ang pagtingin sa kung ano ang nalalaman natin tungkol sa bagong virus na ito, ang banta na idinudulot nito sa lipunan ay hindi madaling nahumaling.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Mas Nakakahawa kaysa sa Flu</h3>
                    <p class="font-normal">
                        Sa isang tinatayang R0 (ang inaasahang bilang ng mga kaso na direktang nabuo ng isang kaso sa isang populasyon kung saan ang lahat ng mga indibidwal ay madaling kapitan ng impeksyon) sa pagitan ng 1.4 &ndash; 6.49 at isang pagtatantya ng 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        Ang SARS-CoV-2 ay mas nakakahawa at kumakalat nang mas mabilis kaysa sa pana-panahong trangkaso, na may isang panggitna na R0 ng 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Mas Nakamamatay kaysa sa Flu</h3>
                    <p class="font-normal">
                        Ang tinaguriang rate ng kamatayan (CFR) ng SARS-CoV-2 ay tinatayang halos 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        nangangahulugan ito na humigit-kumulang 2% ng mga taong nasuri na may COVID-19 ay sasailalim dito. Sa paghahambing, ang CFR ay tinatantya ng pana-panahong trangkaso
                        na nasa paligid ng 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, na nangangahulugang ang SARS-CoV-2 ay tinatayang halos 20 beses na mas nakamamatay kaysa sa pana-panahong trangkaso.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Posibilidad ng Malubhang Sintomas</h3>
                    <p class="font-normal">
                        Tinatayang 15 &ndash; 20% ng mga nahawaang indibidwal ang nagdurusa sa malubhang sintomas na nangangailangan ng medikal
                        na atensyon<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, kabilang ang pulmonya na may igsi ng paghinga at ibinaba ang saturation ng oxygen sa dugo.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Walang Paggamot, Walang Bakuna, Walang Immunity</h3>
                    <p class="font-normal">
                        Habang ang SARS-CoV-2 ay kamakailan lamang lumitaw, walang mahusay na pinag-aralan na paggamot para sa COVID-19 at mas maraming pananaliksik ang kinakailangan upang gamutin nang maayos ang mga nahawaang tao.
                        Gayundin, wala pang bakuna para sa SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        at pagbuo ng naturang bakuna ay tatagal ng isang malaking halaga ng oras. Kung walang mga bakuna at walang naunang laganap na kaligtasan sa sakit, ang lahat ay madaling kapitan ng impeksyon.
                        Habang ang karamihan sa mga nahawaang tao ay magdurusa lamang sa banayad na mga sintomas, ang kakulangan ng bakbakan-kaligtasan sa sakit ay maaaring humantong sa malubhang sakit sa isang makabuluhang bilang ng mga taong nasa peligro.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Patuloy na Paglago</h3>
                    <p class="font-normal">
                        Dahil sa kawalan ng kaligtasan sa sakit sa bagong virus na ito, ang buong populasyon ng tao ay ang pinakamataas na limitasyon ng mga posibleng impeksyon. At kahit na ang paglago ng paglago ay palaging tila mabagal sa una,
                        maaari itong humantong sa hindi malalim na mataas na mga numero sa halip na maikling panahon. Sa bilang ng mga nahawaang taong kasalukuyang nagdodoble sa loob ng ilang
                        araw<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, ang aming mga medikal na sistema ay maaaring potensyal
                        ma-overload, na hahantong sa mas mataas na bilang ng mga pagkamatay dahil sa mga taong hindi tumatanggap ng pangangalaga na kailangan nila.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Sa pamamagitan ng pagsali sa paggalaw at sa gayon nililimitahan ang mga posibilidad para sa mga bagong impeksyon, hindi mo lamang pinoprotektahan ang iyong sarili, ngunit tumutulong ka rin na maglaman at limitahan ang pagkalat para sa iba,
                lalo na ang mga nasa mas mataas na peligro na magdusa ng malubhang kahihinatnan mula sa virus na ito.<br /><br />
                
                <strong>Kung nagmamalasakit ka sa kadahilanang ito, mangyaring ibahagi ito sa social media, sa pamamagitan ng email, o sabihin lamang sa iyong mga kaibigan at pamilya tungkol dito. Mangyaring #StayTheFuckHome lamang.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Gagawin ko ang aking bahagi sa paglaban sa # COVID19. Hinihiling ko sa iyo na gawin ang parehong!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Pansin:</strong> Ang nilalaman ng website na ito ay hindi bumubuo ng medikal na payo. Ang impormasyong ibinigay sa itaas ay nangangahulugang isang mungkahi para sa mga nababahala na indibidwal na sundin ang isang maluwag na hanay ng mga patnubay
                batay sa mga pinakamahusay na kasanayan at katibayan ng anecdotal upang maprotektahan ang kanilang sarili at kanilang mga mahal sa buhay. Walang garantiya o pang-agham na katibayan na ang pagsunod sa mga nabanggit na patnubay ay hahantong sa isang pagbawas
                sa mga bagong impeksyon o patigilin ang epidemya ng COVID-19. Wala ring garantiya na ang pagsunod sa mga patnubay na ito ay magbabawas ng panganib na magkaroon ng impeksyon sa SARS-CoV-2 o anumang iba pang virus o bakterya.
                Ang lahat ng impormasyong ibinigay sa website na ito ay binigyan ng pinakamahusay na hangarin at magbibigay ng impormasyon sa katotohanan. Sa anumang kaganapan ay dapat na gampanan ang mga operator ng website para sa anumang pag-angkin, pinsala, o iba pang mga pananagutan. Kung mayroon kang mga alalahanin o komento tungkol sa impormasyong ibinigay sa website na ito,
                mangyaring sumulat sa <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>

