---
layout: default
meta_title: Рух, покликаний зупинити Пандемію COVID-19
meta_description: Наші уряди не можуть зробити це самотужки, ми повинні вжити заходів вже зараз! Зробіть свій внесок і залишайтеся, блядь, вдома!
body_class: home
title: '#StayTheFuckHome'
lang: ua
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Рух, покликаний зупинити Пандемію COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Нашим урядам не вдається запобігти поширенню
                <a href="https://uk.wikipedia.org/wiki/SARS-CoV-2">SARS-CoV-2</a>
                і стримати пандемію <a href="https://uk.wikipedia.org/wiki/%D0%9A%D0%BE%D1%80%D0%BE%D0%BD%D0%B0%D0%B2%D1%96%D1%80%D1%83%D1%81%D0%BD%D0%B0_%D1%85%D0%B2%D0%BE%D1%80%D0%BE%D0%B1%D0%B0_2019">Коронавірусної інфекції COVID-19</a>.
                Повільна реакція, політика умиротворення громадськості і прагнення стабілізувати економіку утримують їх
                від вжиття заходів, необхідних для захисту мільйонів людей від цього захворювання. Настав час для нас, громадян цієї землі,
                вжити заходів зараз і внести свій вклад в боротьбу з COVID-19.
                <br /><br />
                Коротше кажучи: <strong>Сидіть, блядь, вдома!</strong>
            </p>

            <h2 class="text-3xl">Маніфест самоізоляції</h2>

            <p>
                При відсутності добре вивченого лікування і працюючої вакцини, яка буде випущена як мінімум ще через рік,
                єдиний ефективний спосіб зупинити пандемію коронавірусу - це дати йому менше шансів на поширення.
                Нижче наведено перелік дій, впорядкованих від найпростіших до найбільш ефективних у боротьбі з пандемією для тих,
                хто бажає приєднатися до руху і вжити заходів там, де відповідальні особи продовжують нехтувати ними.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Не панікуйте, але будьте напоготові.</li>
                <li class="pb-2">Регулярно і ретельно мийте руки, кашляйте та чхайте “у лікоть”, а не “в долоні”.</li>
                <li class="pb-2">Намагайтеся якомога менше торкатися до обличчя, включаючи рот, ніс і очі.</li>
                <li class="pb-2">Практикуйте соціальне дистанціювання, ніяких обіймів і поцілунків, ніяких рукостискань, ніяких "дай п'ять". Якщо необхідно, використовуйте більш безпечні альтернативи.</li>
                <li class="pb-2">Не відвідуйте концерти, спектаклі, спортивні заходи та будь-які інші масові розважальні заходи.</li>
                <li class="pb-2">Утримуйтеся від відвідування музеїв, виставок, кінотеатрів, нічних клубів та інших розважальних закладів.</li>
                <li class="pb-2">Тримайтеся подалі від громадських заходів або зборів, таких як клубні зустрічі, релігійні служби та закриті вечірки.</li>
                <li class="pb-2">Скоротіть кількість поїздок до мінімуму. Не подорожуйте на великі відстані, якщо в цьому немає абсолютної необхідності.</li>
                <li class="pb-2">Не користуйтеся громадським транспортом, якщо в цьому немає абсолютної необхідності.</li>
                <li class="pb-2">Якщо ви можете працювати з дому - працюйте з дому. Закликайте свого роботодавця дозволити віддалену роботу в разі потреби.</li>
                <li class="pb-2">Замініть якомога більше соціальних взаємодій за допомогою віддалених альтернатив, таких як телефонні дзвінки або відеочати.</li>
                <li class="pb-2">Не виходьте з дому, якщо в цьому немає крайньої необхідності.</li>
            </ol>

            <p class="text-xl">
                Будь ласка, майте на увазі, що не існує правильного чи неправильного набору дій. Приймайте тільки ті дії, які вам зручні і які не ставлять під загрозу ваше життя. <strong>Не звільняйтеся з роботи через це!</strong>
                Однак, майте на увазі, що кожен вжитий захід допомагає.
            </p>

            <h2 class="text-3xl">Чому це так важливо</h2>

            <p>
                SARS-CoV-2 високоінфекційний і потенційно смертоносний вірус, що викликає респіраторне захворювання під назвою COVID-19.
                Ви можете знати його під одним з інших багатьох назв: 2019 nCoV, новий коронавірус, Уханьський коронавірус, китайський або Уханьський грип або ж просто коронавірус.
                Все це відноситься до того ж вірусу, який цей рух намагається зупинити.
            </p>

            <p>
                За останні тижні і місяці вірус і відповідне захворювання знову і знову порівнювалися з вірусом грипу та сезонним грипом.
                Через збіг симптомів і, здавалося б, схожий ступінь тяжкості, це порівняння властиво для багатьох людей, проте,
                якщо ми подивимося на те, що ми знаємо про це новий вірус, то ми зрозуміємо, що загрозу яку він представляє для суспільства, не можна ігнорувати.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Більш заразний, ніж грип</h3>
                    <p class="font-normal">
                        За оцінкою R0 між 1.4 &ndash; 6.49, а середня оцінка 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        SARS-CoV-2 набагато більш заразний і поширюється набагато швидше, ніж сезонний грип, медіана R0 якого становить 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Смертоносніший, ніж грип</h3>
                    <p class="font-normal">
                        Так званий коефіцієнт летальності (аббр. CFR) SARS-CoV-2 за оцінками, становить близько 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>.
                        Це означає, що на жаль, 2% людей яким поставили діагноз COVID-19, помруть від нього. Для порівняння, CFR сезонного грипу близько 0.1% <sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>,
                        а це означає, що SARS-CoV-2, за оцінками в 20 разів більш смертоносний, ніж сезонний грип.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Можливість важких симптомів</h3>
                    <p class="font-normal">
                        За оцінками 15 &ndash; 20% інфікованих осіб страждають від важких симптомів, які потребують медичної допомоги<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, включаючи пневмонію із задишкою і знижене насичення крові киснем.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Ні лікування, ні вакцини, ні імунітету</h3>
                    <p class="font-normal">
                        Оскільки SARS-CoV-2 з'явився зовсім недавно, добре вивченого лікування COVID-19 не існує, і для ефективного лікування необхідні додаткові дослідження.
                        Так само немає вакцини від SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>,
                        а розробка такої вакцини займе чимало часу. Без вакцин і попереднього широко розповсюдженого імунітету - кожен є чутливою мішенню.
                        У той час як більшість заражених людей страждатимуть лише від легких симптомів, відсутність колективного імунітету може призвести до тяжких захворювань у значної кількості осіб із групи ризику.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Експоненціальний ріст</h3>
                    <p class="font-normal">
                        У зв'язку з відсутністю імунітету до цього нового вірусу, теоретичною верхньою межею для кількості інфікованих людей є весь рід людський. І хоча спочатку експоненціальний ріст здається повільним,
                        це може призвести до незрівнянно високої кількості за досить короткий час. При тому, що число інфікованих в даний час подвоюється протягом декількох днів
                        <sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup> наші медичні системи будуть потенційно перевантажені,
                        що призведе до збільшення числа смертельних випадків через те, що люди не будуть отримувати необхідну їм медичну допомогу.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Приєднуючись до руху і тим самим обмежуючи можливості для нових заражень, ви не тільки захищаєте себе, а й допомагаєте стримувати і обмежувати поширення для всіх інших,
                особливо тих, хто ризикує зазнати важких наслідків від цього вірусу.
                <br /><br />
                
                <strong>Якщо вам не байдужа ця проблема, поділіться в соціальних мережах, електронною поштою або просто розкажіть про це своїми друзями та близькими. І, будь ласка, просто #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Я приймаю участь у боротьбі проти #COVID19. Я закликаю вас зробити те саме!" data-url="https://staythefuckhome.com/ua/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Для всіх, хто хоче зробити свій внесок у веб-сайт та рух #StayTheFuckHome, ми створили веб-сайт з відкритими джерелами, щоб кожен міг зробити свій внесок. Репозиторій GitHub можна знайти тут: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Якщо у вас є якісь інші відомості щодо вмісту веб-сайту, будь ласка, напишіть нам за адресою <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Пам’ятайте лише про те, що в даний час ми отримуємо багато електронних листів, тому ми можемо не відповісти вам одразу.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Дисклеймер:</strong> Вміст цього сайту не є медичною консультацією. Наведена вище інформація призначена для того,
                щоб дати зацікавленим особам можливість дотримуватися ряду загальних принципів на основі передового досвіду і неофіційних даних для
                захисту себе і своїх близьких. Немає ніяких гарантій або наукових доказів того, що дотримання згаданих вище керівних принципів призведе
                до скорочення нових інфекцій або навіть зупинить епідемію COVID-19. Також немає гарантій, що дотримання цих рекомендацій знизить ризик зараження
                атиповою пневмонією SARS-CoV-2 або будь-якою іншою вірусною або бактеріальною інфекцією. Вся інформація, представлена на цьому сайті,
                з найкращими намірами і бажанням надати фактичну інформацію. Ні в якому разі оператори сайту не несуть відповідальності за
                будь-які претензії, збитки або інші зобов'язання. Якщо у вас є сумніви або коментарі з приводу інформації, представленої на цьому сайті,
                звертайтеся, будь ласка, з листом на <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>
