---
layout: default
meta_title: Phong trào Phòng chống Đại dịch COVID-19
meta_description: Chính phủ các nước không thể hành động một mình, tất cả chúng ta cần chung tay ngay lập tức! Làm tốt phần việc của mình và ở yên trong nhà!
body_class: home
title: '#HãyỞYênTrongNhà #StayTheFuckHome'
lang: vi
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Phong trào Phòng chống Đại dịch COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Chính phủ các nước đang phản ứng rất chậm trong việc thiết lập các phương án kiểm soát sự lây lan của virus
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                và phòng ngừa <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">đại dịch COVID-19</a>.
                Phản ứng chậm chạp, các chính sách nhượng bộ số đông và những nỗ lực có tính toán nhằm bình ổn nền kinh tế đã ngăn cản chính phủ các quốc gia triển khai những hành động cần thiết để bảo vệ hàng triệu người trước dịch bệnh.
                Tuy nhiên, trách nhiệm không chỉ đè nặng trên vai chính quyền.
                Đây là lúc tất cả chúng ta, những công dân của Trái đất, chung tay hành động ngay lập tức để dập tắt đại dịch COVID-19.
                <br /><br />
                Nói một cách dân dã: <strong>Hãy Ở Yên Trong Nhà!</strong>
            </p>

            <h2 class="text-3xl">Tuyên Bố Tự Cách Ly</h2>

            <p>
                Với tình hình thực tế là không có phác đồ điều trị chuẩn và chưa có vắc-xin phòng bệnh trong ít nhất một năm tới, cách duy nhất có tác dụng để đẩy lùi đại dịch này là giảm tối đa khả năng lây nhiễm của virus.
                Dưới đây là danh sách các hành động được sắp xếp từ dễ làm nhất đến hiệu quả nhất, coi như một bản hướng dẫn cơ bản nhằm giúp tất cả mọi người có thể tham gia phong trào này một cách thiết thực.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Không hoảng loạn nhưng luôn thận trọng.</li>
                <li class="pb-2">Rửa tay thường xuyên và che miệng khi ho hay hắt xì.</li>
                <li class="pb-2">Cố gắng chạm tay lên mặt càng ít càng tốt, bao gồm mắt, mũi, miệng.</li>
                <li class="pb-2">Giữ khoảng cách nơi đông người, không ôm hôn, bắt tay hay đập tay. Trong trường hợp bắt buộc, hãy sử dụng các cách thức tương tự (như chạm khuỷu tay).</li>
                <li class="pb-2">Không tham gia các buổi hoà nhạc, sân khấu, thi đấu thể thao hoặc các sự kiện giải trí đông người.</li>
                <li class="pb-2">Không đến bảo tàng, triển lãm, rạp chiếu phim, quán bar và các địa điểm đông người khác.</li>
                <li class="pb-2">Tránh tham gia các buổi tụ tập đông người, như gặp mặt câu lạc bộ, nghi lễ tôn giáo và các bữa tiệc riêng tư.</li>
                <li class="pb-2">Giảm tối đa các nhu cầu đi lại. Không đi xa nếu không thực sự cần thiết.</li>
                <li class="pb-2">Không sử dụng các phương tiện công cộng nếu không thực sự cần thiết.</li>
                <li class="pb-2">Hãy làm việc tại nhà nếu có thể. Đề xuất với công ty của bạn cho phép mọi người làm việc tại nhà nếu cần thiết.</li>
                <li class="pb-2">Thay thế các hình thức giao tiếp bằng những cách tương tự như gọi điện thoại hay gọi điện qua video.</li>
                <li class="pb-2">Không ra khỏi nhà nếu không thực sự cần thiết.</li>
            </ol>

            <p class="text-xl">
                Chú ý: không có quy định số lượng thế nào là đủ cho các hành động. Hãy áp dụng các biện pháp mà bạn cảm thấy thoải mái và không làm ảnh hưởng đến cuộc sống hàng ngày. <strong>Đừng nghỉ việc trong lúc này!</strong>
                Tuy nhiên, hãy nhớ rằng tất cả các hành động trên đều có thể mang đến hiệu quả.
            </p>

            <h2 class="text-3xl">Tại sao phải làm mọi thứ nghiêm trọng vậy?</h2>

            <p>
                SARS-CoV-2 là một chủng virus cực kỳ nguy hiểm và dễ dàng lây nhiễm, gây nên dịch viêm đường hô hấp có tên COVID-19.
                Virus này còn có các tên gọi khác như 2019-nCoV, virus corona bí ẩn, virus corona Vũ Hán, cúm Trung Quốc hay cúm Vũ Hán, hoặc đơn giản chỉ là virus corona.
                Tất cả các tên gọi này đều chỉ chung loại virus mà phong trào này đang cố gắng ngăn chặn.
            </p>

            <p>
                Trong những tháng vừa qua, virus và đại dịch này vẫn được đem ra so sánh với virus cúm và bệnh cúm mùa.
                Dựa trên những triệu chứng và mức độ nghiêm trọng tương tự như nhau, mọi người có thể cảm thấy những so sánh này là hiển nhiên, nhưng dựa trên những gì chúng ta đã biết về chủng virus mới, không thể dễ dàng gạt bỏ những nguy cơ của nó đối với cộng đồng trong thời điểm này.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Dễ Lây Nhiễm Hơn Cúm</h3>
                    <p class="font-normal">
                        Với chỉ số R0 (số ca lây trực tiếp từ một người bệnh trong cộng đồng mà tất cả người dân đều có thể mắc bệnh) ước tính từ 1.4 đến 6.49 với giá trị trung bình 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>, SARS-CoV-2 có mức độ và tốc độ lây nhiễm cao hơn hẳn so với cúm mùa, với giá trị trung bình R0 khoảng 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Tỉ Lệ Tử Vong Cao Hơn Cúm</h3>
                    <p class="font-normal">
                        Tỉ lệ tử vong (CFR - Case Fatality Rate) ước tính của SARS-CoV-2 là khoảng 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        có nghĩa rằng khoảng 2% các ca bệnh được chẩn đoán dương tính với COVID-19 sẽ tử vong.
                        Tỉ lệ này ở cúm mùa chỉ khoảng 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, đồng nghĩa với việc SARS-CoV-2 nguy hiểm gấp 20 so với cúm mùa.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Nguy Cơ Mắc Các Triệu Chứng Nghiêm Trọng</h3>
                    <p class="font-normal">
                        Có khoảng 15 đến 20% số người nhiễm mắc phải các triệu chứng nghiêm trọng cần phải được theo dõi y tế<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, bao gồm viêm phổi kèm theo khó thở và giảm độ bão hoà ô-xy máu.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Chưa Có Phác Đồ, Chưa Có Vắc-xin, Chưa Có Miễn Dịch</h3>
                    <p class="font-normal">
                        Do virus SARS-CoV-2 mới xuất hiện gần đây, chưa có phác đồ điều trị chuẩn cho dịch COVID-19 và sẽ cần thêm nhiều nghiên cứu nữa để có thể điều trị cho các bệnh nhân một cách hiệu quả.
                        Tương tự như vậy, chưa có vắc-xin phòng ngừa virus SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        và quá trình nghiên cứu phát triển một loại vắc-xin như vậy có thể tốn rất nhiều thời gian. Do chưa có vắc-xin và cộng đồng chưa từng xuất hiện miễn dịch tương tự trước đại dịch này, toàn bộ dân số đều có nguy cơ nhiễm bệnh.
                        Bên cạnh đa số những người khỏi bệnh đều chỉ xuất hiện các triệu chứng nhẹ, kết hợp với thực tế chưa có miễn dịch cộng đồng, một phần lớn dân số thuộc nhóm nguy cơ cao (người già, trẻ em,...) có thể mắc bệnh với mức độ nghiêm trọng.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Biểu Đồ Tăng Trưởng Hàm Số Mũ</h3>
                    <p class="font-normal">
                        Do sự thiếu miễn dịch với chủng virus mới, toàn bộ dân số đều có nguy cơ nhiễm bệnh. Mặc dù ở giai đoạn đầu, các biểu đồ số ca nhiễm đều có quá trình tăng trưởng khá chậm chạp, càng về sau con số sẽ càng tăng nhanh một cách bất ngờ. Với số lượng ca nhiễm có thể tăng gấp đôi chỉ trong vài ngày<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, hệ thống y tế của các quốc gia hoàn toàn có thể bị quá tải, dẫn tới tỉ lệ tử vong cao hơn do người bệnh không được khám chữa bệnh kịp thời.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Việc tham gia phong trào này và qua đó hạn chế khả năng lây nhiễm các ca bệnh mới, bạn không chỉ đang bảo vệ chính bản thân mình, mà còn giúp ngăn chặn và đẩy lùi nguy cơ lây nhiễm cho những người xung quanh, đặc biệt là những người thuộc nhóm có nguy cơ cao và dễ mắc phải các hậu quả nghiêm trọng từ chủng virus mới này.<br /><br />
                
                <strong>Nếu bạn quan tâm đến những điều đó, hãy cùng chia sẻ thông điệp lên các mạng xã hội, thư điện tử hoặc đơn giản là truyền đạt đầy đủ cho bạn bè và người thân của mình. Và hơn hết, #HãyỞYênTrongNhà.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Đối với những người muốn đóng góp cho phong trào và trang web #StayTheFuckHome, chúng tôi đã để mở mã nguồn trên GitHub, bạn có thể truy cập bằng đường dẫn sau: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Nếu bạn có bất kỳ thông tin hữu ích nào khác liên quan đến nội dung của trang web, vui lòng gửi thư điện tử cho chúng tôi tại địa chỉ <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Xin lưu ý rằng hiện tại chúng tôi đang nhận được rất nhiều thư điện tử nên không thể trả lời tất cả các bạn.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Miễn trừ trách nhiệm:</strong> Nội dung của trang web này không có giá trị thay thế các tham vấn y khoa. Các thông tin được cung cấp trên đây chỉ nhằm mục đích khuyến nghị các hướng dẫn cơ bản cho những người đang quan tâm, dựa trên những phương pháp hiệu quả được lưu truyền nhằm bảo vệ bản thân và người trong gia đình. Không có bất kỳ bằng chứng khoa học nào về việc làm theo các chỉ dẫn tại đây có thể giảm thiểu hoặc thậm chí ngăn chặn đại dịch COVID-19, cũng như giảm nguy cơ bị lây nhiễm virus SARS-CoV-2 hay bất kỳ chủng vi khuẩn lây nhiễm nào khác.
                Tất cả các thông tin tại trang web này đều được đưa ra một cách thực tế và có chủ đích nhất có thể. Trong mọi trường hợp việc vận hành trang web này không chịu trách nhiệm cho bất kỳ yêu cầu, thiệt hại hoặc các vấn đề pháp lý khác.
                Nếu bạn có bất kỳ vấn đề liên quan hay muốn góp ý về các thông tin được đưa ra trên trang web, vui lòng gửi thư điện tử về địa chỉ <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


