---
layout: default
meta_title: Phong trào Phòng chống Đại dịch COVID-19
meta_description: Chính phủ các nước không thể hành động một mình, tất cả chúng ta cần chung tay ngay lập tức! Làm tốt phần việc của mình và ở yên trong nhà!
body_class: home
title: '#StayTheFuckHome #ỞYênTrongNhà'
lang: vi
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Phong trào Phòng chống Đại dịch COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Chính phủ các nước đang phản ứng rất chậm trong việc thiết lập các phương án kiểm soát sự lây lan của virus
                <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a>
                và phòng ngừa <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">đại dịch COVID-19</a>.
                Phản ứng chậm chạp, các chính sách nhượng bộ số đông và những nỗ lực có tính toán nhằm bình ổn nền kinh tế đã ngăn cản chính phủ các quốc gia triển khai những hành động cần thiết để bảo vệ hàng triệu người trước dịch bệnh.
                Tuy nhiên, trách nhiệm không chỉ đè nặng trên vai chính quyền.
                Đây là lúc tất cả chúng ta, những công dân của Trái đất, chung tay hành động ngay lập tức để dập tắt đại dịch COVID-19.
                <br /><br />
                Nói một cách dân dã: <strong>Hãy Ở Yên Trong Nhà!</strong>
            </p>

            <h2 class="text-3xl">Tuyên Bố Tự Cách Ly</h2>

            <p>
                Với tình hình thực tế là không có phác đồ điều trị chuẩn và chưa có vắc-xin phòng bệnh trong ít nhất một năm tới, cách duy nhất có tác dụng để đẩy lùi đại dịch này là giảm tối đa khả năng lây nhiễm của virus.
                Dưới đây là danh sách các hành động được sắp xếp từ dễ làm nhất đến hiệu quả nhất, coi như một bản hướng dẫn đơn giản nhằm giúp tất cả mọi người có thể tham gia Phong trào này một cách thiết thực.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Không hoảng loạn nhưng luôn thận trọng.</li>
                <li class="pb-2">Rửa tay thường xuyên và che miệng khi ho hay hắt xì.</li>
                <li class="pb-2">Cố gắng chạm tay lên mặt càng ít càng tốt, bao gồm mắt, mũi, miệng.</li>
                <li class="pb-2">Giữ khoảng cách nơi đông người, không ôm hôn, bắt tay hay đập tay. Trong trường hợp bắt buộc, hãy sử dụng các cách thức tương tự (như chạm khuỷu tay).</li>
                <li class="pb-2">Không tham gia các buổi hoà nhạc, sân khấu, thi đấu thể thao hoặc các sự kiện giải trí đông người.</li>
                <li class="pb-2">Không đến bảo tàng, triển lãm, rạp chiếu phim, quán bar và các địa điểm đông người khác.</li>
                <li class="pb-2">Tránh tham gia các sự kiện đông người, như gặp mặt câu lạc bộ, nghi lễ tôn giáo và các bữa tiệc riêng tư.</li>
                <li class="pb-2">Giảm tối đa các nhu cầu đi lại. Không đi xa nếu không thực sự cần thiết.</li>
                <li class="pb-2">Không sử dụng các phương tiện công cộng nếu không thực sự cần thiết.</li>
                <li class="pb-2">If you can work from home, work from home. Urge your employer to allow remote work if needed.</li>
                <li class="pb-2">Hãy làm việc tại nhà nếu có thể. Đề xuất với công ty của bạn cho phép mọi người làm việc tại nhà nếu cần thiết.</li>
                <li class="pb-2">Thay thế các hình thức giao tiếp bằng những cách tương tự như gọi điện thoại hay gọi điện qua video.</li>
                <li class="pb-2">Không ra khỏi nhà nếu không thực sự cần thiết.</li>
            </ol>

            <p class="text-xl">
                Chú ý: không có định mức thế nào là hành động đủ. Hãy áp dụng các biện pháp mà bạn cảm thấy thoải mái và không làm ảnh hưởng đến cuộc sống hàng ngày. <strong>Đừng nghỉ việc trong lúc này!</strong>
                Tuy nhiên, hãy nhớ rằng tất cả các hành động trên đều hiệu quả.
            </p>

            <h2 class="text-3xl">Tại sao phải làm mọi thứ nghiêm trọng vậy?</h2>

            <p>
                SARS-CoV-2 là một chủng virus cực kỳ nguy hiểm và dễ dàng lây nhiễm, gây nên dịch viêm đường hô hấp có tên COVID-19.
                Virus này còn có các tên gọi khác như 2019-nCoV, virus corina bí ẩn, virus corona Vũ Hán, cúm Trung Quốc hay cúm Vũ Hán, hoặc đơn giản chỉ là virus corona.
                Tất cả các tên gọi này đều chỉ chung loại virus mà Phong trào này đang cố gắng ngăn chặn.
            </p>

            <p>
                Trong những tháng vừa qua, virus và đại dịch này vẫn được đem ra so sánh với virus cúm và bệnh cúm mùa.
                Dựa trên những triệu chứng và mức độ nghiêm trọng tương tự như nhau, mọi người có thể cảm thấy những so sánh này là hiển nhiên, nhưng dựa trên những gì chúng ta đã biết về chủng virus mới, không thể dễ dàng gạt bỏ những nguy cơ của nó đối với cộng đồng trong thời điểm này.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>More Contagious Than the Flu</h3>
                    <p class="font-normal">
                        With an estimated R0 (the expected number of cases directly generated by one case in a population where all individuals are susceptible to infection) between 1.4 &ndash; 6.49 and a mean estimate of 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        SARS-CoV-2 is much more infectious and spreads much faster than the seasonal flu, which has a median R0 of 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>More Deadly Than the Flu</h3>
                    <p class="font-normal">
                        The so-called case fatality rate (CFR) of SARS-CoV-2 is estimated to be at around 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>,
                        meaning that an estimated 2% of people getting diagnosed with COVID-19 will succumb to it. In comparison, the CFR of seasonal influenza is estimated
                        to be around 0.1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, which means SARS-CoV-2 is estimated to be about 20 times more deadly than the seasonal flu.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Possibility of Severe Symptoms</h3>
                    <p class="font-normal">
                        An estimated 15 &ndash; 20% of infected individuals suffer from severe symptoms that require medical
                        attention<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, including pneumonia with shortness of breath and lowered blood oxygen saturation.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>No Treatment, No Vaccine, No Immunity</h3>
                    <p class="font-normal">
                        As SARS-CoV-2 has only recently emerged, there is no well-studied treatment for COVID-19 and more research is needed in order to treat infected people efficiently.
                        Likewise, there is no vaccine for SARS-CoV-2 yet<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup>
                        and the development of such a vaccine will take a significant amount of time. With no vaccines and no prior wide-spread immunity, everyone is a susceptible target for infection.
                        While most infected people will only suffer from mild symptoms, this lack of herd-immunity can lead to severe illness in a significant number of at-risk individuals. 
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Exponential Growth</h3>
                    <p class="font-normal">
                        Due to the lack of immunity to this new virus, the entire human population is the upper limit of possible infections. And although exponential growth always seems slow at first,
                        it can lead to unfathomably high numbers in a rather short time. With the number of infected people currently doubling in a matter of 
                        days<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, our medical systems will potentially
                        be overloaded, which will lead to higher numbers of fatalities due to people not receiving the care they need.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                By joining the movement and therefore limiting possibilities for new infections, you are not only protecting yourself, but you are also helping contain and limit the spread for everyone else,
                especially those who are at higher risk to suffer severe consequences from this virus.<br /><br />
                
                <strong>If you care about this cause, please share it on social media, via email, or just tell your friends and family about it. But please, just #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I will do my part in the fight against #COVID19. I urge you to do the same!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                For anyone who wants to contribute to the #StayTheFuckHome website and movement, we have open-sourced the website so everyone can contribute. The GitHub repository can be found here: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                If you have any other input regarding the content of the website, please write us at <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Just keep in mind that we are currently receiving a lot of emails, so we might not get back to you directly.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> The content of this website does not constitute medical advice. The information provided above is meant as a suggestion for concerned individuals to follow a loose set of guidelines
                based on best practices and anecdotal evidence to protect themselves and their loved ones. There is no guarantee or scientific evidence that following the mentioned guidelines will lead to a reduction
                in new infections or even stop the COVID-19 epidemic. There is also no guarantee that following these guidelines will reduce the risk of getting infected with SARS-CoV-2 or any other viral or bacterial contagion.
                All information provided on this website is given with the best intent and will to provide factual information. In no event shall the website operators be held liable for any claim, damages, or other liabilities. If you have concerns or comments about the information provided on this website,
                please write to <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>


